@import '~base-scss/base';

.about-us {
    display: flex;
    position: absolute;
    top: calc(var(--height-navbar) + var(--spacing-medium));
    left: var(--spacing-medium); 
    z-index: 1;
    border: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    width: calc(100vw - var(--width-navbar-right) - var(--spacing-medium) * 2);
    height: calc(100vh - var(--height-navbar) - var(--spacing-medium) * 2);

    .left {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;

        .tabs {
            flex-shrink: 0;

            :global {
                .fixed-tab {
                    text-decoration: none;
                }
            }
        }

        .content {
            flex-grow: 1;
            overflow: auto;
        }
    }

    .right {
        display: flex;
        align-items: center;
        flex-basis: 50%;
        justify-content: center;
    }
}
