@import '~base-scss/base';

.about-us {
    display: flex;
    position: absolute;
    top: calc(var(--height-navbar) + var(--spacing-medium));
    left: var(--spacing-medium); 
    z-index: 1;
    border: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    width: calc(100vw - var(--width-navbar-right) - var(--spacing-medium) * 2);
    height: calc(100vh - var(--height-navbar) - var(--spacing-medium) * 2);

    .content {
        display: flex;
        flex-direction: column;
        margin: var(--spacing-medium) auto;
        width: 900px;
        overflow: auto;

        .tabs {
            flex-shrink: 0;

            :global {
                .fixed-tab {
                    padding: var(--spacing-large);
                    text-decoration: none;
                    font-size: var(--font-size-large);
                    font-weight: var(--font-weight-bold);
                }
            }
        }

        .content {
            flex-grow: 1;
            overflow: auto;
        }
    }

    .right {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        padding: var(--spacing-large);

        .platform-name {
            .abbr {
                color: var(--color-accent);
                font-size: var(--font-size-ultra-large-alt);
            }

            .full-form {
                font-size: var(--font-size-extra-large);
            }
        }
    }
}
