@import '~base-scss/base';

.alert-item {
    display: flex;
    align-items: center;
    padding: $spacing-medium 0;

    // cursor: pointer;
    // &:hover {
    //     background-color: $color-background-hover;
    // }

    &.new {
        background-color: var(--color-background-new-item);

        // &:hover {
        //     background-color: var(--color-background-new-item-hover);
        // }
    }

    .svg-container {
        flex-shrink: 0;
        margin: $spacing-small $spacing-medium;

        .icon {
            width: 20px;
            height: auto;
            height: $font-size-extra-large;

            path {
                fill: currentColor;
            }
        }
    }

    .default-icon {
        flex-shrink: 0;
        margin: $spacing-small $spacing-medium;
        width: 20px;
        height: 20px;
        color: $color-danger;
        font-size: $font-size-extra-large;
    }

    .right {
        flex-grow: 1;
        padding: 0 $spacing-medium;

        .title {
            font-weight: $font-weight-bold;
        }
    }
}
