.alert-item {
    display: flex;
    align-items: center;

    &.new {
        background-color: var(--color-background-new-item);
    }

    .icon {
        flex-shrink: 0;
        margin: var(--spacing-small) var(--spacing-medium);
        width: 20px;
        height: 20px;

        path {
            fill: currentColor;
        }
    }

    .default-icon {
        flex-shrink: 0;
        margin: var(--spacing-small) var(--spacing-medium);
        width: 20px;
        height: 20px;
        color: var(--color-danger);
        font-size: var(--font-size-extra-large);
    }

    .right {
        flex-grow: 1;
        border-bottom: var(--width-separator-thin) solid var(--color-separator-light);
        padding: var(--spacing-medium);

        .title {
            font-weight: var(--font-weight-bold);
        }
    }
}
