.map2{
    flex-basis: calc(50% - var(--spacing-small) * 2);
    margin: 0 var(--spacing-small);
    height: 500px;
    width: 700px;
    position: absolute;
    top: 70px;
    left: 200px;
}

.layer-switch {
    text-align: center;

    :global {
        .dropdown-button {
            padding: var(--spacing-small) var(--spacing-medium);
            font-size: var(--font-size-large);
        }
    }
}

.vrSideBar{
    position: absolute;
    left:910px;
    height:500px;
    top:20px;
    padding: 20px;
    width: 300px;
    background-color: #003e5f;
    color:#b6d6e4;
    h1,h2{
    font-family: 'Playfair Display';
    }
    p{
        color:#b6d6e4;
        font-size: 10px;
        font-family: 'Source Sans Pro';

    }
}

.vzMainContainer{
    position: relative;
    left: 0;
    top: 0;
    width:100vw;
    background-color: #003e5f;
    height: 100vh;
}
