.vzMainContainer{
    position: relative;
    background-color: #333231;
    justify-content: center;
    display: flex;
    flex-direction: row;
    // border: 1px solid white;
    padding-right: 75px;
    .map2{
        margin: 0 var(--spacing-small);
        height: 600px;
        width: 700px;
        position: relative;
        flex:3
    }
    .vrSideBar{
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: #333231;
        color:#b6d6e4;
        padding: 5px 15px;

        h1,h2{
        font-family: 'Playfair Display';
        }
        p{
            color:#b6d6e4;
            font-size: 13px;
            font-family: 'Source Sans Pro';
            text-align: justify;
        }
    }
    // .layer-switch {
    //     text-align: center;
    
    //     :global {
    //         .dropdown-button {
    //             padding: var(--spacing-small) var(--spacing-medium);
    //             font-size: var(--font-size-large);
    //         }
    //     }
    // }
}






