.map {
    display: flex;
    flex-direction: column;

    .legend-container {
        display: flex;
        flex-direction: column;
        border: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;
        overflow: auto;

        .heading {
            flex-shrink: 0;
            padding: var(--spacing-small) var(--spacing-medium);
            text-transform: uppercase;
            color: var(--color-text);
            font-size: var(--font-size-small);
        }

        .legend {
            display: flex;
            flex-grow: 1;
            padding: var(--spacing-medium);

            .legend-item {
                flex-grow: 1;

                .value-top,
                .value-bottom {
                    text-align: center;
                }


                .block {
                    height: var(--font-size-medium);
                }
            }

            .legend-item {
                &:nth-child(even) {
                    .value-top {
                        visibility: hidden;
                    }
                }

                &:nth-child(odd) {
                    .value-bottom {
                        visibility: hidden;
                    }
                }
            }
        }
    }
}

.tooltip {
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-extra-small-alt);

    .title {
        text-transform: capitalize;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
    }

    .value {
        font-size: var(--font-size-small);
    }
}
