.details {
    display: grid;
    padding: var(--spacing-large);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--spacing-medium);
    // border-right: 1px solid red;
    border-right: 1px solid rgba($color: #000000, $alpha: 0.5);

    .item {
        font-weight: var(--font-weight-bold);
        .title {
            text-transform: uppercase;
        }
        .value {
            font-size: var(--font-size-large);
        }
    }
    .full {
        @extend .item;
        grid-column: auto / span 2;
    }
}