$button-color: rgb(0,170,223);
 .vrSideBar::-webkit-scrollbar {
    display: none;
  }
  .heading-style{
    font-family: 'Playfair Display';
    font-size: 28px;
    color: white;
    line-height: 1.4em;
}
.para-style{
    color:white;
    font-size: 15px;
    font-family: 'Source Sans Pro';
    padding: 0 10px 0 0;
    opacity: 0.87;
    line-height: 1.4em;

}
    .vrSideBar{
        scrollbar-width: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color:rgb(12,36,50);
        color:#b6d6e4;
        padding: 28px 20px 20px 30px;
        width: calc(30% - 60px);
        height: 100vh;
        left: 0;
        overflow-y: scroll;
        .infoIcon{
            font-size: 16px;
            color: white;
        }
        .vulScoreRow{
            display: flex;
            justify-content: space-between;
            padding-right: 20px;
        }
        .singularPaneTable{
                margin-top: 0px;
                border-collapse: collapse;
                width: 100%;
                th{
                padding: 0.5rem;
                text-align: left;
               
                }
                td{
                border-top: 1px solid rgb(12, 87, 128);
                border-bottom: 1px solid rgb(12, 87, 128);
                padding: 0.5rem;
                text-align: left;
                color: white;
                }
                tr:nth-child(even) {
                    background-color:transparent;
               
                
                }
                tr:nth-child(odd) {
                    background-color:rgb(3,66,100);
                }
        
        }

        .backBtnContainer{
            width: 100%;
            display:flex;
            justify-content: flex-end;
            padding-right: 20px;
            padding-bottom: 20px;
            z-index: 3;
            .backButton{
                background-color: transparent;
                border: 1px solid $button-color;
                filter: saturate(100%);
                color: $button-color;
                cursor:pointer;
                padding: 5px 10px;
                margin-left: 5px;
                font-size: 10px;
                text-transform: uppercase;
                width: 50px;
    
            }
        }

        .buildingClassContainer{
            display: flex;
            width: 100%;
            border-top: 1px dotted #eee;
            justify-content: space-between;
            padding-top: 15px;
            .levelContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .iconLevel{
                    display: flex;
                    align-items: center;
                    .high{
                        // path: {fill:rgb(197,44,56); }
                        font-size: 30px;
                        color:#ff0000;
                        margin-right: 5px;
                    }
                    .med{
                        // path: {fill:rgb(193,127,90); }
                        font-size: 30px;
                        margin-right: 5px;
                        color: #0000ff;
                    }
                    .low{
                        // path: {fill: rgb(153,171,182);}
                        font-size: 30px;
                        margin-right: 5px;
                        color: #eeeeee;
                    }
                    .number{
                        font-size: 12px;
                        font-weight: 600;
                     }
                }
            }
        }

        .respContainer{
            right: 25px;
            position: relative;
            // border: 1px solid red;
        }
        .chartContainer{
            // border: 1px solid red;
            height: 600px;
            padding-top:0;
            width: 360px;
        }
        .lastPara{
            z-index: 2;
            background-color:#112330;
        }
    
        .chartContainer{
            margin-top: 20px;
            position: relative;
            right: 35px;
        }
       
        h1{
            @extend .heading-style;
            z-index: 3;

            button{
                padding: 3px 10px 10px 10px;
                z-index: 3;
                opacity: 0.87;
                background-color: transparent;
                border: none;
                cursor: pointer;
                filter: saturate(100%);
            }
        }
        h2{
            @extend .heading-style;
            opacity: 0.9 !important;
        }
        p{
            @extend .para-style;
        }
        .climateLegendContainer{
            display:flex;
            justify-content: flex-start;
            margin-left: 55px;
            min-width: 200px;
         
            .climatelegend{
            display:flex;
            padding-right: 20px;
                .legendMax{
                    width: 15px;
                    height: 15px;
                    background-color: #ffbf00;
                    padding-right: 4px;
                    margin-right: 3px;
                }
                .legendMin{
                    width: 15px;
                    height: 15px;
                    background-color: #347eff;
                    // border: 1px solid #1f59be;
                    margin-right: 3px;

                }
                .legendDaily{
                    width: 15px;
                    height: 15px;
                    background-color: #00d725;
                    // border: 1px solid #047a18;
                    margin-right: 3px;
                
                }
                .legendText{
                    color: #6490a4;
                    // opacity: 0.45;
                    font-size: 10px;
                    text-transform: uppercase;
                }
            }
        }

        .incidentsLegendsContainer{
            .hazardItemContainer{
                display: flex;
                padding: 0;
                margin: 0;
               .legendBtnSelected{
                font-size: 11px;
                display: flex;
                background-color: transparent;
                border: none;
                color: white; 
                // opacity: 0.87;
                margin-bottom: 5px;
                align-items: center;
                font-family: 'Source Sans Pro';
                filter: saturate(100%);
                cursor: pointer;
                text-transform: uppercase;

                .educationHexagon{
                    width: 11px;
                    margin: 0 7px 0 0;
                }
               }
                .legendBtn{
                    font-size: 14px;
                    display: flex;
                    background-color: transparent;
                    border: none;
                    color: white; 
                    opacity: 0.37;
                    margin-bottom: 5px;
                    align-items: center;
                    font-family: 'Source Sans Pro';
                    filter: saturate(100%);
                    cursor: pointer;
                    font-size: 11px;
                    text-transform: uppercase;
                    .educationHexagon{
                        width: 11px;
                        margin: 0 7px 0 0;
                    }
                }
            }
        
        }

    }



