@import '~base-scss/base';

.tabular-view {
    display: flex;
    flex-direction: column;

    .verified {
        color: $color-success-light;
    }

    .not-verified {
        color: $color-danger-light;
    }

    .alerts-table {
        flex-grow: 1;
    }
}
