@font-face {
    font-family: "Kalimati Regular";
    src: url("/src/resources/fonts/Kalimati\ Regular.ttf") format("truetype");
    }
    .footerPDFContainer{
    font-family: "Kalimati Regular"!important;
    width: 210mm;
    // height: 297mm;
    margin: 0 auto;
    border: 1px solid #cecccc;
    background-color: white;
    position: relative;
    padding: 10mm;
    display: flex;
    flex-direction: column;
    .twoCols{
        display: flex;
        justify-content: space-between;
     
        .annexTable{
            border-collapse: collapse;
            position: relative;
            td,th{
                height: 20px;
                border: 1px solid rgb(107, 106, 106);
                padding: 2px;
            }
            width: 100%;
            position: relative;
            
        }
    }
    h3{
        position: relative;
        margin: 40px 0 20px 0;
    }
    .provTable{
        border-collapse: collapse;
        position: relative;
        td,th{
            white-space: nowrap;
            text-align: center;
            border: 1px solid rgb(190, 188, 188);
            padding: 2px;
        }

        tr:first-child th:first-child{
            border: none;
        }
        td:first-child{
            display: flex;
            align-items: center;
           text-align: left;
        }
        
    }
    .annexTable{
        border-collapse: collapse;
        position: relative;
        td,th{
            border: 1px solid rgb(107, 106, 106);
            padding: 2px;
        }
      
  
        
    }
    }

    .footerPDFContainerEnglish{
        @extend .footerPDFContainer;
        font-family: 'Fira Sans' !important; 
    }
    