.four-hundred-four {
    top: 50%;
    bottom: unset;
    left: 50%;
    transform: translate(-50%, -50%);
    border: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    padding: calc(var(--spacing-large) - var(--spacing-small)) calc(var(--spacing-large) - var(--spacing-medium));

    .heading {
        padding: var(--spacing-small) var(--spacing-medium);
        text-align: center;
        color: var(--color-danger);
    }

    .message {
        padding: var(--spacing-small) var(--spacing-medium);
        text-align: center;
    }
}
