.edit-resource-form {
    display: flex;
    overflow-y: auto;

    .header {
        flex-shrink: 0;
    }

    .faram {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;

        .body {
            flex-grow: 1;
            overflow-y: auto;
        }
        .footer {
            flex-shrink: 0;
        }
    }
}
