.toBarContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
    margin-right: 80px;
    top: 0;
    background-color: white;
    height: 40px;
    padding-left: 25px;
    align-items: center;
    p{
        color: #777;
        font-style: italic;
    }
    .languageButton{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .nepButton{
        background-color: grey;
        opacity: 0.67;
        border: none;
        color: white;
        outline: none;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        width: 22px;
        height: 20px;
        filter: saturate(100%);
    }
    .engButton{
        @extend .nepButton;
        padding-right: 20px;
    }
    .selectedLanguage {
        background-color: #3684d8;
        opacity: 1 !important;
      }
    .langBtn{
        background: transparent;
        cursor: pointer;
        height: 40px;
        padding: 4px;
        display: flex;
        align-items: center;
        border: none;
        &:hover{
            background-color: #f5f5f5;
        }
        .langText{
            font-size: 16px;
            color: #777;
        }
        .langIcon{
            font-size: 16px;
            color: #777;
            padding-left: 5px;
        }
    }
}
.notLoggedIn{
    @extend .toBarContainer;
    justify-content: flex-end;
}