@import '~base-scss/base';

.tooltip {
    background-color: $color-foreground;
    padding: var(--spacing-small);
    max-width: var(--width-left-sidebar);

    .heading {
        font-weight: $font-weight-bold;
    }

    .goto-response-link {
        display: inline-block;
        margin: var(--spacing-small) 0;
        border-radius: 3px;
        background-color: $color-primary;
        padding: $spacing-small;
        width: auto;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-text-on-primary;
        font-size: $font-size-small;
        font-weight: $font-weight-bold;
    }

    .geoarea-name,
    .incident-date {
        padding: $spacing-extra-small 0;
    }

    .hr {
        margin: $spacing-small 0;
        border-bottom: $width-separator-thin solid $color-separator-light;
    }

    .ward-list {
        max-height: 74px;
        overflow: auto;
    }

    .loss {
        margin-top: $spacing-small;
        border-top: $width-separator-thin solid $color-separator-light;
        padding-top: $spacing-small;
    }
}
