.incident-info {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-medium) - var(--spacing-small)) calc(var(--spacing-medium-alt) - var(--spacing-medium));

    >.header {
        flex-shrink: 0;
        padding: calc(var(--spacing-small) - var(--spacing-extra-small)) calc(var(--spacing-medium) - var(--spacing-small));

        .heading {
            padding: var(--spacing-extra-small) var(--spacing-small);
            font-size: var(--font-size-large);
        }

        .incident-date {
            padding: var(--spacing-extra-small) var(--spacing-small);
        }
    }

    .actions {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .left {
            flex-grow: 1;

            .goto-response-link {
                display: block;
                padding: var(--spacing-small) var(--spacing-medium);
                text-transform: uppercase;
                color: var(--color-accent);
                font-weight: var(--font-weight-bold);
            }
        }

        .right {
            display: flex;
            align-items: center;

            .button {
                flex-shrink: 0;
            }
        }
    }

    >.content {
        flex-grow: 1;
        overflow: auto;

        .general {
            padding: calc(var(--spacing-small) - var(--spacing-extra-small)) calc(var(--spacing-medium) - var(--spacing-small));

            %text-output {
                display: table-row;

                .label {
                    display: table-cell;
                    padding: var(--spacing-extra-small) var(--spacing-small);
                }
                
                .value {
                    display: table-cell;
                    padding: var(--spacing-extra-small) var(--spacing-small);
                }
            }

            .verified {
                @extend %text-output;
            }

            .source {
                @extend %text-output;
            }

            .inducer {
                @extend %text-output;
            }

            .cause {
                @extend %text-output;
            }

            .hazard-type {
                @extend %text-output;
            }

            .event {
                @extend %text-output;
            }

            .reported-on {
                @extend %text-output;
            }
        }

        .wards {
            padding: calc(var(--spacing-small) - var(--spacing-extra-small)) 0;

            .heading {
                padding: var(--spacing-extra-small) var(--spacing-medium);
            }

            .ward-list {
                .ward {
                    display: flex;
                    padding: var(--spacing-extra-small) calc(var(--spacing-medium) - var(--spacing-small));

                    .icon {
                        flex-shrink: 0;
                        margin: 0 var(--spacing-small);
                    }

                    .name {
                        flex-grow: 1;
                        padding: 0 var(--spacing-small);
                    }
                }
            }
        }

        .loss {
            padding: calc(var(--spacing-small) - var(--spacing-extra-small)) 0;

            .title {
                padding: var(--spacing-extra-small) var(--spacing-medium);
            }

            .content {
                padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

                .row {
                    display: table-row;

                    .label {
                        display: table-cell;
                        padding: var(--spacing-extra-small) var(--spacing-small);
                    }

                    .value {
                        display: table-cell;
                        padding: var(--spacing-extra-small) var(--spacing-small);
                    }
                }
            }

        }
    }
}
