.risk {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-large) - var(--spacing-medium-alt));

    >.header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: calc(var(--spacing-medium-alt) - var(--spacing-extra-small)) calc(var(--spacing-medium-alt) - var(--spacing-medium));

        .heading {
            flex-grow: 1;
            padding: var(--spacing-extra-small) var(--spacing-medium);
        }
    }

    .description {
        padding: var(--spacing-extra-small) var(--spacing-medium);
        text-align: justify;
        white-space: pre-wrap;
        color: var(--color-text-light);
        font-size: var(--font-size-small-alt);
    }

    .options {
        position: relative;
        padding: var(--spacing-medium) 0;

        .actions {
            display: flex;
        }

        .option-button {
            flex-shrink: 0;
            outline: none;
            padding: var(--spacing-small) var(--spacing-medium);
            font-size: var(--font-size-large);

            &.active {
                background-color: var(--color-background);
            }
        }

        .metric-settings {
            .header {
                display: flex;
                align-items: center;

                .heading {
                    flex-grow: 1;
                    padding: var(--spacing-small) var(--spacing-medium);
                }
            }

            .content {
                .metric-input {
                    display: flex;
                    padding: var(--spacing-extra-small-alt);

                    .label {
                        flex-shrink: 0;
                        padding: var(--spacing-medium);
                        width: 30%;
                        max-width: 130px;
                        color: var(--color-text-label);
                        font-weight: var(--font-weight-bold);
                    }

                    .range-input {
                        flex-grow: 1;
                        margin: var(--spacing-medium);
                    }

                    .min-label {
                        position: absolute;
                        bottom: -10px;
                        left: -1px;
                        color: var(--color-text-light);
                        font-size: var(--font-size-small);
                        font-weight: var(--font-weight-bold);
                    }

                    .max-label {
                        position: absolute;
                        right: -5px;
                        bottom: -10px;
                        color: var(--color-text-light);
                        font-size: var(--font-size-small);
                        font-weight: var(--font-weight-bold);
                    }

                    .value-label {
                        position: absolute;
                        bottom: -3px;
                        z-index: 1;
                        color: #fff;
                        font-size: 9px;
                        font-weight: var(--font-weight-bold);
                        pointer-events: none;
                    }
                }
            }
        }
    }

    .show-data-table-button,
    .show-metrics-button {
        font-size: var(--font-size-large);
    }
}

.risk-tooltip {
    border-top: var(--width-separator-medium) solid var(--color-accent);
    padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

    .heading {
        padding: var(--spacing-small) var(--spacing-medium);
    }

    .content {
        padding: calc(var(--spacing-small) - var(--spacing-extra-small)) 0;

        .risk-tooltip-output {
            display: flex;
            padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

            .label {
                padding: var(--spacing-extra-small) var(--spacing-small);
                color: var(--color-text-label);
            }

            .value {
                padding: var(--spacing-extra-small) var(--spacing-small);
                font-weight: var(--font-weight-bold);
            }
        }
    }
}
