.risk {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-large) - var(--spacing-medium-alt));

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: calc(var(--spacing-medium-alt) - var(--spacing-extra-small)) calc(var(--spacing-medium-alt) - var(--spacing-medium));

        .heading {
            flex-grow: 1;
            padding: var(--spacing-extra-small) var(--spacing-medium);
        }
    }

    .description {
        padding: var(--spacing-extra-small) var(--spacing-medium);
        color: var(--color-text-light);
        font-size: var(--font-size-small-alt);

        .metric {
            padding: var(--spacing-extra-small-alt) var(--spacing-small);
        }
    }

    .options {
        position: relative;
        padding: var(--spacing-medium) 0;

        .actions {
            display: flex;
        }

        .option-button {
            flex-shrink: 0;
            outline: none;
            padding: var(--spacing-small) var(--spacing-medium);
            font-size: var(--font-size-large);

            &.active {
                background-color: var(--color-background);
            }
        }

        .metric-settings {
            position: absolute;
            left: var(--spacing-medium);
            z-index: 1;
            border: var(--width-separator-thin) solid var(--color-separator-light);
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3);
            background-color: var(--color-foreground-alt);
            width: calc(var(--width-left-panel) - 3 * var(--spacing-medium));

            .metric-input {
                display: flex;
                padding: var(--spacing-extra-small-alt);

                &:nth-child(odd) {
                    background-color: var(--color-background);
                }

                .label {
                    flex-shrink: 0;
                    padding: var(--spacing-medium);
                    width: 30%;
                    max-width: 120px;
                    text-align: right;
                    font-weight: var(--font-weight-bold);
                }

                .range-input {
                    flex-grow: 1;
                    margin: var(--spacing-medium);
                }

                .min-label {
                    position: absolute;
                    bottom: -10px;
                    left: -1px;
                    color: var(--color-text-light);
                    font-size: var(--font-size-small);
                    font-weight: var(--font-weight-bold);
                }

                .max-label {
                    position: absolute;
                    right: -5px;
                    bottom: -10px;
                    color: var(--color-text-light);
                    font-size: var(--font-size-small);
                    font-weight: var(--font-weight-bold);
                }

                .value-label {
                    position: absolute;
                    bottom: -3px;
                    z-index: 1;
                    color: #fff;
                    font-size: 9px;
                    font-weight: var(--font-weight-bold);
                    pointer-events: none;
                }
            }
        }

        .opacity-settings {
            display: flex;
            position: absolute;
            justify-content: center;
            z-index: 1;
            border: var(--width-separator-thin) solid var(--color-separator-light);
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3);
            background-color: var(--color-background);
            padding: var(--spacing-large) var(--spacing-small);
            width: 200px;
        }
    }
}

.risk-tooltip {
    padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;
    border-top: var(--width-separator-medium) solid var(--color-accent);

    .heading {
        padding: var(--spacing-small) var(--spacing-medium);
    }

    .content {
        padding: calc(var(--spacing-small) - var(--spacing-extra-small)) 0;

        .risk-tooltip-output {
            display: flex;
            padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

            .label {
                padding: var(--spacing-extra-small) var(--spacing-small);
                color: var(--color-text-label);
            }

            .value {
                padding: var(--spacing-extra-small) var(--spacing-small);
                font-weight: var(--font-weight-bold);
            }
        }
    }
}
