.risk {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-large) - var(--spacing-medium-alt));

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: calc(var(--spacing-medium-alt) - var(--spacing-extra-small)) calc(var(--spacing-medium-alt) - var(--spacing-medium));

        .heading {
            flex-grow: 1;
            padding: var(--spacing-extra-small) var(--spacing-medium);
        }
    }

    .description {
        padding: var(--spacing-extra-small) var(--spacing-medium);
        color: var(--color-text-light);
        font-size: var(--font-size-small-alt);

        .metric {
            padding: var(--spacing-extra-small-alt) var(--spacing-small);
        }
    }

    .options {
        position: relative;
        padding: var(--spacing-medium) 0;

        .actions {
            display: flex;
        }

        .option-button {
            flex-shrink: 0;
            outline: none;
            padding: var(--spacing-small) var(--spacing-medium);
            font-size: var(--font-size-large);

            &.active {
                background-color: var(--color-background);
            }
        }

        .metric-settings {
            position: absolute;
            z-index: 1;
            border: var(--width-separator-thin) solid var(--color-separator-light);
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3);
            background-color: var(--color-background);
            width: 300px;

            .metric-input {
                display: flex;
                padding: var(--spacing-large);

                .label {
                    flex-shrink: 0;
                    width: 120px;
                }

                .range-input {
                    flex-grow: 1;
                }

                .min-label {
                    position: absolute;
                    left: 4px;
                    bottom: -3px;
                    bottom: -12px;
                }

                .max-label {
                    position: absolute;
                    right: 0;
                    bottom: -12px;
                }

                .value-label {
                    display: none;
                }
            }
        }

        .opacity-settings {
            display: flex;
            position: absolute;
            justify-content: center;
            z-index: 1;
            border: var(--width-separator-thin) solid var(--color-separator-light);
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3);
            background-color: var(--color-background);
            padding: var(--spacing-large) var(--spacing-small);
            width: 200px;
        }
    }
}
