@import '~base-scss/base';

.visualizations {
    padding-top: $spacing-small;

    %chart-container {
        .header {
            .heading {
                padding: 0 $spacing-medium;
                color: $color-accent;
            }
        }

        .chart {
            height: 320px;
        }
    }

    .hazard-statistics-chart,
    .event-statistics-chart {
        @extend %chart-container;
    }
}
