@import '~base-scss/base';

.customTooltip {
    background-color: rgb(233, 232, 232) !important;
    color: #444;
    box-shadow: 0 -2px 4px -3px #000;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        color: rgb(41, 40, 40) !important;
        font-size: 12px !important;
        line-height: 1em;
        padding: 10px 0 0 10px;
        display: flex;
        justify-content: center;

    }

    p {
        color: rgb(41, 40, 40) !important;
        line-height: 0.7em !important;
        font-size: 12px !important;
        display: flex;
        justify-content: center;
    }
}

.visualizations {
    padding: calc(var(--spacing-large) - var(--spacing-medium)) 0;

    .hazard-statistics-chart {
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .heading {
                padding: 0 $spacing-medium;
                color: $color-accent;
            }

            .chart-download {
                padding: 0 $spacing-medium;
            }
        }

        .chart {
            height: 320px;
            background-color: #fff;
        }
    }

    .alert-summary {
        .header {
            .heading {
                padding: var(--spacing-medium) var(--spacing-large);
            }
        }

        .content {
            display: flex;
            flex-wrap: wrap;

            .summary-item {
                flex-basis: calc(100% / 3);
                flex-grow: 1;
                padding: var(--spacing-small) calc(var(--spacing-large) - var(--spacing-medium));

                .label {
                    padding: 0 var(--spacing-medium);
                    color: var(--color-text-label);
                    font-weight: var(--font-weight-bold);
                }

                .value {
                    padding: 0 var(--spacing-medium);
                    color: var(--color-accent);
                    font-size: var(--font-size-super-large);
                }
            }
        }


    }

    .container {
        // min-height: 100px;
    }
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.label-list {
    // fonts: '1rem', fontWeight: 'bold', fill: '#E35163'
    font-size: 1rem;
    font-weight: normal;
    fill: #efefef;
    margin: 10rem;
}