@import '~base-scss/base';

$width-right-panel: var(--width-right-panel);
$height-left-pane: calc(100vh - var(--spacing-medium) * 2);
$height-left-pane-with-timeline: calc(100vh - var(--spacing-medium) * 3 - var(--height-timeline-main-content));

.filter {
    display: flex;
    flex-direction: column;
    height: $height-left-pane;
    overflow: auto;

    &.timeline {
        height: $height-left-pane-with-timeline;
    }

    .show-filter-button-container {
        top: 0;
        right: 0;
        transform-origin: 100% 0;
    }

    .filters-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        transform-origin: 100% 0;
        border: $width-separator-thin solid $color-separator;
        border-radius: var(--radius-border-panel);
        background-color: rgba(255, 255, 255, .9);
        width: $width-right-panel;
        overflow: auto;

        >.header {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .heading {
                flex-grow: 1;
                padding: $spacing-medium;
                color: $color-primary;
            }

            button {
                flex-shrink: 0;
            }
        }

        .filter-form {
            flex-grow: 1;
            overflow: auto;

            .region-selection-input {
                margin: $spacing-medium;
            }

            .metric-selection-input {
                margin: $spacing-medium;
            }

            .start-date-input {
                margin: $spacing-medium;
            }

            .end-date-input {
                margin: $spacing-medium;
            }

            .hazard-selection-input {
                margin: $spacing-medium;
            }
        }
    }

    :global {
        .expanded-container-ghost,
        .collapsed-container-ghost {
            top: 0;
            right: 0;
        }

        .expanded-container-expanding {
            top: 0;
            right: 0;
        }
    }

}
