.mainContainer {
    width: calc(100vw - 60px);
    height: 100%;
    overflow: scroll;
    color: black;
    display: flex;


    .mainBody {
        flex: 6;

        .loader {
            width: 100% !important;
        }

        .content {
            margin-top: 100px;
            margin-left: 100px;
            margin-right: 400px;
            margin-bottom: 100px;

            p {
                text-align: justify;
                font-weight: 400;
                color: #0C0C0C;
                opacity: 0.67;
            }

            h1 {
                font-weight: 500;
                color: #0C0C0C;
                opacity: 0.87;
            }
        }
    }





}