
.popup div .mapboxgl-popup-content{
    border: 1px solid red;
    padding: 10px;
    h2{
        padding: 5px 10px;
        font-family: 'Source Sans Pro';
    }
    
    p{
        color: red;
        padding: 0 10px;
        font-family: 'Source Sans Pro';
    }
}

div {
    h2{
    padding: 5px;
    // font-family: 'Source Sans Pro';
}
}
p{
    color: red;
    padding: 0 10px;
    // font-family: 'Source Sans Pro';
}


.sliderLabel{
  position: fixed;
  right: 75px;
  bottom: 390px !important;
  color: white;
  z-index: 201;
}
.slider {
  z-index: 201;
  -webkit-appearance: none;
  width: 185px;
  height: 6px;
  background: #d3d3d3;
  outline: none;
  border-radius: 4px;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: fixed;
  right: 80px;
  bottom: 388px;
  cursor: pointer;

}

.slider:hover {
  opacity: 1;
}

.thumb-style{
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background: rgb(0,139,191);
  cursor: pointer;
}
.slider::-webkit-slider-thumb {
 @extend .thumb-style;
}

.slider::-moz-range-thumb {
  @extend .thumb-style;
}




