.vrLegendContainer{
    display: flex;
    flex-basis: fit-content;
    flex-direction: column;
    background-color: #182539;
    background-color: transparent;
    // opacity: 0.9;
    position: fixed;
    bottom:50px;
    left:20px;
    z-index: 3;
    justify-content: center;
    padding: 20px 10px;
    // align-items: center;
    // width: 200px;
    border-radius: 12px;
    h2{
        font-size: 12px;
        color: white;
        // opacity: 0.87;
        font-weight: 400;
        padding-bottom: 4px;
        padding-left: 5px;
        font-family: 'Source Sans Pro';

    }

    h1{
        font-family: 'Source Sans Pro';
    }
    p{

        font-family: 'Playfair Display';

    }
}
