@use "../../../../../stylesheets/base" as *;

.visualizations {
	padding: calc(var(--spacing-large) - var(--spacing-medium)) 0;
	.period-interval-chart {
		.header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: medium;
			color: rgba($color: black, $alpha: 0.45);
			margin: $spacing-medium 0;

			.download-group {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 $spacing-medium;
				border-radius: 10px;
				background-color: rgba($color: grey, $alpha: 0.3);
				margin-left: auto;
				cursor: pointer;
				.chart-download {
					font-size: medium;
					color: rgba($color: black, $alpha: 0.45);
				}
			}
		}

		.chart-wrapper {
			background-color: #fff;
			.heading {
				padding: $spacing-medium;
				padding-top: 0;
				color: $color-accent;
				font-size: medium;
			}
			.chart {
				height: 320px;
				background-color: #fff;
				overflow: visible !important;
			}
		}
	}
}
