.climate-change {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-medium) - var(--spacing-small));
    overflow: auto;

    >.header {
        display: flex;
        align-items: center;
        padding: calc(var(--spacing-medium) - var(--spacing-small));

        .switch {
            flex-shrink: 0;
            margin: var(--spacing-extra-small) var(--spacing-small);
        }

        .title {
            flex-grow: 1;
            padding: var(--spacing-extra-small) var(--spacing-small);
            font-weight: var(--font-weight-bold);
        }

        .show-data-table-button {
            font-size: var(--font-size-large);
        }
    }

    .short-description {
        padding: var(--spacing-extra-small) var(--spacing-medium);
        text-align: justify;
        white-space: pre-wrap;
        color: var(--color-text-light);
        font-size: var(--font-size-small-alt);
    }

    .top {
        flex-shrink: 0;
        padding: calc(var(--spacing-medium) - var(--spacing-small));

        .measurement-type-input {
            margin: var(--spacing-medium);
        }

        .time-period-input {
            margin: var(--spacing-medium);
        }

        .scenario-input {
            margin: var(--spacing-medium);
        }
    }

    .external-links {
        .header {
            .heading {
                padding: var(--spacing-small) var(--spacing-large);
            }
        }

        .content {
            .external-link {
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 0 calc(var(--spacing-large) - var(--spacing-small));

                .icon {
                    flex-shrink: 0;
                    margin: var(--spacing-small);
                    color: var(--color-accent);
                    font-size: var(--font-size-large);
                }

                .text {
                    flex-grow: 1;
                    padding: var(--spacing-small);
                }

                &:hover {
                    background-color: var(--color-background-hover);
                }
            }
        }
    }

    .bottom {
        flex-shrink: 0;
        padding: var(--spacing-large) calc(var(--spacing-large) - var(--spacing-medium));

        .header {
            flex-shrink: 0;
            padding: var(--spacing-extra-small) var(--spacing-medium);
            font-weight: var(--font-weight-bold);
        }

        .chart {
            height: 300px!important;
            overflow: hidden;
        }
    }
}

.tooltip {
    border-top: var(--width-separator-medium) solid var(--color-accent);
    padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

    .label {
        padding: var(--spacing-extra-small) var(--spacing-small);
        color: var(--color-text-label);
    }

    .value {
        padding: var(--spacing-extra-small) var(--spacing-small);
        font-weight: var(--font-weight-bold);
    }
}
