.climate-change {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-medium) - var(--spacing-small));

    .header {
        display: flex;
        align-items: center;
        padding: calc(var(--spacing-medium) - var(--spacing-small));

        .switch {
            flex-shrink: 0;
            margin: var(--spacing-extra-small) var(--spacing-small);
        }

        .title {
            flex-grow: 1;
            padding: var(--spacing-extra-small) var(--spacing-small);
            font-weight: var(--font-weight-bold);
        }
    }

    .top {
        flex-grow: 1;
        padding: calc(var(--spacing-medium) - var(--spacing-small));

        .measurement-type-input {
            margin: var(--spacing-medium);
        }

        .time-period-input {
            margin: var(--spacing-medium);
        }

        .scenario-input {
            margin: var(--spacing-medium);
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;

        .header {
            flex-shrink: 0;
            padding: var(--spacing-extra-small) var(--spacing-small);
            font-weight: var(--font-weight-bold);
        }

        .chart {
            flex-grow: 1;
            overflow: hidden;
        }
    }
}

.tooltip {
    padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;
    border-top: var(--width-separator-medium) solid var(--color-accent);

    .label {
        padding: var(--spacing-extra-small) var(--spacing-small);
        color: var(--color-text-label);
    }

    .value {
        padding: var(--spacing-extra-small) var(--spacing-small);
        font-weight: var(--font-weight-bold);
    }
}
