.left-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);

    .left {
        flex-grow: 1;
    }
}

.right-container {
    .stock-pile-filter {
        border: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
    }
}
