.left-container {
    background-color: var(--color-foreground);
}

.right-container {
    .stock-pile-filter {
        border: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
    }
}
