@import '~base-scss/base';

.date-output {
    display: flex;
    align-items: center;
    padding: var(--spacing-extra-small) calc(var(--spacing-medium) - var(--spacing-small));

    .icon {
        flex-shrink: 0;
        padding: 0 var(--spacing-small);
    }

    .formatted-date {
        flex-grow: 1;
        padding: 0 var(--spacing-small);
        color: var(--color-text-light);
        font-weight: var(--font-weight-bold);
    }
}
