.languageButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
    .nepButton {
        background-color: grey;
        opacity: 0.67;
        border: none;
        color: white;
        outline: none;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        width: 22px;
        height: 20px;
        filter: saturate(100%);
    }
    
    .engButton {
        background-color: grey;
        opacity: 0.67;
        border: none;
        color: white;
        outline: none;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        padding-right: 20px;
        cursor: pointer;
        width: 22px;
        height: 20px;
        filter: saturate(100%);
    }
    
    .selectedLanguage {
        background-color: #3684d8;
        opacity: 1 !important;
    }
}
