$theme-accent-color: #002e76;
$theme-color: #3e3e3e;
$theme-accent-color: #002e76;
$theme-color: #3e3e3e;
$Fira: 'Fira Sans', sans-serif;
$inputBackground : #F7F7F7;
$boxShadow : 0px 2px 5px rgba(151, 149, 148, 0.25);
$theme-accent-color: #002e76;
$theme-color: #3e3e3e;
.dataContainer{
    margin: 0 auto;
    position: relative;
	padding: 5% 5%;
    width: calc(100vw - 63px);
    font-family: 'Fira Sans';
    $boxShadow : 0px 2px 6px rgba(151, 149, 148, 0.45);

    .mainHeading{
        color: $theme-accent-color;
		font-family: $Fira;
    }
    .subHeading{
		font-family: $Fira;
        color: #575656;
        font-size: 13px;

    }
    .tableMenuContainer{
        min-height: 500px;
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
        // border: 1px solid gray;
        width: 78vw;
        min-width: 500px;
        .mainContent{
            padding-left: 30px; 
            .formDataContainer{
                background-color: #fefefe;
                padding: 25px 15px; 
            }
        }
    }
}