@import '~base-scss/base';

$width-left-pane: var(--width-left-panel);
$height-left-pane: calc(100vh - calc(#{$height-navbar} + #{$spacing-medium} * 2));

.left-pane {
    .overview-container {
        display: flex;
        flex-direction: column;
        transform-origin: 0 0;
        background-color: $color-foreground;
        width: $width-left-pane;
        height: $height-left-pane;

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .heading {
                flex-grow: 1;
                padding: $spacing-medium;
                color: $color-primary;
            }

            .spinner {
                flex-shrink: 0;
            }

            .show-details-button {
                flex-shrink: 0;
            }

            .collapse-button {
                flex-shrink: 0;
            }
        }

        .content {
            flex-grow: 1;
        }
    }
}
