.demographics {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;
    overflow: auto;

    >.header {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 0;
        justify-content: space-between;

        .heading {
            padding: var(--spacing-small) var(--spacing-large);
        }

        .chart-download {
            padding: var(--spacing-medium);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .demography-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: calc(var(--spacing-large) - var(--spacing-small)) 0;

            >.header {
                .heading {
                    padding: var(--spacing-small) var(--spacing-large);
                }
            }

            .info {
                display: flex;
                flex-wrap: wrap;
                padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;
            }

            .chart-container {
                padding: 0 var(--spacing-medium);
                height: 100px;

                text {
                    color: var(--color-text-light);
                    font-size: var(--font-size-small);
                }
            }

            &.age-group {
                .chart-container {
                    height: 400px;
                }
            }
        }
    }
}

.legend-container {
    position: absolute;
    bottom: var(--spacing-medium);
    left: calc(var(--width-left-panel) + var(--spacing-medium));
    background-color: var(--color-foreground);
    padding: var(--spacing-medium);
    width: 40vw;

    .legend {
        margin: var(--spacing-small);
    }

    .attribute-select-input {
        margin: var(--spacing-small);
    }
}
