.demographics {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    >.header {
        flex-shrink: 0;

        .heading {
            padding: var(--spacing-small) var(--spacing-large);
        }
    }

    .content {
        flex-grow: 1;
        overflow: auto;

        .demography-container {
            padding: calc(var(--spacing-large) - var(--spacing-small)) 0;

            >.header {
                .heading {
                    padding: var(--spacing-small) var(--spacing-large);
                }
            }

            .info {
                display: flex;
                flex-wrap: wrap;
                padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;
            }

            .chart-container {
                padding: 0 var(--spacing-medium);
                height: 100px;

                text {
                    color: var(--color-text-light);
                    font-size: var(--font-size-small);
                }
            }

            &.age-group {
                .chart-container {
                    height: 400px;
                }
            }
        }
    }
}
