.budgetPreviewContainer{
  margin-left: 30px;
  margin-top: 10px;
  h2{
      font-size: 14px;
      font-weight: 600;
      margin-left: 2%;
      color: #222;
      margin-bottom: 7px;
  }
  .simElementsContainer{
      display: flex;
      justify-content: flex-start;
      .simElements{
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-right: 7px;
          white-space: pre-wrap;
          ul{
            list-style: none;
            padding-left: 0;
          }
          p{
            font-size: 12px;
            color: #222;
          }
          .circlePatch{
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: rgb(0,177,117);
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 600;
              font-size: 20px;
              color: white;
              
          }
          .simDesc{
              font-size: 10px;
              text-transform: uppercase;
              color: #777;
              white-space: no-wrap;
          }
      }
  }
}  
.tabsPageContainer{
    table{
        border-collapse: collapse;
        width: 100%;
        // border: 1px solid #f5f5f5;
    }
    th{
        padding: 0.5rem;
        text-align: left;
    }
    td{
        // border-top: 1px solid #f5f5f5;
        // border-bottom: 1px solid #f5f5f5;
        padding: 0.5rem;
        text-align: left;
    }
    //     tr:nth-child(even) {
    //     background-color:#f5f5f5
    // }
        

    .savebtn{
        position: relative;
        left: 75%;
        margin-top: 15px;
        width: fit-content;
        background-color: rgb(0,105,222) !important;
        border-radius: 15px;
        color: white; 
        padding: 8px 12px;
        cursor: pointer;
        // border: none;
        filter: saturate(80%);
    }


.palikaTable{
    .dataUnavailable{
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 400;
    }
    table{
        border-collapse: collapse;
        width: 100%;
        }
        th{
        padding: 0.5rem;
        text-align: left;
        }
        td{
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        padding: 0.5rem;
        text-align: left;
        }
        tr:nth-child(even) {
        background-color:#f5f5f5
        }
    }
     
    .pagination {
        margin: 15px auto;
        display: flex;
        list-style: none;
        outline: none;
        justify-content: flex-end;
      }
      .pagination > .active > a{
        background-color: #3498FC ;
        border-color: #F5F5F5;
        color: #fff;
      }
      .pagination > li > a{
        border: 1px solid #F5F5F5 ;
        padding: 5px 10px;
        outline: none;
        cursor: pointer;
      }
      .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
        background-color: #3498FC ;
        border-color: #F5F5F5;
        outline: none ;
      }
      .pagination > li > a, .pagination > li > span{
        color: black
      }
      .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
        border-radius: unset
      }
      .paginationRight{
          margin-left: auto;
      }   
        
}
        
