.previewContainer{
    display:flex;
    flex-direction: column;
    // width: 210mm;
    // height: 297mm;
    .previewComps{
        display: flex;
        // width: 50%;
        border: 1px solid gray;
        padding: 20px;
    }
    .chartContainer{
        width: 50%;
        border: 1px solid gray;
        padding: 20px;
    }
}




