.left-pane {
    background-color: var(--color-foreground);
    width: var(--width-left-panel);

    .info {
        display: flex;
        align-items: center;
        padding: var(--spacing-medium) calc(var(--spacing-medium) - var(--spacing-small));

        .icon {
            flex-shrink: 0;
            margin: 0 var(--spacing-small);
            color: var(--color-info);
            font-size: var(--font-size-large);
        }

        .content {
            display: flex;
            flex-grow: 1;
            padding: 0 var(--spacing-small);
            color: var(--color-text-light);
            font-weight: var(--font-weight-bold);
        }
    }
}
