.add-alert-form-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
    height: 80vh;

    .add-alert-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .tabs {
            flex-shrink: 0;
        }

        .body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .location-input {
                flex-grow: 1;
            }

            .general-inputs {
                flex-grow: 1;
                margin: auto;
                margin-top: var(--spacing-super-large);
                background-color: var(--color-foreground-alt);
                padding: var(--spacing-large);
                width: 100%;
                max-width: 640px;
                overflow: auto;

                %input {
                    margin: var(--spacing-large);
                }

                .title-input {
                    @extend %input;
                }

                .description-input {
                    @extend %input;
                }

                .event-input {
                    @extend %input;
                }

                .source-input {
                    @extend %input;
                }

                .hazard-input {
                    @extend %input;
                }

                .started-on-inputs {
                    display: flex;
                    padding: var(--spacing-large) 0;

                    >* {
                        flex-basis: calc(50% - var(--spacing-large));
                        margin: 0 var(--spacing-large);
                    }
                }

                .expires-on-inputs {
                    display: flex;
                    padding: var(--spacing-large) 0;

                    >* {
                        flex-basis: calc(50% - var(--spacing-large));
                        margin: 0 var(--spacing-large);
                    }
                }

                .checkboxes {
                    display: flex;

                    .is-public-selection-checkbox {
                        @extend %input;
                        flex-basis: 50%;
                    }

                    .is-verified-selection-checkbox {
                        @extend %input;
                        flex-basis: 50%;
                    }
                }
            }
        }
    }
}
