.legendContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    background: rgb(24,37,57);

    background: rgba( 19, 32, 55, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 200px;

    .populationContainer{
        display: flex;
        // flex-direction: column;
        // height: 60px;
        margin-bottom: 20px;
        margin-left: 10px;
        .populationIndContainer{
            display: flex;
            // width:60px;
            flex-direction: column;
            // border: 1px solid gray;
            padding-right: 4px;
            .populationIndicator1{
                width: 12px;
                height: 20px;
                // 
                background-color: #9a3404;
                border-radius: 6px 6px 0 0;

            }
            .populationIndicator2{
                width: 12px;
                height: 20px;
                // 
                background-color: #d95f0e; 
                // margin-right: 10px;
            }
            .populationIndicator3{
                width: 12px;
                height: 20px;
                // 
                background-color:#fe9b2a;

            }
            .populationIndicator4{
                width: 12px;
                height: 20px;
                // 
                background-color:#fed990;

            }
            .populationIndicator5{
                width: 12px;
                height: 20px;
                // 
                background-color:#ffffd6;
                border-radius: 0 0 6px 6px;

            }
  
        }
        .populationTextContainer{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            .populationText{
                // width:10px;
                color: white;
                opacity:0.87;
                font-family: 'Source Sans Pro';
            }
        }
    }

    h2{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        font-family: 'Playfair Display';
    }
    .hazardItemContainer{
        display: flex;
        padding: 0;
        margin: 0;
       
        .legendBtn{
            display: flex;
            background-color: transparent;
            border: none;
            color: white; 
            opacity: 0.87;
            margin-bottom: 15px;
            align-items: center;
            font-family: 'Source Sans Pro';
            filter: saturate(100%);
            cursor: pointer;
            .educationHexagon{
                width: 20px;
                margin: 0 10px 0 0;
            }
        }
    }
}



