.resource-group {
    padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) 0;

    > .header {
        display: flex;
        align-items: center;
        padding: var(--spacing-extra-small) 0;

        .icon {
            margin: 0 var(--spacing-medium);
            width: 24px;
            height: 24px;
        }

        .heading {
            display: flex;
            flex-grow: 1;

            .resorce-name {
                flex-grow: 1;
                padding: 0 var(--spacing-small);
            }

            .count-details {
                display: flex;
                flex-shrink: 0;
                padding: 0 calc(var(--spacing-small) - var(--spacing-extra-small));

                .num-items {
                    padding: 0 var(--spacing-extra-small);
                }

                .separator {
                    padding: 0 var(--spacing-extra-small);
                }

                .total {
                    padding: 0 var(--spacing-extra-small);
                }
            }
        }

        .actions {
            flex-shrink: 0;
            padding: 0 calc(var(--spacing-medium) - var(--spacing-extra-small));

            .filter-button {
                margin: 0 var(--spacing-extra-small);
            }

            .expand-button {
                margin: 0 var(--spacing-extra-small);
            }
        }
    }

    .summary {
        padding: var(--spacing-extra-small) var(--spacing-medium);
    }
}
