@import '~base-scss/base';

.resources {
    &:not(:first-child) {
        margin-top: $spacing-large;
    }

    .header {
        display: flex;
        align-items: center;

        .icon {
            padding-right: $spacing-medium;
            height: $font-size-large;
        }

        .heading {
            flex-grow: 1;
        }

        .button {
            flex-shrink: 0;
            font-size: $font-size-small;
        }

        .filter-button {
            margin-right: $spacing-small;
        }
    }

    .content {
        // border-top: $width-separator-thin solid $color-separator;
        // border-bottom: $width-separator-thin solid $color-separator;
        height: 200px;
        overflow-y: auto;
    }
}
