.attribute {
    display: flex;
    background-color: var(--color-foreground-alt);
    cursor: pointer;
    padding: var(--spacing-small);

    .left {
        width: var(--width-icon-extra-large-alt);
        flex-shrink: 0;
        padding: var(--spacing-medium);

        h4{
            font-size: var(--font-size-extra-large-alt);
            text-align: center;
        }

        path {
            fill: var(--color-risk-info-icon);
        }
    }

    .right {
        display: flex;
        flex-grow: 1;
        align-items: center;

        .title {
            padding: var(--spacing-small) var(--spacing-medium);
            font-size: var(--font-size-large);
        }

        .description {
            padding: var(--spacing-small) var(--spacing-medium);
        }
    }

    &:hover {
        background-color: var(--color-background-hover);
    }

    &.icon-only {
        border-right: var(--width-separator-thin) solid var(--color-separator);
    }

    &.active {
        border-right-color: transparent;
        background-color: var(--color-foreground);
    }
}
