.attribute {
    display: flex;
    background-color: var(--color-foreground-alt);
    cursor: pointer;
    padding: var(--spacing-small);

    .left {
        flex-shrink: 0;
        padding: var(--spacing-medium);

        .icon {
            width: var(--width-risk-info-attribute-icon);
            height: var(--height-risk-info-attribute-icon);

            path {
                fill: currentColor;
            }
        }
    }

    .right {
        flex-grow: 1;

        .title {
            padding: var(--spacing-small) var(--spacing-medium);
            font-size: var(--font-size-large);
        }

        .description {
            padding: var(--spacing-small) var(--spacing-medium);
        }
    }

    &:hover {
        background-color: var(--color-background-hover);
    }
}
