    h2{
        margin-top: 10px;
        opacity: 0.67;
        
    }
    .floodMainContainer{
        display:flex;
        padding: 7px 0 15px 0;
        .floodSubGroup{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .floodItemContainer{
                .legendBtn{
                    cursor: pointer;
                    background-color: transparent;
                    font-size: 12px;
                    border: none;
                    color: white;
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    opacity: 0.37;
                    .educationHexagon{
                        width: 15px;
                        margin: 0 4px 0 5px;

                    }
                    .exposedIcons{
                        margin-right: 10px;
                        color: rgb(70, 70, 70);
                        font-size: 12px;
                    }
                    .exposedIconsClicked{
                        margin-right: 10px;
                        color: rgb(255, 72, 17);
                        font-size: 12px;
                    }
                }
                .legendBtnSelected{
                    cursor: pointer;
                    background-color: transparent;
                    font-size: 12px;
                    border: none;
                    color: white;
                    
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    .educationHexagon{
                        width: 15px;
                        margin: 0 4px 0 5px;

                    }
                    .exposedIcons{
                        margin-right: 10px;
                        color: rgb(70, 70, 70);
                        font-size: 12px;
                    }
                    .exposedIconsClicked{
                        margin-right: 10px;
                        color: rgb(255, 72, 17);
                        font-size: 12px;
                    }
                }
           
            }
        }
    }
    .floodDepthContainer{
        display: flex;
        // flex-direction: column;
        // 
        margin-bottom: 20px;
        .floodDepth{
            display: flex;
            flex-direction: column;
            margin-left: 7px;
            // width:60px;
            // border: 1px solid gray;

            .floodIndicator1{
                width: 30px;
                height: 20px;
                // 
                background-color: rgb(255, 94, 24);
                // border-radius: 5px 0 0 5px;
                margin-right: 4px;


            }
            .floodIndicator2{
                width: 30px;
                height: 20px;
                background-color:rgb(221,252,56); 
                // margin-right: 10px;
                margin-right: 4px;
            }
            .floodIndicator3{
                width: 30px;
                height: 20px;
                background-color:rgb(16, 104, 169);
                // border-radius: 0 5px 5px 0;
                margin-right: 4px;


            }
  
        }
        .floodDepthText{
            display: flex;
            flex-direction: column;

            .floodText{
                // border: 1px solid gray;
                // width:10px;
                color: white;
                opacity:0.87;
                padding-top: 5px;
                font-size: 11px;
            }
        }
    }

    




