@font-face {
    font-family: "Kalimati Regular";
    src: url("../../../../resources/fonts/Kalimati\ Regular.ttf") format("truetype");
    unicode-range: U+30-39;
    size-adjust: 85%;


}

.languageFont {
    font-family: "Kalimati Regular", "Fira Sans", sans-serif !important;
}

.rain-detail-modal {
    width: 90vw;
    height: 90vh;
    overflow: auto;

    .body {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .rain-details {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;

            .top {
                display: flex;
                flex-shrink: 0;
                height: 40vh;

                .image {
                    flex-basis: 60%;
                    flex-shrink: 0;
                    background-color: var(--color-background);
                }

                .no-image {
                    display: flex;
                    align-items: center;
                    flex-basis: 60%;
                    flex-shrink: 0;
                    justify-content: center;
                    background-color: var(--color-background);
                    font-size: var(--font-size-large);
                }

                .details {
                    flex-grow: 1;
                    overflow: auto;

                    .detail {
                        display: block;
                        padding: var(--spacing-medium) var(--spacing-large);

                        .label {
                            color: var(--color-accent);
                        }

                        .value {
                            font-size: var(--font-size-large);
                            font-weight: var(--font-weight-bold);
                        }
                    }
                }
            }

            .bottom {
                display: flex;
                flex-grow: 1;
                overflow: auto;

                .latest-rainfall,
                .accumulated-rainfall {
                    display: flex;
                    flex-basis: 50%;
                    flex-direction: column;
                    overflow: auto;

                    .header {
                        flex-shrink: 0;
                        padding: var(--spacing-medium);

                        .heading {
                            font-size: var(--font-size-large);
                        }
                    }

                    .content {
                        display: flex;
                        flex-grow: 1;
                        padding: 0 var(--spacing-medium);
                        overflow: auto;

                        .table {
                            flex-shrink: 0;
                            overflow: auto;

                            :global .table-header {
                                text-transform: none;
                            }
                        }

                        .chart-container {
                            display: flex;
                            flex-direction: column;
                            flex-grow: 1;

                            .header {
                                display: flex;
                                justify-content: center;
                                padding: var(--spacing-medium);

                                .heading {
                                    font-size: var(--font-size-large);
                                }
                            }

                            .rain-chart {
                                display: flex;
                                flex-grow: 1;
                            }

                            .rain-chart-legend {
                                display: flex;
                                justify-content: center;
                                border-left: var(--width-separator-thin) solid var(--color-separator);
                                background-color: var(--color-foreground);
                                padding: var(--spacing-medium);

                                .legend-item {
                                    padding: var(--spacing-extra-small) 0;
                                }
                            }
                        }
                    }
                }
                .selectComponent{
                    margin: 10px;
                }
            }
        }
    }
}