ul{
  list-style: none;
  .errorHeading{
      font-size: 14px;
      // color: rgb(224, 67, 67);
  }
  li{
      font-size: 11px;
      // color: rgb(224, 67, 67);
      
  }
}


.addReliefBttn{
  width: 100px;
  cursor: pointer;
}
.inputContainer{
  display: flex;
  border-radius: 3px;
  background-color: rgb(232,232,232);
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 10px;
  // border: 1px solid blue;
  textarea{
    padding-top: 10px !important;
    text-align: center;
    font-size: 11px;
    width: 100%;
    margin-left: 10px;
    padding: 5px;
    background-color: rgb(228, 228, 228);
    // color: white !important;

    border: none !important;
  }
  ::placeholder {
    /* Firefox 18- */
    // color: red;
    text-align: center;
    padding-top: 5px !important;
    // color: white;
}

  .labelDate{
  padding-left: 10px;
  color: #777;
  width: 100%;
  // margin-top: 15px;
  }
  select{
  border: none !important;
  padding: 0px 10px;
  background: transparent;
  width: 100%;
  padding: 15px 10px !important;
  color: #777;
  }
  .label{
  padding: 12px 18px 0 15px;
  width: 100%;
  font-size: 10px;
  color: #111;
  }
  .datepicker{
  width: 100%;
 
  
  }
  .addEditBtn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  filter: saturate(100%);
  
  .addEditIcon{
  font-size: 18px;
  padding-right: 10px;
  color: rgb(49,158,255);
  }
  }
  .inputElement{
  padding: 0;
  }
  
  input::-webkit-input-placeholder{
  font-size: 10px;
  vertical-align:middle !important;
  line-height: 25px !important;
  
  }
  
  input{
  border: none;
  padding: 15px 10px !important;
  background: transparent;
  width: 100%;
  }
  input:focus{
  outline: none;
  }
  input::placeholder{
  font-size: 12px;
  }
  .inputIcon{
  color: rgb(152,152,152);
  }
  }
.buttonDiv{
  display: flex;
}

.reliefReportSection{
  // border: 1px solid blue;
  .reliefdistRow{
    display:flex;
    // border: 1px solid red;
    .reliefDataMainContainer{
      display:flex;
      flex-direction: column;
      .reliefDistribution{
          display: flex;
          flex-direction: column;
         margin-left: 10px;
          .distItem{
              display: flex;
              align-items: center;
              ul{list-style: none; padding-left: 0;}
              .reliefIcon{
                  width: 50px;
                  height: 50px;
                  path{
                      fill:rgb(0,177,117);
                  }
              }
              .biggerText{
                  font-size: 16px;
                  color: #222;

              }
              .smallerText{
                  font-size: 10px;
                  color: #777;
              }
          }
      }
  .peopleBenefited{
      display: flex;
      // border: 1px solid red;
      flex-direction: column;
      .benefitedRow{
          display: flex;
              // border: 3px solid blue;
          margin-left: 15px;
          top: 5px;
          position: relative;
          align-items: center;
          // justify-content: center;
          .distItem{
              // border: 1px solid gray;
              display: flex;
              align-items: center;
              ul{list-style: none; padding-left: 0;}
              .reliefIcon{
                  path{fill: rgb(0,177,117)}
                  width: 40px;
                  height: 40px;
              }
              .biggerText{
                  font-size: 16px;
                  color: #222;

              }
              .smallerText{
                  font-size: 10px;
                  color: #777;
              }
          }
      }
      .lastRow{
          ul{list-style: none; 
              padding-left:10px;
          }
          display: flex;
          // border: 1px solid gray;
          .darkerSmText{
              font-size: 14px;
              color: #222;
          }
          .lighterSmText{
              font-size: 12px;
              color: #777;
          }
      }
  }
}
  }
  h2{
    font-size: 14px;
    color: #222;
    font-weight: 600;
    margin-left: 30px !important;
  }
  .incidentImpactRow{
    display: flex;
    .incidentSection{
      display: flex;
      flex-direction: column;
      h2{
        font-size: 14px;
        color: #222;
        font-weight: 600;
        margin-left: 30px !important;
      }
      .chartandlegend{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
        .legend{
          display: flex;
          flex-direction: column;
          // justify-content: center;
          align-items: center;
              .activitiesAmt{
                  .light{
                      color: #777;
                  }
                  .biggerNum{
                      font-size: 14px;
                      font-weight: 600;
                  }
              }
              .bottomRow{
                  position: relative;
                  right: 5px;
              }
              .legenditem{
                  display: flex;
                  justify-content: flex-end;
                  align-items: flex-start;
                  .legendColorContainer{
                      height: 100%;
                      display: flex;
                      justify-content: flex-start;
                      align-items: flex-start;
                      //need to fix this
                      padding-top: 17px;
                      padding-right: 2px;
                      .legendColor{
                          width: 25px;
                          height: 25px;
                          border-radius: 50%;
                          display: none;
                      }   
                  }
                  .numberRow {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      .houseIcon{
                        width: 50px;
                        height: 50px;

                      }
                      ul{list-style: none; 
                          padding-left: 1%;
                          padding-top: 0;
                      }
                      
                      .bigerNum{
                          font-size: 18px;
                      font-weight: 600;
                      }        
                      .light{
                          color: #777;
          
                      } 
                  }     
              }
          }
      }
    }
    .incidentMiddleSection{
      display: flex;
      flex-direction: column;
      height: 200px;
      align-items: center;
      justify-content: flex-start;
      // flex-wrap: wrap;
      position: relative;
      left: 20px;
      h2{
        font-size: 14px;
        color: #444;
        font-weight: 600;
      align-self: flex-start;  
      margin-left: 10px;
      // border: 1px solid gray;
      }
      .chartandlegend{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 140px;
        // border: 1px solid blue;
  
        .legend{
          display: flex;
          // flex-direction: column;
          justify-content: space-around;
          align-items: center;
          // border: 1px solid blue;
          height: 100px;
          position: relative;
          // bottom: 30px;
          width: 100%;
              .activitiesAmt{
                  .light{
                      color: #777;
                  }
                  .biggerNum{
                      font-size: 14px;
                      font-weight: 600;
                  }
              }
              .bottomRow{
                  position: relative;
                  right: 5px;
              }
              .legenditem{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
          // border: 1px solid red;
          height: 70px;
          width: 70px;

                  .legendColorContainer{
                      height: 100%;
                      display: flex;
                      justify-content: flex-start;
                      align-items: flex-start;
                      //need to fix this
                      // padding-top: 17px;
                      // padding-right: 2px;
                      .legendColor{
                          width: 15px;
                          height: 15px;
                          border-radius: 50%;
                          // display: none;
                      }   
                  }
                  .numberRow {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                     flex-direction: column;
                    //  border: 1px solid gray;
                     position: relative;
                     top: 20px;
                      ul{list-style: none; 
                          padding-left: 1%;
                          padding-top: 0;
                      }
                      .houseIcon{
                        width: 50px;
                        height: 50px;
                      }
                      .bigerNum{
                          font-size: 18px;
                      font-weight: 600;
                      }        
                      .light{
                          color: #777;
          
                      } 
                  }     
              }
          }
      }
      .houseData{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:  flex-start;
        position: relative;
        margin-top: 30px;
        // bottom: 10px;
        p{
          font-size: 12px;
          color: #222;
          font-weight: 600;
          margin-left: 10px;
        }
        .houseRow{
          display: flex;
          flex-direction: row;
          .houseElement{
            display: flex;
            .darker{
              font-size: 12px;
              font-weight: 600;
            }
            .houseIcon{
              width: 50px;
              path{
                fill: rgb(84,174,186);
              }
            }
            ul{
              list-style: none;
              padding-left: 0;
            }
          }
        }
      }
    }
  
  
  }
}


.budgetPreviewContainer{
  // margin-left: 30px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  margin-bottom: 25px;
  h2{
      font-size: 14px;
      font-weight: 600;
      margin-left: 10%;
      color: #222;
      bottom: 25px;
      position: relative;
  }
  .lossRow{
    display: flex;
    // border: 1px solid red;
    margin-left: 6%;
    .lossSection{
      display: flex;
      // flex: 1;
      border: 2px solid green;
      border-bottom: 2px solid white;
      margin: 0 2%;
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: 40px;
      bottom: 40px;
      position: relative;
      .lossElement{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 15px;
        position: relative;
        top: 10px;
        background: white;
        // border: 1px solid blue;
        // height: 80%;
        padding: 0;
        .lossIcon{
         height: 50px;
         width: 50px;
         position: relative;
         top: 10px;
          padding: 0;
          margin: 0;
          // border: 1px solid red;

       
         path{
           fill:rgb(0,177,117);
         }
        }
        .deathL{
          position: relative;
          right: 7px;
          // border: 1px solid red;
        }
        ul{
          padding-left: 0;
          padding-top: 0;
          list-style: none;
          text-align: center;
          line-height: 0.9em;
          height: 0;
          .darkerText{
            font-size: 18px;
            color: #222;
            font-weight: 600;
          }
          .smallerText{
            font-size: 10px;
            color: #777;
            position: relative;
            bottom: 7px;
          }
        }
      }
    }
  }

}
.tabsPageContainer{
  width:100%;
  overflow-x: scroll;
  // height: 50%;
  // overflow-y: scroll;
  // border: 1px solid red;

    // table{
    //   padding: 0;
    //   margin-top: 15px;
    //     border-collapse: collapse;
    //     width: 100%;
    //     border: 1px solid #f5f5f5;
    // }
    // th{
    //     padding: 0.5rem;
    //     text-align: left;
    // }
    // td{
    //     border-top: 1px solid #f5f5f5;
    //     border-bottom: 1px solid #f5f5f5;
    //     padding: 0.5rem;
    //     text-align: left;
    // }
    //     tr:nth-child(odd) {
    //     background-color:#f5f5f5
    // }
    h3{
      margin-top: 30px;
    }
      padding: 30px 50px;
      .inputContainer{
        display: flex;
        border-radius: 3px;
        background-color: rgb(232,232,232);
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        padding-left: 10px;
        .view{
            width: 100%;
            // border: 1px solid red;
        }
        .labelDate{
            padding-left: 10px;
            color: #777;
            width: 100%;
        }
        select{
            border: none !important;
            padding: 15px 10px;
            background: transparent;
            width: 100%;
            padding: 15px 10px !important;
            color: #777;
        }
        .label{
            padding: 12px 18px 0 15px;
            width: 100%;
            font-size: 10px;
            color: #111;
        }
        .dpText{
            padding-left: 12px;
            color: #777;
        }
        .datepicker{
            width: 100%;
            padding-left: 20px;
        }
        .addEditBtn{
            background-color: transparent;
            border: none;
            cursor: pointer;
            filter: saturate(100%);

            .addEditIcon{
                font-size: 18px;
                padding-right: 10px;
                color: rgb(49,158,255);
            }
        }
        .inputElement{
            padding: 0;
        }
    
        input::-webkit-input-placeholder{
            font-size: 10px;
            vertical-align:middle !important;
            line-height: 25px !important;
        }

        textarea,input{
            border: none;
            padding: 15px 10px !important;
            background: transparent;
            width: 100%;
        }
        textarea:focus,input:focus{
            outline: none;
        }
        input::placeholder{
            font-size: 12px;
        }
        textarea::placeholder{
          position: relative;
          top: 50%;
          padding-top: 50px;
          font-family: inherit !important;
        }
        .inputIcon{
            color: rgb(152,152,152);
        }
        }

.palikaTable{

  h2{
    margin-top: 10px;
  }
  
 
 
    .dataUnavailable{
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 400;
    }
    .reliefButton{
      border: 1px solid red;
    }
   
   
        
    }
     
    .pagination {
        margin: 15px auto;
        display: flex;
        list-style: none;
        outline: none;
        justify-content: flex-end;
      }
      .pagination > .active > a{
        background-color: #3498FC ;
        border-color: #F5F5F5;
        color: #fff;
      }
      .pagination > li > a{
        border: 1px solid #F5F5F5 ;
        padding: 5px 10px;
        outline: none;
        cursor: pointer;
      }
      .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
        background-color: #3498FC ;
        border-color: #F5F5F5;
        outline: none ;
      }
      .pagination > li > a, .pagination > li > span{
        color: black
      }
      .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
        border-radius: unset
      }
      .paginationRight{
          margin-left: auto;
      }   
        
}
.loaderInfo{
  position: absolute;
  top: 54%;
  left: 55%;
}
.savebtn{
  position: relative;
  margin-top: 45px;
  // width: fit-content;
  max-width: 100%;
  background-color:  #297EDF;
  border-radius: 15px;
  color: white; 
  padding: 7px 15px;
  cursor: pointer;
  // border: none;
  filter: saturate(80%);
  border: none;
  margin-right: 10px;

  white-space: nowrap;
}
.reliefBtn{
  white-space: nowrap;
  filter: saturate(100%) !important;
  border: none !important;
  background-color: transparent !important;
  .bulletPoint{
    height: 25px;
    cursor: pointer;
    opacity: 0.67;
  }
  .bulletPointaddRelief{
    height: 25px;
    cursor: pointer;
    opacity: 0.67;
   path{
     fill: black;
     fill-opacity: 0.67;
   }

  }
}