.opacity-input {
    padding: var(--spacing-small) var(--spacing-medium);
    overflow: hidden;

    .label {
        text-transform: uppercase;
        color: var(--color-text-label);
        font-size: var(--font-size-small);
    }

    .slider {
        overflow: shown;
    }
}
