.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: calc(30% - 65px);
    padding: 35px 5px;
    background-color: #0c2432;
    left: 0;
    height: 40px;
    z-index: 999;

    .numberContainer {
        display: flex;
        justify-content: space-between;
        width: 70%;
        padding: 2px 5px;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .button {
            color: white;
            position: relative;
            min-width: 35px;
            height: 35px;
            border-radius: 50px;
            transition: all 0.3s ease;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            outline: none;
            cursor: pointer;
            border: 0.25px solid rgba(255, 255, 255, 0.5);
            background-color: transparent;
            border-radius: 50%;
            font-size: 13px;
            margin: 0 5px;
        }

        .buttonFill {
            color: white;
            position: relative;
            min-width: 35px;
            height: 35px;
            border-radius: 50px;
            transition: all 0.3s ease;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            outline: none;
            cursor: pointer;
            border: 0.25px solid white;
            background-color: #17546c;
            filter: saturate(100%);
            font-size: 13px;
            margin: 0 5px;

        }
    }

    .previousNextButton {
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: none;

        .backButton {
            height: 35px;
            width: 35px;
        }

    }
}

.lastPagePagination {
    @extend .pagination;
    position: relative;
    bottom: 120px;
    width: 32%;
    left: -60px;
    margin: auto;

    .numberContainer {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
}

.circleProgress {
    position: absolute;
    stroke: white;
    left: -1px;
    top: -1px;
}

h3 {
    padding: 0;
    margin: 0;
}



@media screen and (max-width:600px) {
    .pagination {
        width: 100%;
    }

}