@import '~base-scss/base';

.legend {
    position: absolute;
    top: $spacing-medium;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    border: $width-separator-thin solid $color-separator-light;
    background-color: $color-foreground;
    padding: $spacing-small;
    width: 240px;

    .heading {
        text-align: center;
    }

    .range {
        display: flex;
        justify-content: space-between;
    }

    .scale {
        height: $font-size-medium;
    }
}
