.legend {
    position: absolute;
    bottom: var(--spacing-medium);
    z-index: 11;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--radius-border-pane);
    background-color: var(--color-foreground);
    padding: var(--spacing-medium);
    width: 40vw;

    &.left-pane-expanded {
        left: calc(var(--width-left-panel) + var(--spacing-medium) * 2);
    }

    &.timeline {
        bottom: calc(var(--height-timeline-main-content) + var(--spacing-medium) * 2);
    }

    .heading {
        padding-bottom: var(--spacing-medium);
    }

    .range {
        display: flex;
        justify-content: space-between;
    }

    .min {
        font-size: var(--font-size-small);
    }

    .max {
        font-size: var(--font-size-small);
    }

    .scale {
        display: flex;
        margin-top: var(--spacing-medium);

        .scale-element {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            text-align: right;

            .color-unit {
                flex-shrink: 0;
                height: var(--font-size-small);
            }
        }
    }
}
