.map2{
    margin: 0 var(--spacing-small);
    height: 100vh;
    width: 70%;
    position: relative;
}
.vzMainContainer{
    position: relative;
    background-color: #262834;
    justify-content: center;
    display: flex;
    flex-direction: row;
    // border: 1px solid white;
    padding-right: 75px;
    .settlementIconContainer{
        padding: 0;
        margin: 4px;
        color: white;
        opacity: 0.87;
        .settlementIcon{
            color:#254601;
            padding-right: 12px;
        }
    }  
    .sandyIconContainer{
        padding: 0;
        margin: 4px;
        color: white;
        opacity: 0.87;
        .sandIcon{
            color: rgb(120,120,120);
            padding-right: 12px;
        }
    }

    .agroIconContainer{
        padding: 0;
        margin: 4px;
        color: white;
        opacity: 0.87;
        .agricultureIcon{
            color: rgb(158,188,59);
            padding-right: 12px;
        }
        .forestIcon{
            color:rgb(123,173,85);
            padding-right: 12px;
        }
    }

    .riverIconContainer{
        padding: 0;
        margin: 4px;
        color: white;
        opacity: 0.87;
        .riverIcon{
            color: rgb(132,198,231);
            padding-right: 12px;

        }
    }
    .map2{
        margin: 0 var(--spacing-small);
        height: 100vh;
        width: 70%;
        position: absolute;
        left: 0;
    }
}






