.rain-watch {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground-alt);
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-between;

        .duration-input {
            flex-shrink: 0;
            margin: var(--spacing-small) var(--spacing-medium);

            :global {
                .segment-option {
                    background-color: var(--color-foreground-alt);
                }
            }
        }

        .show-details-button {
            flex-shrink: 0;
            margin: var(--spacing-extra-small) var(--spacing-medium);
            font-size: var(--font-size-large);
        }
    }

    .table-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .rain-watch-table {
            display: flex;
            flex-grow: 1;

            .below {
                // background-color: var(--color-success);
                background-color: #78e08f;
            }

            .above {
                background-color: #fa983a;
            }

            .danger {
                background-color: #eb2f06;
            }

            .none {
                background-color: #78e08f;
            }

            .rainfall-value {
                font-weight: var(--font-weight-normal);

                // &.below {
                //     color: var(--color-success);

                // }

                // &.above {
                //     color: var(--color-warning);
                // }

                // &.danger {
                //     color: var(--color-danger);
                // }
            }

            :global {
                .table {
                    .header {
                        border-bottom: .1px solid grey;
                        border-right: .1px solid grey;
                        border-top: .1px solid grey;
                        background-color: var(--color-foreground-alt);
                        font-weight: var(--font-weight-bold);
                    }

                    .body {
                        .row {
                            .cell {
                                border-bottom: .1px solid grey;
                                border-right: .1px solid grey;

                                &.title {
                                    color: var(--color-text-label);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
