    .legendContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 10px;

        background: rgba( 19, 32, 55, 0.35 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 12.0px );
        -webkit-backdrop-filter: blur( 12.0px );
        border-radius: 10px;
        // border: 1px solid rgba( 255, 255, 255, 0.18 );

        // font-size: 10px;
        h2{
            margin-top: 15px;
            font-size: 14px;
        }
        .switchSlides{
            margin-bottom: 10px;
            .legendBtn{
            text-align: left;
            }
            .legendBtn{
                background-color: transparent;
                border: none;
                color: white;
                .yearsIcon{
                    padding-right: 10px;
                    color: rgb(70, 70, 70);
                    font-size: 14px;
                }
                .yearsIconClicked{
                    color: rgb(196, 193, 193);
                    padding-right: 10px;
                }
            }
        }
        .subHeading{
            color: white;
            opacity: 0.87;
            line-height: 1em;
        }
        .hazardLegends{
            .hazardItemContainer{
                display: flex;
                padding: 0;
                margin: 0;
                .legendBtn{
                    background-color: transparent;
                    border: none;
                    color: white;
                    .yearsIcon{
                        padding-right: 10px;
                        color: rgb(70, 70, 70);
                        font-size: 14px;
                    }
                    .yearsIconClicked{
                        padding-right: 10px;
                        color: rgb(196, 193, 193);
                        font-size: 14px;
                    }
                    .exposedIcons{
                        padding-right: 10px;
                        color: rgb(70, 70, 70);
                        font-size: 14px;
                    }
                    .exposedIconsClicked{
                        padding-right: 10px;
                        color: rgb(255, 72, 17);
                        font-size: 14px;
                    }
                }
           
            }
                .hazardIndicator1 {
                    // border: 1px solid gray;
    
                    height: 15px;
                    width: 15px;
                    background-color: rgb(220, 235, 249);
                    margin-left: 10px; 
    
                }
                .hazardIndicator2 {
                    // border: 1px solid gray;
                    height: 15px;
                    width: 15px;
                    background-color: rgb(149,202,228);   
                    margin-left: 10px; 
                }
                .hazardIndicator3 {
                    // border: 1px solid gray;
                    height: 15px;
                    width: 15px;
                    background-color: rgb(39,144,203);   
                    margin-left: 10px; 
                }
                .hazardIndicator4 {
                    // border: 1px solid gray;
                    height: 15px;
                    width: 15px;
                    background-color: rgb(0,108,187);         
                    margin-left: 10px; 
                }
                .hazardIndicator5 {
                    // border: 1px solid gray;
                    height: 15px;
                    width: 15px;
                    background-color: rgb(0,74,162); 
                    margin-left: 10px; 
                }
                .hazardIndicator6 {
                    // border: 1px solid gray;
                    height: 15px;
                    width: 15px;
                    background-color: rgb(6,41,111);  
                    margin-left: 10px; 
                }
                .hazardIndicatorText{
                    color: white;
                    opacity: 0.87;
                    padding-left:7px;
                }
        }
        
            .legendsHidden{
                display:none;
            }
            .riverIconContainer{
                margin: 4px 4px 7px 4px;
                padding: 0;
                position: relative;
                bottom: 5px;
                color: white;
                opacity: 0.87;
                .riverIcon{
                    color: rgb(132,198,231);
                    padding-right: 5px;
                    position: relative;
                    bottom: 5px;
                }
            }
            .kmIconContainer{
                margin: 4px 4px 7px 4px;
                padding: 0;
                position: relative;
                bottom: 5px;
                color: white;
                opacity: 0.87;
                .fiveKm{
                    color: #fa972e;
                    padding-right: 5px;
                    position: relative;
                    bottom: 5px;
                }
                .twoKm{
                    color: #4336f7;
                    padding-right: 5px;
                    position: relative;
                    bottom: 5px;
                }
            }
            .populationLegends{
                // border: 1px solid gray;
                display: flex;
                flex-direction: column;
                padding-bottom: 10px;
                .legendItemContainer{
                    display: flex;
                    align-items: center;
                    width: 150px;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding:0;
                   
                    .exposureLegendText{
                        font-size: 12px;
                        color: white;
                        opacity: 0.87;
                        padding-left: 4px;
                    }
                    .exposureLegendFirst{
                        width: 20px;
                        height:13px;
                        border: 1px solid gray;
                        background-color: rgb(239,241,158);
                    }
                    .exposureLegendSecond{
                        width: 20px;
                        height:13px;
                        border: 1px solid gray;
                        background-color: rgb(202,191,126);
                    }
                    .exposureLegendThird{
                        width: 20px;
                        height:13px;
                        border: 1px solid gray;
                        background-color: rgb(166,148,90);
                    }
                    .exposureLegendFourth{
                        width: 20px;
                        height:13px;
                        border: 1px solid gray;
                        background-color: rgb(137,108,67);
                        
                    }
                    .exposureLegendFifth{
                        width: 20px;
                        height:13px;
                        border: 1px solid gray;
                        background-color: rgb(102,76,43);
                    }  
            }
          
        }
}



