@import '~base-scss/base';

.tabular-view {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .numeral {
        display: block;
        padding: $spacing-small;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .table-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .incidents-table {
            flex-grow: 1;

            .head {
                background-color: $color-background-header;
                padding: $spacing-small 0;
            }
        }
    }

    .download-link-container {
        flex-shrink: 0;
        padding: $spacing-medium;
    }
}

