$input-height : 10px;

.mainLogin{ 
    background-color: #f7f7f7;
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.mainLoginContainer{
    display: flex;
    border: 1px solid red;
    min-height: 50%;
    width: 40%;
    min-width: 300px;
    position: absolute;
    border: 1px solid rgb(170, 168, 168);
    background-color: white;
    input{
        background-color: #e8e8e8 !important;
        display: flex;
        padding: 0 0 5px 0 ;
        margin: 0 0 $input-height 0;
    }
    input:focus {
        outline: none;
      }

}
.signIn{
    padding: 40px 20px;
    width: 100%;
	font-family: 'Fira Sans', sans-serif;
    .signinTitles{
        display: flex;
        flex-direction: column;
        text-align: center;
            h1 {
                font-size: 18px;  
                color: rgb(0,105,222);  
            }
            p{
                font-size: 12px;
                color: #999;
            }
    }
    .formElements{
        display: flex;
        flex-direction: column;
        padding: 0 20%;
		.responseFromServer{
			color: red;
			margin: 0;
			font-size: 14px;
		}
        .loginBtn{
            display: flex;
            justify-content: center;
            font-family: 'Fira Sans', sans-serif;
            .newsignIn{
                width: 80px;
                filter: saturate(100%);
                background-color: rgb(0,105,222) !important;
                border-radius: 30px;
                color: white; 
                border:none;
                padding: 5px;
                cursor: pointer;
            }
            .newsignIn:hover{
                background-color: rgb(1, 54, 114) !important;

            }
        }
        .newLoginForm{
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            .horzLine{
                border: none;
                height: 1px;
                color: #aaa;
                width: 10%;
            }
            .forgotPasswordRequestBtn{
                background-color: transparent;
                border: none;
                position: relative;
                bottom: 15px;
                cursor: pointer;
                color: #444;

            }
            .errorField{
                position: relative;
                bottom: 10px;
            }
            .inputContainer{
                display: flex;
                border-radius: 4px;
                background-color: rgb(232,232,232);
                justify-content: flex-start;
                align-items: center;
                font-family: 'Fira Sans', sans-serif;
                // border: 1px solid gray;
                margin-bottom: 10px;
                padding-left: 10px;
                padding-right: 0;
                input::-webkit-input-placeholder{
                    font-size: 10px;
                    vertical-align:middle !important;
                    line-height: 25px !important;
                }
                input{
                    border: none;
                    margin-top: 12px;
                    margin-left: 0;
                    max-width:100%;
                    top:10px;
                }
                .inputIcon{
                    color: rgb(152,152,152);
                }

            }
          
            .horLine{
                background-color:#e5e5e5;
                border: none;
                width: 130px;
                height: 1px;
                margin-bottom: 20px;
            }
       
            
        }  
    }
}
$input-height : 10px;

.mainLogin{ 
    background-color: #f7f7f7;
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.mainLoginContainer{
    display: flex;
    border: 1px solid red;
    min-height: 50%;
    width: 40%;
    min-width: 300px;
    position: absolute;
    border: 1px solid rgb(170, 168, 168);
    background-color: white;
    input{
        background-color: #e8e8e8 !important;
        display: flex;
        padding: 0 0 5px 0 ;
        margin: 0 0 $input-height 0;
    }
    input:focus {
        outline: none;
      }

}
.signIn{
    padding: 40px 20px;
    width: 100%;
    .signinTitles{
        display: flex;
        flex-direction: column;
        text-align: center;
            h1 {
                font-size: 18px;  
                color: rgb(0,105,222);  
            }
            p{
                font-size: 12px;
                color: #999;
            }
    }
    .formElements{
        display: flex;
        flex-direction: column;
        padding: 0 20%;
     
        .loginBtn{
            display: flex;
            justify-content: center;
            .newsignIn{
                width: 80px;
                filter: saturate(100%);
                background-color: rgb(0,105,222) !important;
                border-radius: 30px;
                color: white; 
                border:none;
                padding: 5px;
                cursor: pointer;
            }
            .newsignIn:hover{
                background-color: rgb(1, 54, 114) !important;

            }
        }
        .newLoginForm{
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            .horzLine{
                border: none;
                height: 1px;
                color: #aaa;
                width: 10%;
            }
            .forgotPasswordRequestBtn{
                background-color: transparent;
                border: none;
                position: relative;
                bottom: 15px;
                cursor: pointer;
                color: #444;

            }
            .errorField{
                position: relative;
                bottom: 10px;
            }
            .inputContainer{
                display: flex;
                border-radius: 4px;
                background-color: rgb(232,232,232);
                justify-content: flex-start;
                align-items: center;
                // border: 1px solid gray;
                margin-bottom: 10px;
                padding-left: 10px;
                padding-right: 0;
                input::-webkit-input-placeholder{
                    font-size: 10px;
                    vertical-align:middle !important;
                    line-height: 25px !important;
                }
                input{
                    border: none;
                    margin-top: 12px;
                    margin-left: 0;
                    max-width:100%;
                    top:10px;
                }
                .inputIcon{
                    color: rgb(152,152,152);
                }

            }
          
            .horLine{
                background-color:#e5e5e5;
                border: none;
                width: 130px;
                height: 1px;
                margin-bottom: 20px;
            }
       
            
        }  
    }
}
