.legendsContainer{
    background: rgba( 19, 32, 55, 1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12.0px );
  -webkit-backdrop-filter: blur( 12.0px );
  border-radius: 0 5px 5px 0;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 10px;
  position: fixed;
  bottom: 15px;
  right: 70px;
  color: white;
  h2{
      color: white;
      font-size: 10px;
  }
    .legendsItemsList{
        display: flex;
        flex-direction: column;
        .legendsRow{
            display: flex;
            align-items: center;
            margin-bottom: 0px;
            font-size: 11px;
            .legendsHexagon{
                width: 20px;
                margin-right: 4px;
            }
            .legendsSquare{
                width: 16px;
                height: 16px;
                margin-right: 4px;
            }
        }
    }
}