.itemContainer{
    display: flex;
    align-items: flex-end;
    margin-right: 15px;
    .icon{
        img{
            width: 42px;
            height: 42px;

            g{
                fill: black !important;
            }
        }
    }
    .stat{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .goloBatch{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            color: white;
            background-color: #3457A6;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}