@import '~base-scss/base';

.region-select-input {
    display: flex;

    .admin-level-select-input {
        margin: 0 $spacing-small;
    }

    .geoarea-select-input {
        margin: 0 $spacing-small;
    }
}
