@import '~base-scss/base';

$width-filter-container: 260px;
$width-vertical-nav: 64px;

$width-non-tabular-container: 360px;
$width-tabular-container: calc(100vw - calc(#{$width-filter-container} - #{$width-vertical-nav} - #{$spacing-medium}) * 3);

.left-pane {
    .show-incident-button-container {
        transform-origin: 0 0;

        .show-incidents-button {
            padding: $spacing-extra-small $spacing-small;
            color: $color-danger;
            font-size: $font-size-extra-large;
        }
    }

    .incidents-container {
        transform-origin: 0 0;
        border: $width-separator-thin solid $color-separator-light;
        overflow: auto;

        .non-tabular-container {
            display: flex;
            flex-direction: column;
            transform-origin: 0 0;
            background-color: $color-foreground;
            width: $width-non-tabular-container;
            height: calc(100vh - calc(#{$height-navbar} + #{$spacing-medium} * 2));
            overflow: auto;

            .header {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                padding: $spacing-small 0;

                .heading {
                    flex-grow: 1;
                    padding: 0 $spacing-medium;
                    color: $color-primary;
                }

                .expand-tabular-view-button {
                    flex-shrink: 0;
                }

                .hide-incidents-button {
                    flex-shrink: 0;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: auto;

                .header {
                    flex-shrink: 0;
                    padding-top: $spacing-medium;

                    .heading {
                        padding: $spacing-medium;
                        text-align: flex-start;
                        color: $color-primary;
                    }
                }
            }
        }

        .tabular-container {
            display: flex;
            flex-direction: column;
            transform-origin: 0 0;
            background-color: $color-foreground;
            width: $width-tabular-container;
            height: calc(100vh - calc(#{$height-navbar} + #{$spacing-medium} * 2));

            .header {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                justify-content: flex-end;

                .heading {
                    align-self: flex-start;
                    flex-grow: 1;
                    padding: $spacing-medium;
                    color: $color-primary;
                }
            }

            .tabular-view {
                flex-grow: 1;
                overflow: auto;
            }
        }
    }
}
