.mainPwdReqContainer{
    // height: 55vh;
    display: flex;
    .errMsg{
        font-size: 9px;
        color: red;
        position: relative;
        display: flex;
        // border: 1px solid red;
    }
    .welcomeBack{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(to top left, rgb(0,68,138), rgb(39,124,217));
    padding-top: 5%;
    flex: 1;
        h1{
            color: white;
            font-size: 16px;
            padding-top: 10%;
            text-align: center;
        }
        p{
            color: white;
            padding: 0 20%;
            text-align: center;
            font-size: 11px;
        }
        .loginBtn{
            .newsignIn{
                background-color: transparent !important;
                color: white !important;
                font-size: 10px;
                border: 2px solid white !important;
                filter:saturate(100%) !important;
                border-radius: 20px;
                opacity: 0.87 !important;
                padding: 7px 20px;
                margin-top: 4%;
                box-shadow: 0 3px rgba(23,23,23, 0.1);
            }
        }
    }
    .pwdRequestContainer{
        flex: 1.4;
        border: 1px solid gray;
        flex-direction: column;
        padding: 0 20px 10px 20px;
        .closeBtn{
            display: flex;
            flex:1;
            justify-content: flex-end;
            margin: 5px 10px;
            .dangerbtn{
            border: none;
                .closeIcon{
                    font-size: 16px;
                }
            }
        }
        .termsandconditions{
            border: 1px solid #ddd;
            overflow: scroll;
            max-height: 250px;
            flex:5;
            padding: 5px 20px;
            margin: 15px 20px;
            .description{
                font-size: 12px;
                padding: 1% 3% 0 2%;
                line-height: 2em;
                color: #777;
            }
            .iAgreeCheckBox{
                margin: 0 10px 10px 5px;
                display: flex;
                .tncCheckbox{
                    margin-right: 4px;
                }
                .chkboxLbl{
                    color: #777;
                    font-size: 12px;
                    line-height: 1.7em;
                }
            }
        }
        .BtnsandErr{
            flex:1;
            display:flex;
            padding: 10px;
            justify-content: space-between;
            .cancelAgreeBtns{
                display: flex;
                justify-content: flex-end;
                // border: 1px solid gray;
                width: 100%;
                .agreeBtn{
                    width: 80px;
                    filter: saturate(100%);
                    background-color: rgb(0,105,222) !important;
                    border-radius: 30px;
                    color: white; 
                }
                .cancelBtn{
                    width: 60px;
                    filter: saturate(100%);
                    background-color: rgb(255,255,255) !important;
                    border-radius: 30px;
                    color: rgb(0,105,222); 
                    border:none;
                }
                .disabled{
                    width: 80px;
                    filter: saturate(100%);
                    background-color: rgb(115, 152, 189) !important;
                    border-radius: 30px;
                    color: rgb(255, 255, 255); 
                }

            }
        }
       
    }
}