.container{
    display: flex;
    .wrapper{
    display: flex;
    align-items: center;
    padding-right: 10px;
    .radioItems{
        padding-left: 3px;
        text-align: center;
        text-transform: capitalize;
    }
    .radioInput{
        cursor: pointer;
        margin: 0;
    }
}

}