.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid red;
    .radioItems{
        text-transform: capitalize;
        padding: 2px;
    }
    .radioInput{
        cursor: pointer;
    }
}