.risk-item {

    .top {
        display: flex;
        align-items: center;

        .left {
            flex-shrink: 0;
        }

        .right {
            display: flex;
            flex-grow: 1;

            .expand-button {
                display: flex;
                flex-grow: 1;

                &:focus{
                    outline: none;
                }

                .title{
                    flex-grow: 1;
                    text-align: left;
                }

                .icon {
                    flex-shrink: 0;
                }
            }
        }
        padding: var(--spacing-small);

        &:hover{
            background-color: var(--color-background-hover);
        }
    }

    .bottom {
        padding: var(--spacing-small) var(--spacing-small) var(--spacing-small) var(--spacing-extra-large-alt);

        .iconList {
            display: flex;
            justify-content: center;
            margin-top: var(--spacing-medium);
            border-top: var(--spacing-super-small) solid var(--color-separator);
            border-bottom: var(--spacing-super-small) solid var(--color-separator);
            font-size: var(--font-size-large);


            div{
                transition: all 0.5s ease;
                cursor: pointer;
                padding: var(--spacing-small-alt) var(--spacing-medium-alt);
                color: var(--color-accent);

                &:hover{
                    background-color: var(--color-accent);
                    color: var(--color-foreground);
                }
            }
        }
    }
}
