@import '~base-scss/base';

$width-filter-container: var(--width-right-panel);
$width-vertical-nav: var(--width-navbar-right);

$width-non-tabular-container: var(--width-left-panel);
$width-tabular-container: calc(100vw - #{$width-filter-container} - #{$width-vertical-nav} - calc(#{$spacing-medium} * 3));


.left-pane {
    border-radius: $radius-border-large;

    .show-resource-button-container {
        transform-origin: 0 0;
    }

    .resource-container {
        transform-origin: 0 0;
        border: $width-separator-thin solid $color-separator-light;
        background-color: rgba(255, 255, 255, .9);
        overflow: auto;

        .non-tabular-container {
            display: flex;
            flex-direction: column;
            background-color: $color-foreground;
            width: $width-non-tabular-container;
            height: auto;
            overflow: auto;

            .resource {
                display: flex;
                position: relative;
                flex-direction: column;
                flex-grow: 1;
                overflow: auto;

                .header {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .heading {
                        flex-grow: 1;
                        padding: $spacing-medium;
                        color: $color-primary;
                    }
                }

                .hide-resource-button {
                    flex-shrink: 0;
                    margin-right: $spacing-small;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    overflow: auto;

                    .incident-info {
                        flex-shrink: 0;
                        margin-bottom: $spacing-medium;
                        padding: $spacing-medium;
                    }
                }
            }
        }

        .tabular-container {
            display: flex;
            flex-direction: column;
            background-color: $color-foreground;
            width: $width-tabular-container;
            height: calc(100vh - calc(#{$height-navbar} + #{$spacing-medium} * 2));

            .header {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                justify-content: flex-end;

                .heading {
                    align-self: flex-start;
                    flex-grow: 1;
                    padding: $spacing-medium;
                    color: $color-primary;
                }
            }

            .tabular-view {
                flex-grow: 1;
                overflow: auto;
            }
        }
    }
}
