@import '~base-scss/base';

.resources {
    margin-bottom: $spacing-medium;
    padding: $spacing-small 0;

    .header {
        display: flex;
        margin-bottom: $spacing-small;

        .icon {
            padding-right: $spacing-medium;
            height: $font-size-large;
        }

        .heading {
            flex-grow: 1;
        }
    }
}
