.active-layers {
    display: flex;
    flex-direction: column;
    overflow: auto;

    > .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);

        .heading {
            flex-grow: 1;
            padding: var(--spacing-small) var(--spacing-medium);
        }

        .actions {
            flex-shrink: 0;
            padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

            .toggle-opacity-input-visibility-button {
                margin: 0 calc(var(--spacing-small) - var(--spacing-extra-small-alt));
                padding: var(--spacing-extra-small-alt) var(--spacing-small);
                font-size: var(--font-size-large);

                &.active {
                    color: var(--color-accent);
                }
            }

            .toggle-legend-visibility-button {
                margin: calc(var(--spacing-small) - var(--spacing-extra-small-alt));
                padding: var(--spacing-extra-small) var(--spacing-extra-small-alt);
                font-size: var(--font-size-large);

                &.active {
                    color: var(--color-accent);
                }
            }
        }
    }

    .content {
        flex-grow: 1;
        overflow: auto;
    }
}

.active-layer-container {
    display: flex;
    z-index: 11;
    background-color: var(--color-foreground);

    .drag-handle {
        align-self: flex-start;
        flex-shrink: 0;
        margin: var(--spacing-medium);
    }

    .active-layer {
        flex-grow: 1;
        width: 270px;
    }
}

.active-layer {
    padding: calc(var(--spacing-medium-alt) - var(--spacing-medium)) 0;

    .header {
        display: flex;
        align-items: center;
        padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
        }

        .remove-layer-button {
            flex-shrink: 0;
            margin: calc(var(--spacing-small) - var(--spacing-extra-small-alt)) calc(var(--spacing-medium) - var(--spacing-small));
            padding: var(--spacing-extra-small-alt) var(--spacing-small);
        }
    }

    .content {
        padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;
    }
}
