.formContainer{
    width: 100%;
    padding: 40px;
    margin-bottom: 100px;
    background-color: white;
    .pratikriyas{
        background-color: #EAEBEC;
        padding: 2mm 10mm;
        margin-top: 5mm;
        // height: 80mm;
        ul{
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
        }
        ul li{
            width: calc(48% - 4mm);
            margin: 2mm;
            font-size: 14px;
            list-style: none;
        }
    }

    .responseTable{
        border-collapse: collapse;
        position: relative;
        td,th{
            height: 20px;
            border: 1px solid rgb(107, 106, 106);
            padding: 2px;
            text-align: left;
        }
        width: 100%;
        position: relative;
    }
.formSubContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 40px;
    .btnContainer{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .formItem{
        border: 1px solid #cecccc;
        border-radius: 3px;
        padding: 0 0 10px 10px;
        margin-top: 12px;
        display: flex !important;
        align-items: center;
        // bottom: 10px;
        background-color: #f3f3f3;
        height: 65px;
        width: 100%;
        }
    .formItemHalf{
       @extend .formItem;
       justify-content: space-between;
       width: 49% !important;
        }
    .formItemThird{
       @extend .formItem;
       width:
        30% !important;
        }
        h3{
            color:#707070;
            font-size: 16px;
            font-weight: 400;
            margin: 10px 0 0 0;
            width: 100%;
        }
       
}
h2{
    color: #003572;
    font-size: 22px;
    margin-bottom: 50px;
    margin: 50px 0 20px 0;
}
h3{
    color:#707070;
    margin: 50px 0 20px 0;
    font-size: 16px;
    font-weight: 400;
}

}