@font-face {
    font-family: "Kalimati Regular";
    src: url("../../../../resources/fonts/Kalimati\ Regular.ttf") format("truetype");
    }


.formContainer{
    width: 100%;
    padding: 40px;
    margin-bottom: 100px;
    background-color: white;
    .pratikriyas{
        // background-color: #EAEBEC;
        // padding: 2mm 10mm;
        margin-top: 5mm;
        // height: 80mm;
        ul{
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
        }
        ul li{
            width: calc(48% - 4mm);
            margin: 2mm;
            font-size: 14px;
            list-style: none;
        }
    }

    .responseTable{
        border-collapse: collapse;
        position: relative;
        width: 100%;
        table {
            table-layout:fixed;
            width:100%;
        }
        tr{ 
            page-break-inside: avoid;
        }
        td,th{
            height: 20px;
            border: 1px solid rgb(107, 106, 106);
            padding: 2px 8px;
            text-align: left;
        }
        td{
            font-size: 12px;
        }
        th{
            font-size: 14px;
            padding: 8px 10px !important;
        }
        .lastRow{
            background: #c5c5c5;
            color: black;
            font-size: 16px !important;
        }
        // width: 100%;
        .formItemHalf{
            @extend .formItem;
            justify-content: space-between;
            width: calc(100%) !important;
            // margin-left: 4;
            .inputContainer{
                display: flex;
                border-radius: 4px;
                background-color: rgb(232,232,232);
                justify-content: flex-start;
                align-items: center;
                margin: 4px 0 7px 0;
          
                textarea::-webkit-input-placeholder{
                    font-size: 10px;
                    vertical-align:middle !important;
                    line-height: 25px !important;
                }
     
                textarea{
                    border: none;
                    padding: 12px 7px;
                    margin-left: 10px;
                    background: transparent;
                    width: 100%;
                }
     
                textarea:focus{
                    outline: none;
                }
     
                textarea::placeholder{
                    font-size: 12px;
                }
     
                .inputIcon{
                    color: rgb(152,152,152);
                }
     
                }
             }
    }
.formSubContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 40px;
    .btnContainer{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .formItem{
        border: 1px solid #cecccc;
        border-radius: 3px;
        padding: 0 0 10px 10px;
        margin-top: 12px;
        display: flex !important;
        align-items: center;
        // bottom: 10px;
        background-color: #f3f3f3;
        height: 65px;
        width: 100%;
        }
    
    .formItemThird{
       @extend .formItem;
       width:
        30% !important;
        }
        h3{
            color:#707070;
            font-size: 16px;
            font-weight: 400;
            margin: 10px 0 0 0;
            width: 100%;
        }
       
}
h2{
    color: #003572;
    font-size: 22px;
    margin-bottom: 50px;
    margin: 50px 0 20px 0;
}
h3{
    color:#707070;
    margin: 50px 0 20px 0;
    font-size: 16px;
    font-weight: 400;
}

}

.formContainerAnnex{
    @extend .formContainer;
    padding: 0px;
    margin-bottom: 0;
    .pratikriyas{
        background-color: #ffffff;
        padding: 0 0;
        margin-top: 0mm;
        // height: 80mm;
        ul{
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
        }
        ul li{
            width: calc(48% - 4mm);
            margin: 2mm;
            font-size: 14px;
            list-style: none;
        }
    }
}

.formContainerNepali{
    font-family: 'Kalimati Regular' !important;
}
.formContainerEnglish{
    font-family: 'Fira Sans' !important;
}