.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    background: white;
    padding: 5px 10px;
    margin-bottom: 5px;

    .currentSelection{
            font-size: 14px;
            font-weight: 600;
            padding-top: 5px;
            margin: 0;
    }

    .wrapper {
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 260px;
        padding: 5px 10px 10px 5px;

        .spinner{
            font-size: 24px;
            color: red;
            padding: 10px;
        }


        .legendItem {
            width: 42%;
            display: flex;
            align-items: center;
            padding: 10px 0px;
            white-space: nowrap;

            .legendColor {
                width: 50px;
                height: 20px;
            }

            .legendText {
                padding-left: 5px;
                text-align: center;
            }
        }
    }

  
}