.formContainer {
    width: 100%;
    // margin-bottom: 100px;
    background-color: white;

    .subContainer {
        padding: 0;
        width: 100%;

        .picture {
            font-size: 20px;

            img {
                object-fit: contain;
            }


        }

        .footerText {
            padding: 0;
            width: 80mm;
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }

    h2 {
        color: #003572;
        font-size: 22px;
        margin-bottom: 50px;
        margin: 10px 0 20px 0;
    }

    h3 {
        color: #707070;
        margin: 10px 0 20px 0;
        font-size: 16px;
        font-weight: 400;
    }

    .formItem {
        border: 1px solid #cecccc;
        border-radius: 3px;
        padding: 0 0 10px 10px;
        margin-top: 12px;
        display: flex !important;
        align-items: center;
        // bottom: 10px;
        background-color: #f3f3f3;
        height: 65px;
        width: 100%;
    }

}