.textData {
    position: fixed;
    top: -2px;
    left: 54%;
    z-index: 10;
    overflow: hidden;
    width: fit-content;
    border: 2px solid #ccc;
    padding: 0.313rem 1.25rem;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 5px;
}