.pollution-modal {
    width: 90vw;
    height: 90vh;
    overflow: auto;

    .body {
        display: flex;
        flex-direction: column;
        .modal-row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // border: 2px solid red;
            height: 50%;
            & > * {
                border: 1px solid red;
                margin: 4px;
                padding: 4px;
            }
            .modal-map {
                .map-1 {
                    flex-basis: calc(50% - var(--spacing-small) * 2);
                    margin: 0 var(--spacing-small);
                    height: 100%;
                }
            }

            .modal-details {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            .modal-one-month {
            }

            .modal-twelve-month {
            }
        }
    }
}