.mainTAble {
    margin-top: 20px;
}

.template {
    margin-top: 20px;
}

.templateTable {
    margin-top: 10px;
}

.details {
    padding-top: 20px;
}

.ListWithImage{
    margin: 4px;
    display: flex;
    flex-direction: column;

    img{
        max-width: 290px;
        margin: 3px;
    }
}