.stat {
    display: flex;
    flex-basis: calc(100% / 5);
    flex-grow: 1;
    padding: var(--spacing-small) var(--spacing-medium);

    .label {
        order: 2;
        color: var(--color-text);
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-light);
    }

    .value {
        order: 1;
        color: var(--color-danger);
        font-size: var(--font-size-super-large);
        font-weight: var(--font-weight-light);
    }
}
