.table-view {
    :global {
        .table {
            white-space: nowrap;
            height: 300px;
            .header {
                border: 1px solid black;
                background-color: var(--color-foreground-alt);
                font-weight: bold;
            }
      
            .body {
                .row {
                    .cell {
                        // border-bottom: .1px solid black;
                        // border-right: .1px solid black;
                        border: 1px solid rgba($color: #000000, $alpha: 3)
                    }
                }
            }
        }
      }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-medium) 0;
        margin-bottom: var(--spacing-medium);
        
        .date-range {
            // font-weight: bold;
            font-size: var(--font-size-medium-alt);
            border-bottom: 1px solid rgba($color: #000000, $alpha: 3);
            padding: var(--spacing-small);
            // color: var(--color-text-disabled);
        }
    }
    .pollution-table {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
}