.legend {
    position: absolute;
    bottom: var(--spacing-medium);
    // left: calc(var(--width-left-panel) + var(--spacing-medium));
    left: 49%;
    z-index: 11;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: var(--radius-border-pane);
    background-color: var(--color-foreground);
    padding: var(--spacing-medium);
    width: 240px;

    .heading {
        padding-bottom: var(--spacing-medium);
    }

    .range {
        display: flex;
        justify-content: space-between;
    }

    .min {
        font-size: var(--font-size-small);
    }

    .max {
        font-size: var(--font-size-small);
    }

    .scale {
        display: flex;
        height: var(--font-size-medium);
    }
}
