.legendContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10px;
    background: rgb(24,37,57);
    h1{
        color: white;
    }
    width: 200px;
    h2{
        margin-top: 20px;
    }
    .hazardItemContainer{
        display: flex;
        padding: 0;
        margin: 0;
        .chisapaniText{
            color: white;
            opacity: 0.87;
            padding-left: 8px;
        }
        .yearsIcon{
            padding-right: 10px;
            color: rgb(70, 70, 70);
            font-size: 14px;
        }
        .yearsIconClicked{
            padding-right: 10px;
            color: rgb(196, 193, 193);
            font-size: 14px;
        }
        .exposedIcons{
            padding-right: 10px;
            color: rgb(70, 70, 70);
            font-size: 14px;
        }
        .exposedIconsClicked{
            padding-right: 10px;
            color: rgb(196, 193, 193);
            font-size: 14px;
        }
       
        .legendBtn{
            background-color: transparent;
            border: none;
            color: white;
            opacity: 0.87;
        }
    }
        .hazardIndicator1 {
            height: 15px;
            width: 15px;
            background-color: rgb(220, 235, 249);
            margin-left: 10px; 
        }
        .hazardIndicator2 {
            // border: 1px solid gray;
            height: 15px;
            width: 15px;
            background-color: rgb(149,202,228);   
            margin-left: 10px; 
        }
        .hazardIndicator3 {
            // border: 1px solid gray;
            height: 15px;
            width: 15px;
            background-color: rgb(39,144,203);   
            margin-left: 10px; 
        }
        .hazardIndicator4 {
            // border: 1px solid gray;
            height: 15px;
            width: 15px;
            background-color: rgb(0,108,187);         
            margin-left: 10px; 
        }
        .hazardIndicator5 {
            // border: 1px solid gray;
            height: 15px;
            width: 15px;
            background-color: rgb(0,74,162); 
            margin-left: 10px; 
        }
        .hazardIndicator6 {
            // border: 1px solid gray;
            height: 15px;
            width: 15px;
            background-color: rgb(6,41,111);  
            margin-left: 10px; 
        }
        .hazardIndicatorText{
            color: white;
            opacity: 0.87;
            padding-left:7px;
        }
    .legendItemContainer{
        display: flex;
        width: 150px;
        .legendBtn{
            background-color: transparent;
            border: none;
            color: white;
            .yearsIcon{
                padding-right: 10px;
                color: rgb(70, 70, 70);
                font-size: 14px;
            }
            .yearsIconClicked{
                padding-right: 10px;
                color: rgb(196, 193, 193);
                font-size: 14px;
            }
            .exposedIcons{
                padding-right: 10px;
                color: rgb(70, 70, 70);
                font-size: 14px;
            }
            .exposedIconsClicked{
                padding-right: 10px;
                color: rgb(255, 72, 17);
                font-size: 14px;
            }
        }
   
      
    }
}



