.citizen-reports-modal {
    width: 80vw;
    height: 90vh;

    .modal-body {
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow: auto;

        .citizen-report-list {
            flex-grow: 1;
            overflow: auto;
        }
    }
}
