@font-face {
  font-family: "Kalimati Regular";
  src: url("../../../../Kalimati\ Regular.ttf") format("truetype");
  }
  
.nep{
  font-family: "Kalimati Regular"!important;
 }
 .editButtn{
  filter: saturate(100%);
  border: none;
  background-color: transparent;
 .bulletPoint{
        height: 20px;
        cursor: pointer;
      }
}
.tabsPageContainer{
  .invenTitle{
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
    // border: 1px solid red;
  }
  .palikaTable{
    td{
      font-weight: bold;
    }
    h2{
      text-align: center;
      margin-top: 50px;
    }
    .loaderInfo{
      position: absolute;
      top: 54%;
      left: 55%;
     
      
  }
  }

  
}
   

