@font-face {
  font-family: "Kalimati Regular";
  src: url("../../../../Kalimati\ Regular.ttf") format("truetype");
  }
  
.nep{
  font-family: "Kalimati Regular"!important;
 }
 .editButtn{
  filter: saturate(100%);
  border: none;
  background-color: transparent;
}
.tabsPageContainer{
  .invenTitle{
    margin-left: 0px;
    // border: 1px solid red;
  }
  .palikaTable{
    h2{
      text-align: center;
      margin-top: 50px;
    }
    .loaderInfo{
      position: absolute;
      top: 54%;
      left: 55%;
      .bulletPoint{
        height: 20px;
        cursor: pointer;
      }
      
  }
  }

  
}
   

