@import '~base-scss/base';

.disaster-profile {
    display: flex;
    position: absolute;
    top: calc(var(--height-navbar) + var(--spacing-medium));
    right: calc(var(--width-navbar-right) + var(--spacing-medium));
    bottom: var(--spacing-medium);
    left: var(--spacing-medium);
    flex-direction: column;
    z-index: 1;
    border: $width-separator-thin solid $color-separator;
    border-radius: var(--radius-panel-border);
    background-color: $color-foreground;
    overflow: auto;

    .filters {
        display: flex;
        flex-shrink: 0;
        padding: $spacing-medium;
    }

    .map {
        flex-shrink: 0;
        height: 400px;
    }

    .aggregated-stat {
        display: flex;
        flex-wrap: wrap;

        .stat-metric {
            padding: $spacing-large;
        }
    } 


    .visualizations {
        flex-grow: 1;
    }

    .pending-message {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        opacity: .3;
        font-size: $font-size-super-large;
    }
}
