.rain-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-medium) var(--spacing-large);
    border-bottom: 1px solid rgba($color: grey, $alpha: 0.5);
    // cursor: pointer;
    &:hover {
        background-color: #f6f6f6;
    }
    .left {
        
        .name {
            font-weight: bold;
            font-size: var(--font-size-medium-alt);
        }

        .date {
            display: flex;
            margin-right: var(--spacing-small-alt);
            .icon {
                margin-right: var(--spacing-small);
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}