.previewContainer{
    display:block;
    // margin-top: 80px;
    padding-top: 60px;
    margin-top: 20px;
    border: 1px solid #f5f5f5;
    background: white;
    



.rowOne{
    height: 12%;
    display: flex;
}

.rowTwo{
   height: 12%;
   display: flex;
}
.rowFour{
   height: 12%;
   display: flex;
   margin: 20px 0;
}
.rowFive{
   height: 12%;
   display: flex;
   flex-direction: column;
 ul{
     color: #777;
     font-size: 11px;
     list-style: disc;
     text-align: left;
     width: 90%;
     .smallNote{
         font-size: 10px;
         font-style: italic;

     }
 }
}


.rowThree{
    height: 12%;
    display: flex;

    
}

.rowFour{
   height: 12%;
    display: flex;
    justify-content: space-between;
}

}




