.add-event-form-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 820px;
    height: 90vh;

    .add-event-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: var(--spacing-extra-small);

            .location-input {
                flex-shrink: 0;
                margin: var(--spacing-medium);
                height: 400px;
            }

            .general-inputs {
                overflow: auto;

                %input {
                    flex-grow: 1;
                    margin: var(--spacing-medium);
                }

                .input-row {
                    display: flex;
                    align-items: flex-end;
                }

                .title-input {
                    @extend %input;
                }

                .description-input {
                    @extend %input;
                }

                .event-input {
                    @extend %input;
                }

                .source-input {
                    @extend %input;
                }

                .hazard-input {
                    @extend %input;
                }

                .severity-input {
                    @extend %input;
                }

                .started-on-inputs {
                    display: flex;
                    align-items: flex-end;
                    padding: var(--spacing-medium) 0;

                    >* {
                        flex-basis: calc(50% - var(--spacing-medium));
                        margin: 0 var(--spacing-medium);
                    }
                }

                .expires-on-inputs {
                    display: flex;
                    padding: var(--spacing-large) 0;

                    >* {
                        flex-basis: calc(50% - var(--spacing-large));
                        margin: 0 var(--spacing-large);
                    }
                }

                .checkboxes {
                    display: flex;

                    .is-public-selection-checkbox {
                        @extend %input;
                        flex-basis: 50%;
                    }

                    .is-verified-selection-checkbox {
                        @extend %input;
                        flex-basis: 50%;
                    }
                }
            }
        }
    }
}
