    h2{
        margin-top: 10px;
        opacity: 0.67;
        
    }
    .toggleFlood{
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        color: white;
        opacity: 0.87;
        text-transform: uppercase;
        .chevrontoggle{
            font-size: 12px;
        }
    }
    .floodMainContainer{
        display:flex;
        padding: 7px 0 15px 0;
        height: 50%;
        flex-direction: column;
        .floodSubGroup{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .floodItemContainer{
                .legendBtn{
                    cursor: pointer;
                    background-color: transparent;
                    font-size: 14px;
                    border: none;
                    color: white;
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    opacity: 0.67;
                    .educationHexagon{
                        width: 15px;
                        margin: 0 4px 0 5px;
                    }
                    .exposedIcons{
                        margin-right: 10px;
                        color: rgb(70, 70, 70);
                        font-size: 12px;
                    }
                    .exposedIconsClicked{
                        margin-right: 10px;
                        color: rgb(255, 72, 17);
                        font-size: 12px;
                    }
                }
                .legendBtnSelected{
                    cursor: pointer;
                    background-color: transparent;
                    font-size: 14px;
                    border: none;
                    color: white;
                    color: #036ef0;
                    filter: saturate(100%);
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    .educationHexagon{
                        width: 15px;
                        margin: 0 4px 0 5px;

                    }
                    .exposedIcons{
                        margin-right: 10px;
                        color: rgb(70, 70, 70);
                        font-size: 12px;
                    }
                    .exposedIconsClicked{
                        margin-right: 10px;
                        color: rgb(255, 72, 17);
                        font-size: 12px;
                    }
                }
           
            }
        }
    }
    .floodDepthContainer{
        display: flex;
        position: fixed;
        left: 200px;
        bottom: 0;
        .floodDepth{
            display: flex;
            flex-direction: column;
            .floodIndicator1{
                background-color: rgb(255, 94, 24);
                font-size: 10px;
                color: rgb(245, 216, 216);
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 30px;
                padding: 2px;

            }
            .floodIndicator2{
                background-color:rgb(221,252,56); 
                font-size: 10px;
                color: rgb(57, 66, 2);
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 50px;
                padding: 2px;

            }
            .floodIndicator3{
                background-color:rgb(16, 104, 169);
                font-size: 10px;
                color: rgb(188, 220, 243);
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 30px;
                padding: 2px;


            }

            .floodText{
                color: white;
                opacity:0.87;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
  
        }
   
    }

    




