.left-pane {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    width: var(--width-left-panel);
    overflow: auto;

    .header {
        display: flex;
        flex-shrink: 0;
        border-bottom: var(--width-separator-thin) solid var(--color-separator);
        padding: calc(var(--spacing-large) - var(--spacing-medium));

        .back-button {
            flex-shrink: 0;
            padding: var(--spacing-small) var(--spacing-medium);
            color: inherit;
            font-size: var(--font-size-large);
        }

        .heading {
            flex-grow: 1;
            padding: var(--spacing-medium);
            color: inherit;
            font-size: var(--font-size-extra-large);
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .overview {
            flex-grow: 1;
        }

    }

    &.has-active-attribute {
        .content {
            flex-direction: row;

            .overview {
                flex-grow: unset;
                flex-shrink: 0;
            }

            .detail {
                flex-grow: 1;
            }
        }
    }
}
