.left-pane {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    width: var(--width-left-panel);
    overflow: auto;

    .overview {
        flex-grow: 1;
    }

    .content {
        flex-grow: 1;
    }

    &.has-active-attribute {
        border: 1px solid blue;
        flex-direction: row;

        .overview {
            flex-shrink: 0;
            flex-grow: unset;
        }
    }
}
