.container_welcome_feedback {
  background: #00000099;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper_welcome_feedback {
    display: flex;
    height: 45.5%;
    width: 51.8%;
    margin-left: 3.2%;

    .welcome_container {
      background: white;
      width: 53%;
      height: 100%;
      border-radius: 2.5% 0px 0px 2.5%;

      .welcome_wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        margin-top: 6.9%;
        margin-left: 11.2%;

        .welcome_head {
          font-weight: 600;
          font-style: normal;
          font-size: 1.125rem;
          color: #0069de;
        }

        .welcome_intro {
          font-size: 0.75rem;
          line-height: 165%;
          font-weight: 600;
          color: #6f7072;
          margin-top: 4%;
        }

        .welcome_desc {
          font-size: 0.75rem;
          line-height: 165%;
          font-weight: 600;
          letter-spacing: 0em;
          color: #6f7072;
          margin-top: -1.5%;
        }
      }
    }
    .support_container {
      height: 100%;
      width: 47%;
      display: flex;
      flex-direction: column;
      background: linear-gradient(#186ad5, #003a8d);
      border-radius: 0px 2.5% 2.5% 0px;

      .cross_button {
        display: flex;
        justify-content: flex-end;
        width: 90%;
        margin-right: 4%;
        margin-left: auto;

        .cross_btn {
          background: transparent;
          border: none;

          &:hover {
            cursor: pointer;
          }
        }
      }
      .feedback_wrapper {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        margin-left: 7.2%;
        margin-right: auto;
        margin-top: 7.8%;
        width: 87%;
        height: 100%;

        .tech_feedback {
          width: 100%;
          display: flex;
          flex-direction: column;

          .tech_head {
            font-weight: 600;
            font-size: 0.875rem;
            font-style: normal;
            color: #ffffff;
          }
          .tech_desc {
            font-size: 0.75rem;
            line-height: 140%;
            letter-spacing: 0em;
            font-style: normal;
            font-weight: 400;
            color: #ffffff;
            margin-top: 2.7%;
          }

          .tech_btn {
            background: transparent;
            border: 1px solid #ffffff;
            border-radius: 8vh;
            width: 47%;
            font-size: 0.625rem;
            font-style: normal;
            font-weight: 600;
            color: #ffffff;
            padding: 1.3%;
            margin-top: 0.8%;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .leave_feedback {
          width: 100%;
          margin-top: 13.3%;

          .feedback_head {
            font-weight: 600;
            font-size: 0.875rem;
            font-style: normal;
            color: #ffffff;
          }

          .feedback_desc {
            font-size: 0.75rem;
            line-height: 140%;
            letter-spacing: 0em;
            font-style: normal;
            font-weight: 400;
            color: #ffffff;
            margin-top: 2.6%;
          }
          .feedback_button {
            margin-top: 3.8%;

            .feed_btn {
              background: transparent;
              border: 1px solid #ffffff;
              border-radius: 8vh;
              width: 25%;
              font-size: 0.625rem;
              font-style: normal;
              font-weight: 600;
              color: #ffffff;
              padding: 1.3% 1.2%;
              text-align: center;
              word-spacing: 2px;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
