.earthquake {
    flex: 1;
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .date-range {
            display: flex;
            flex-shrink: 0;
        }

        .show-details-button {
            flex-shrink: 0;
            margin: var(--spacing-extra-small) var(--spacing-medium);
            font-size: var(--font-size-large);
        }
    }
    .header {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
    }

}
.message {
    flex-grow: 1;
    height: 100%;
}