.left {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);

    .header {
        flex-shrink: 0;

        .heading {
            padding: var(--spacing-medium) var(--spacing-large);
        }
    }

    .contact-details-list {
        flex-grow: 1;
        overflow: auto;
    }
}
