.left {
    display: flex;
    flex-direction: column;
    border: var(--width-separator-thin) solid var(--color-separator);
    border-radius: 5px;
    // border-radius: var(--radius-border-large);
    background-color: var(--color-foreground);
    width: var(--width-left-panel);
    height: calc(100vh - calc(var(--height-navbar) + var(--spacing-medium) * 2));
    overflow: auto;

    .header {
        flex-shrink: 0;

        .heading {
            padding: var(--spacing-medium);
            color: var(--color-primary);
        }
    }

    .contact-details-list {
        flex-grow: 1;
        overflow: auto;

        .contact-details {
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-medium);

            .personal-details {
                display: flex;
                align-items: center;

                .display-image-container {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    justify-content: center;
                    padding: var(--spacing-extra-small-alt) var(--spacing-medium);

                    .icon {
                        line-height: 0;
                        font-size: var(--width-contact-display-picture);
                    }

                    .image {
                        width: var(--width-contact-display-picture);
                        height: var(--height-contact-display-picture);
                    }
                }

                .right {
                    flex-grow: 1;

                    .name {
                        padding: var(--spacing-small);
                        font-size: var(--font-size-large);

                        .focal-person-icon {
                            display: inline-block;
                            margin-left: var(--spacing-medium);
                            color: var(--color-accent);
                        }
                    }
                }
            }
        }
    }

    .icon-detail {
        display: flex;
        align-items: center;

        .icon {
            flex-shrink: 0;
            margin: 0 var(--spacing-small);
            font-size: var(--font-size-large);
        }

        .value {
            flex-grow: 1;
            padding: var(--spacing-extra-small-alt) var(--spacing-small);
        }
    }

    .detail {
        display: flex;
        align-items: baseline;

        .label {
            padding: var(--spacing-extra-small-alt) var(--spacing-small);
            color: var(--color-text-label);
        }

        .value {
            padding: var(--spacing-extra-small-alt) var(--spacing-small);
            font-weight: var(--font-weight-bold);
        }
    }
}

.right {
    top: calc(var(--spacing-medium) * 2 + 34px);
}
