// .container {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     align-items: center;
//     position: relative;
//     margin-top: 15px;

    .wrapper {
        display: flex;
        flex-direction: column;
        // width: 95%;
    // justify-content: center;
    // align-items: center;

        .firstDiv {
            display: flex;
            flex-direction:row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .text {
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .download-button {
                padding: 5px;
            }
        }

        .barChart {
            width:100%;
            justify-self: flex-start;
        }

    }

    .customTooltip{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .label{
            color:black;
            font-size: 12px;
        }
    }

// }