.infoBox {
    user-select: none;
    width: 300px;
    // background: #ffc00d;
    background-color: #E35163;
    color: white;
    font-size: 14px;
    padding: 12px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 30px;
    right: 0;
    position: absolute;
    z-index: 2;
}