.details {
    display: grid;
    padding: var(--spacing-large);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--spacing-medium);;
    .item {
        font-weight: var(--font-weight-bold);
        .title {
            text-transform: uppercase;
        }
        .value {
            font-size: var(--font-size-large);
        }
    }
}