@font-face {
    font-family: "Kalimati Regular";
    src: url("../../Kalimati\ Regular.ttf") format("truetype");
    }
    
.breadcrumbRow{
    display: flex;
    // justify-content: center;
    .breadcrumb{
        background-color: transparent;
        border: none;
        font-size: 12px;
        color: #777;
        cursor: pointer;
        bottom: 10px;
        position: relative;
        margin-left: 30px;
        margin-right: 4px;
        text-align: left !important;
    }
    .rightCrumb{
        position: relative;
        right: 40px;
    }
}
.orderList{
    padding: 0;
    .menuName{
        padding-left: 20px;
        margin-bottom: 10px;
    }
    .subMenuDiv{
        width: 100%;
        text-align: left;
        display: flex;
        height: 30px;
     
    }
    .subMenuDiv :hover{
        background-color: grey;
     height: 100%;
        text-align: left;
        color: white;
    }
}
.reportSidebarMainContainer{
    h2{
        font-size: 24px;
        margin-bottom: 20px;
        margin-left: 30px !important;
    }
    .menuList{
        // border: 1px solid red;
        list-style: none;
        background: rgb(235,235,235);
        padding: 0;
        .error{
            font-size: 10px;
            color: red;
            padding-left: 30px;
        }
       .selected{
            border: none;
            text-align: left !important;
            width: 100%;
            padding: 10px 0;
            padding-left: 0;
            background: #e0e7ee;
            padding-left: 30px;
            font-size: 16px;
            color: #5a87b9;
            cursor: pointer;
            display: flex;
            align-items: center;
            filter: saturate(100%);
            .bulletPoint{
                width : 50px;
                path{
                    fill: #297EDF;
                }
            }


        }
        .notSelected{
            border: none;
            width: 100%;
            padding: 10px 0;
            display: flex;
            align-items: center;
            width: 100%;
            text-align: left !important;
            background: rgb(235,235,235);
            padding-left: 30px;
            font-size: 16px;
            color: #444;
            cursor: pointer;
            filter: saturate(100%);

            .bulletPoint{
                width : 50px;
                path{
                    fill: rgb(60,81,102)
                }
            }
        } 

        .notSelected:hover{
            background: rgb(245,245,245);
            display: flex;
            align-items: center;
         

        }
        .createReport{
            border: none;
            width: calc(100% - 60px);
            padding: 10px 0;
            background: rgb(134, 134, 134);
            // padding-left: 30px;
            font-size: 16px;
            color: white;
            margin-left: 30px;
            margin-top: 15px;
            border-radius: 4px;
            text-align: center !important;
            cursor: pointer;
            display: flex;
            justify-content: center;
        }
    
    
    }
}
.menu{
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #405467;
    opacity: 1;
    font-weight: bold;
    width: 100%;
    filter: saturate(100%);
    .icons{
        margin-right: 10px;
    }
    .subMenu{
        border: none;
        cursor: pointer;
       
        font-size: 16px;
        color: #405467;
        opacity: 1;
        font-weight: normal;
       width: 100%;
       text-align: left;
       padding-left: 50px;
    }
    .subMenuActive{
        
     font-weight: bold;
     background-color: gray;
     opacity: 0.37;
     color: black;
       
    }
   
    .indicator{
        display: flex;
        flex-direction: column;
        background: transparent;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}
.downloadOption{
    height: auto;
    background-color: cyan;
    width: max-content;
    position: relative;
    right: 80%;
    padding: 0;
    margin: 0;
    ul{
        margin: 0;
    }

}

.dropbtn {
    background-color: transparent;
    color: white;
    
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
//   .dropbtn:hover, .dropbtn:focus {
//     background-color: #3e8e41;
//   }
  
  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
.palikaTable{
    .nep{
        font-family: "Kalimati Regular"!important;
       }
    .dataUnavailable{
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: 400;
    }
    .iconClassName{
        cursor: pointer;
        margin-left: 5px;
    }
    .reliefBtn{
        white-space: nowrap;
        filter: saturate(100%) !important;
        border: none !important;
        background-color: transparent !important;
        .bulletPoint{
          height: 25px;
          cursor: pointer;
          opacity: 0.67;
        }}
 }
 