.event-item {
    display: flex;
    align-items: center;
    padding: calc(var(--spacing-medium-alt) - var(--spacing-medium)) calc(var(--spacing-large) - var(--spacing-medium));

    .icon {
        flex-shrink: 0;
        margin: var(--spacing-small) var(--spacing-medium);
        width: 20px;
        height: 20px;

        path {
            fill: currentColor;
        }
    }

    .right {
        flex-grow: 1;
        padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) 0;
        overflow: auto;

        .top {
            display: flex;
            align-items: center;

            .title {
                flex-grow: 1;
                padding: var(--spacing-extra-small) var(--spacing-medium);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: var(--font-weight-bold);
            }

            .edit-button {
                flex-shrink: 0;
                padding: var(--spacing-extra-small) var(--spacing-small);
            }

            .delete-button {
                flex-shrink: 0;
                padding: var(--spacing-extra-small) var(--spacing-small);
            }
        }

        .bottom {
            padding: var(--spacing-extra-small) var(--spacing-medium);
        }
    }

    &.hovered,
    &:hover {
        background-color: var(--color-background-hover);
    }
}
