@import '~base-scss/base';

.visualization-container {
    top: 50%;
    display: flex;
    flex-direction: column;

    %visualization-container {
        padding: var(--spacing-medium);

        .header {
            .heading {
                padding: $spacing-small $spacing-medium;
            }
        }

        .chart {
            height: 420px;
        }
    }

    .donut-container {
        @extend %visualization-container;
    }

    .bar-chart-container {
        @extend %visualization-container;
    }

    .hazard-death-chart-container {
        @extend %visualization-container;
    }

    .hazards-bar-container {
        @extend %visualization-container;
    }

    .legend-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .legend {
            display: flex;
            flex-wrap: wrap;

            .legend-item {
                flex-basis: calc(100% / 3);
                padding: var(--spacing-small) var(--spacing-medium);
                color: var(--color-text-label);
                font-size: var(--font-size-small);
            }
        }
    }
}

