.previewContainer{
    display:block;
    flex-direction: column;
    border: 1px solid gray;

.header{
  height: 15%;
  border: 1px solid gray;
    .logo{
        width: 100px;
        height: 90px;
    }
    .title{
        padding-left: 5px;
    }
}
.rowOne{
    height: 15%;
  
}

.rowTwo{
  height: 15%;
}


.rowNew{
  height: 15%;   
}



.rowThree{
    height: 15%;

}
.rowFour{
    height: 15%;

}
table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f5f5f5;
}
th{
    padding: 0.1rem;
    text-align: left;
    font-weight: 400;
}
td{
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding: 0.1rem;
    text-align: left;

    
}
    tr:nth-child(odd) {
    background-color:#f5f5f5
}
}




