.legends{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // border: 1px solid gray;
    height: 100%;
}
.loaderInfo{
    position: fixed;
top: 50%;
left: 60%;
// border: 1px solid red;
    .loader{
        background-color: white;
    }
    .loaderText{
        color: white;
        position: relative;
        top: 40px !important;
        left: 3px;
    }
}