.initial-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: -50px;

    .main-title {
        font-size: var(--font-size-super-large-alt);
        grid-column: 1/ span 2;
    }

    .option-container {
        display: grid;
        gap: var(--spacing-large);

        .options {
            display: grid;
            gap: var(--spacing-large);
            grid-template-columns: repeat(2, 1fr);

        }
    }
}

@media only screen and (max-width: 600px) {
    .options {
        display: flex !important;
        flex-direction: column;
    }

}