@import '~base-scss/base';

.dashboard {
    .right {
        display: flex;
        flex-direction: column;
        padding: 0 $spacing-medium;

        .header {
            flex-shrink: 0;

            .heading {
                padding: $spacing-medium $spacing-small;
                color: $color-primary;
            }
        }

        .content {
            flex-grow: 1;
            overflow: auto;

            .list-selection-input {
                padding: $spacing-small;
            }
        }
    }


    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .alerts {
            display: flex;
            position: relative;
            flex-direction: column;

            .header {
                flex-shrink: 0;
                border-bottom: $width-separator-thin solid $color-separator;

                .heading {
                    padding: $spacing-medium;
                    color: $color-primary;
                }
            }

            .alert-list {
                flex-grow: 1;
                overflow: auto;

                .alert {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: $spacing-medium;

                    .icon {
                        flex-shrink: 0;
                        padding-right: $spacing-medium;
                        color: $color-danger;
                        font-size: $font-size-extra-large;
                    }

                    .title {
                        flex-grow: 1;
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, .05);
                    }
                }
            }
        }

        .key-statistics {
            display: flex;
            flex-direction: column;

            .header {
                flex-shrink: 0;
                border-bottom: $width-separator-thin solid $color-separator;

                .heading {
                    padding: $spacing-medium;
                    color: $color-primary;
                }
            }

            .content {
                padding: $spacing-medium;

                .donut-charts {
                    display: flex;

                    .donut-chart-1 {
                        flex-basis: 50%;
                        width: 100px;
                        height: 100px;
                    }

                    .donut-chart-2 {
                        flex-basis: 50%;
                        width: 100px;
                        height: 100px;
                    }
                }

                .pie-chart {
                    height: 200px;
                }

                .bar-chart {
                    margin-top: $spacing-medium;
                    height: 160px;
                }
            }
        }
    }

    .main {
        .map {
            width: 100%;
            height: 100%;
        }
    }
}
