.left-container {
    display: flex;
    flex-direction: column;

    .left-pane {
        flex-grow: 1;
    }
}

.hazard-legend-container {
    border: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    width: 300px;

    .hazard-legend {
        display: flex;
        flex-wrap: wrap;
        padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) calc(var(--spacing-large) - var(--spacing-medium));

        .legend-item {
            flex-basis: 50%;
            padding: var(--spacing-extra-small) calc(var(--spacing-medium) - var(--spacing-small));
            color: var(--color-text-label);
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-bold);

            >div:first-child {
                margin: 0 var(--spacing-small);
                border-radius: 50%;
                width: var(--font-size-small);
                height: var(--font-size-small);
            }

            >div:nth-child(2) {
                padding: 0 var(--spacing-small);
            }
        }
    }
}
