
    
    .populationContainer{
        display: flex;
        flex-direction: column;
        
        // border: 1px solid red;
        .legendsRow{
            width: 55px;
            text-align: center;
            padding-left: 25px;
        }
        p{
            line-height: 0;
            position: relative;
            bottom: 20px;
        }
        .populationIndContainer{
            display: flex;
            flex-direction: column;
            width: 50px;
            .conainerStyle{ 
                display: flex;
                justify-content: center;
                font-size: 10px;
                padding: 3px;
                border: 1px solid gray;
                white-space: nowrap;
            }
            .populationIndicator1{
                @extend .conainerStyle;
                background-color: rgb(172,226,84);
            }
            .populationIndicator2{
                @extend .conainerStyle;

                background-color: rgb(232,249,145); 

            }
            .populationIndicator3{
                @extend .conainerStyle;

                
                background-color:rgb(202,205,0);

            }
            .populationIndicator4{
                @extend .conainerStyle;

                background-color:rgb(205,212,0);

            }
            .populationIndicator5{
                @extend .conainerStyle;

                background-color:rgb(205,177,0);

            }

        }
        
        .populationIndContainerShort{
            @extend .populationIndContainer;
            .populationIndicator3{
                background-color:rgb(202,205,0);

            }
        }
        .populationTextContainer{
            display:flex;
            justify-content: space-between;
            .populationText{
                color: white;
                opacity:0.67;
                font-family: 'Source Sans Pro';
                position: relative;
                bottom: 0;
                font-size: 11px;
                // padding-right: 15px
            }
        }
    }

    .susLegend{
        h2{
            font-size: 11px;
            color: white;
            margin-right: 15px;
        }
        position: fixed;
        right: calc(70% - 75px);
        bottom: 50px;
      }



