@import '~base-scss/base';

.visualizations-container {
    %visualization-container {
        padding: $spacing-small 0;

        .header {
            .heading {
                padding: $spacing-small $spacing-medium;
            }
        }

        .chart {
            height: 240px;
        }
    }

    .donut-container {
        @extend %visualization-container;

        .legend {
            display: flex;
            flex-wrap: wrap;

            .legend-item {
                flex-basis: calc(100% / 3);
                padding: $spacing-small;
                color: $color-text-label;
                font-size: $font-size-small;
                font-weight: $font-weight-bold;
            }
        }
    }

    .bar-chart-container {
        @extend %visualization-container;

        .chart {
            height: 320px;
        }
    }
}
