.visualizations-container {
    %visualization-container {
        margin: var(--spacing-medium);
        // border-top: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-background);
        padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

        .header {
            .heading {
                padding: var(--spacing-small) var(--spacing-medium);
                text-transform: uppercase;
                color: var(--color-primary);
            }
        }

        .chart {
            padding: var(--spacing-small) var(--spacing-medium);
            height: 200px;
        }
    }

    .donut-container {
        @extend %visualization-container;

    }

    .bar-chart-container {
        @extend %visualization-container;

        .chart {
            height: 320px;
        }
    }

    .legend-container {
        padding: var(--spacing-medium);

        .legend {
            display: flex;
            flex-wrap: wrap;

            .legend-item {
                flex-basis: calc(100% / 3);
                border: var(--width-separator-thin) solid var(--color-separator-light);
                padding: var(--spacing-extra-small);
                color: var(--color-text-label);
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-bold);

                &:hover {
                    background-color: var(--color-background-hover);
                }
            }
        }
    }
}
