.visualizations-container {
    %visualization-container {
        padding: var(--spacing-small) 0;

        .header {
            .heading {
                padding: var(--spacing-small) var(--spacing-medium);
            }
        }

        .chart {
            height: 240px;
        }
    }

    .donut-container {
        @extend %visualization-container;

        .legend {
            display: flex;
            flex-wrap: wrap;

            .legend-item {
                flex-basis: calc(100% / 3);
                padding: var(--spacing-small);
                color: var(--color-text-label);
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-bold);
            }
        }
    }

    .bar-chart-container {
        @extend %visualization-container;

        .chart {
            height: 320px;
        }
    }
}
