        .settlementIconContainer{
            padding: 0;
            margin: 4px;
            color: white;
            opacity: 0.87;
            display: flex;
            .settlementIcon{
                color:#e00000;
               width: 15px;
               margin-right: 10px;
            }
        }  
        .agroIconContainer{
            padding: 0;
            margin: 4px;
            color: white;
            // opacity: 0.87;
            display: flex;
            align-items: center;

            .agricultureIcon{
                color: #e6f2a1;
                width: 15px;
               margin-right: 10px;
            }
            .forestIcon{
                color:#00a811;
                width: 15px;
               margin-right: 10px;

            }
            .otherIcon{
                color:#b4b4b4;
                width: 15px;
               margin-right: 10px;

            }
            .canalIcon{
                color:#0670bc;
                border-bottom: 2px solid #0670bc;
                padding-right: 12px;
                position: relative;
                // bottom: 7px;
                width: 22px;
                margin-right: 12px;
            }
            .roadIcon{
                border-bottom: 2px solid #969696;
                padding-right: 12px;
                font-size: 15px;
                position: relative;
                // bottom: 7px;
                width: 22px;
               margin-right: 12px;


            }
            .bridgeLine{
                // padding-right: 15px;
                width: 22px;
               border: 3px solid #556577;
               margin-right: 12px;
               border-radius: 2px;

            }
            
        }
    
        .riverIconContainer{
            padding: 0;
            margin: 4px;
            color: white;
            opacity: 0.87;
            .riverIcon{
                color: #0670bc;
                width: 15px;
                margin-right: 10px;
            }
        }






