@use "../../stylesheets/dimens" as *;

.table-header {
	display: flex;
	padding: dimens.$spacing-small 0;
	align-items: center;
	cursor: pointer;

	.sort-button {
		flex-shrink: 0;
	}

	.title {
		flex-grow: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.icon {
		margin: 0 var(--spacing-small);
	}
}
