.capacity-and-resources {
    .header {
        display: flex;
        padding: var(--spacing-medium) 0;

        .heading {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
            color: var(--color-accent);
        }

        .clear-button {
            flex-shrink: 0;
            margin: 0 calc(var(--spacing-medium) - var(--spacing-small));
            padding: var(--spacing-extra-small) var(--spacing-small);
        }
    }
}

%row {
    display: table-row;

    .label {
        display: table-cell;
        padding: var(--spacing-extra-small) var(--spacing-small);
    }

    .value {
        display: table-cell;
        padding: var(--spacing-extra-small) var(--spacing-small);
    }
}

.resource-tooltip {
    box-shadow: 0 -2px 4px -3px #000;
    max-width: 240px;
    max-height: 240px;
    overflow: auto;

    .heading {
        padding: var(--spacing-medium) var(--spacing-medium);
    }

    .content {
        padding: calc(var(--spacing-small) - var(--spacing-extra-small)) calc(var(--spacing-medium) - var(--spacing-small));

        .description {
            @extend %row;
        }

        .location {
            @extend %row;
        }
    }
}
