.capacity-and-resources {
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-large) - var(--spacing-medium-alt));

    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: calc(var(--spacing-medium-alt) - var(--spacing-extra-small)) calc(var(--spacing-medium-alt) - var(--spacing-medium));

        .heading {
            flex-grow: 1;
            padding: var(--spacing-extra-small) var(--spacing-medium);
        }

        .clear-button {
            flex-shrink: 0;
            margin: 0 calc(var(--spacing-medium) - var(--spacing-small));
            padding: var(--spacing-extra-small) var(--spacing-small);
        }
    }

    .content {
        flex-shrink: 0;
        overflow: auto;
    }
}

.resource-tooltip {
    display: flex;
    flex-direction: column;
    border-top: var(--width-separator-medium) solid var(--color-accent);
    padding: calc(var(--spacing-large) - var(--spacing-medium));
    width: 240px;
    max-height: 240px;
    overflow: auto;

    .heading {
        flex-shrink: 0;
        padding: var(--spacing-medium);
        color: var(--color-primary);
    }

    .content {
        flex-grow: 1;
        padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) calc(var(--spacing-medium) - var(--spacing-small));
        overflow: auto;

        .item {
            display: table-row;

            .value {
                display: table-cell;
                padding: var(--spacing-extra-small) var(--spacing-small);
                font-weight: var(--font-weight-bold);
            }

            .label {
                display: table-cell;
                padding: var(--spacing-extra-small) var(--spacing-small);
                text-transform: capitalize;
            }
        }
    }

    .actions {
        flex-shrink: 0;
        padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) calc(var(--spacing-medium) - var(--spacing-extra-small-alt));

        .edit-button {
            padding: var(--spacing-extra-small) var(--spacing-extra-small-alt);
        }
    }
}
