@import '~base-scss/base';

.visualizations {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: var(--spacing-medium);
    overflow: auto;

    .hazard-statistics-chart {
        .header {
            .heading {
                padding: 0 $spacing-medium;
                color: $color-accent;
            }
        }

        .chart {
            height: 320px;
        }

        .legend {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 $spacing-medium;

            .legend-item {
                padding: $spacing-small;
            }
        }
    }

    .severity-summary {
        .header {
            .heading {
                padding: 0 $spacing-medium;
                color: $color-accent;
            }
        }

        .chart {
            height: 220px;
        }

        .legend {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 $spacing-medium;

            .legend-item {
                padding: $spacing-small;
            }
        }
    }
}
