.infoBox {
    position: absolute;
    background-color: white;
    top: -100px;
    right: 65px;
    width: 200px;
    height: 200px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 10px;


}