.formContainer{
    width: 100%;
    padding: 40px;
    margin-bottom: 100px;
    background-color: white;
    .containerForm{
        // box-shadow: $boxShadow;
        padding: 15px 40px 30px 40px;
        overflow: visible;
        h2{
            // font-family: $Fira;
            font-size: 18px;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        p{
            // font-family: $Fira;
            color: #3e3e3e;
        }
        .row1{
        margin: 0;
        display: flex;
        justify-content: space-between;
            .col1{
                width: 48.5%;
                // margin: 0 5px;
            }
        }
    }
    .pictureContainer{
        display: flex;
        justify-content: space-between;
        .picture{
            width:48%;
            overflow-x: scroll;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // border: 1px solid red;
            img{
                width: 100%;
            }
        }
    }
    
        
h2{
    color: #003572;
    font-size: 22px;
    margin-bottom: 50px;
    margin: 50px 0 20px 0;
}
h3{
    color:#707070;
    margin: 50px 0 20px 0;
    font-size: 16px;
    font-weight: 400;
}

}