.formContainer{
    width: 100%;
    // padding: 5px;
    // margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    p{
        padding-left: 10px;
        // padding-top: 30px;
    }
  .picContainer{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: calc(100% - 60px);
      padding: 30px;
    // margin: 0 auto;
      cursor: pointer;
      img{
          width: 95mm ;
          border: 1px solid #b8b7b7;
      }
      .formItemfooter{
          @extend .formItemDailySummary;
          position: relative;
          width: 95mm !important;
          right: 30px !important;
      }
  }
  .picContainerReport{
    @extend .picContainer;
    padding: 0 !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    flex-direction: row;
    justify-content: space-between;
    // flex-direction: column;
    // img{
    //     width: 92mm;
    // }
  }
    ::-webkit-scrollbar {
        display: none;
    }  
        
h2{
    color: #003572;
    font-size: 22px;
    margin-bottom: 50px;
    margin: 50px 0 20px 0;
}
h3{
    color:#707070;
    margin: 50px 0 20px 0;
    font-size: 16px;
    font-weight: 400;
}

.formItemDailySummary{
    max-width: calc(100% - 60px);
    margin-left: 30px;
    cursor: pointer;
    border: 1px solid #cecccc;
    border-radius: 3px;
    padding: 0 0 10px 10px;
    margin-top: 12px;
    justify-content: space-between;
    display: flex !important;
    align-items: center;
    background-color: #f3f3f3;
    height: 65px;
    width: 100%;
}

}