.formContainer {
    width: 100%;
    // padding: 5px;
    // margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    background-color: white;

    .optionButton {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 20px;
    }

    p {
        padding-left: 10px;
        // padding-top: 30px;
    }

    .textArea {
        width: 100%;
    }

    .picContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 100%;
        margin-left: 30px;
        cursor: pointer;

        img {
            width: 95mm;
            border: 1px solid #b8b7b7;
        }

        .formItemfooter {
            @extend .formItemDailySummary;
            position: relative;
            width: 95mm !important;
            right: 30px !important;
        }

        .formItemTextFull {
            @extend .formItemText;
            width: calc(100% - 30px) !important;
        }
    }

    .picContainerReport {
        @extend .picContainer;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin-left: 0 !important;

        img {
            width: calc(100% - 10px);
            // margin-left: 10px;
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }

    h2 {
        color: rgb(15, 11, 11);
        font-size: 14px;
        margin-bottom: 50px;
        margin: 50px 0 20px 0;
    }

    h3 {
        color: rgb(15, 11, 11);
        margin: 50px 0 20px 0;
        font-size: 14px;
        font-weight: 400;
    }

    .formItemText {
        width: 50%;
        border-radius: 3px;
        border: 1px solid #cecccc;
        // padding: 20px;
        margin-top: 12px;
        // height : 200px;

        textarea {
            background-color: #f3f3f3;
            border: none;
            padding: 10px;
            width: 100% !important;
        }
    }

    .formItemTextRainSummary {
        width: calc(100% - 60px);
        margin-left: 30px;
        border-radius: 3px;
        border: 1px solid #cecccc;
        // padding: 20px;
        margin-top: 12px;
        // height : 200px;

        textarea {
            background-color: #f3f3f3;
            border: none;
            padding: 10px;
        }
    }

    .formItemDailySummary {
        max-width: calc(100% - 60px);
        margin-left: 30px;
        cursor: pointer;
        border: 1px solid #cecccc;
        border-radius: 3px;
        padding: 0 0 10px 10px;
        margin-top: 12px;
        justify-content: space-between;
        display: flex !important;
        align-items: center;
        background-color: #f3f3f3;
        height: 65px;
        width: 100%;


    }

}