@import '~base-scss/base';

.visualizations {
    padding: calc(var(--spacing-large) - var(--spacing-medium)) 0;
    .hazard-statistics-chart {
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .heading {
                padding: 0 $spacing-medium;
                color: $color-accent;
            }
            .chart-download {
                padding: 0 $spacing-medium;
            }
        }

        .chart {
            height: 320px;
            background-color: #fff;
            overflow: visible !important;
        }
    }

    .container {

    }
}

.label-list {
    // fonts: '1rem', fontWeight: 'bold', fill: '#E35163'
    font-size: 1rem;
    font-weight: normal;
    fill: grey;
    margin: 10rem;
}
