.layer-group {
    padding: calc(var(--spacing-large) - var(--spacing-extra-small-alt)) calc(var(--spacing-large) - var(--spacing-medium));

    .header {
        display: flex;
        align-items: center;
        padding: var(--spacing-extra-small) 0;

        .title {
            flex-grow: 1;
            padding: 0 var(--spacing-medium);
            font-size: var(--font-size-large);
        }

        .hidden-actions {
            display: flex;
            align-items: center;
            transition: .2s opacity ease-in-out;
            opacity: 0;
            padding: var(--spacing-extra-small);

            .info-button {
                color: var(--color-primary);
                font-size: var(--font-size-large);
            }

            .show-data-button {
                font-size: var(--font-size-large);
            }

            button {
                margin: var(--spacing-extra-small-alt) calc(var(--spacing-medium) - var(--spacing-extra-small-alt));
                padding: 0;
                padding: var(--spacing-extra-small-alt);
            }
        }

        .show-content-button {
            flex-shrink: 0;
            margin: 0 calc(var(--spacing-medium) - var(--spacing-small));
            padding: var(--spacing-extra-small-alt) var(--spacing-small);
            color: var(--color-text-disabled);
            font-size: var(--font-size-large);

            &:hover {
                color: var(--color-text);
            }
        }

        &:hover {
            .hidden-actions {
                opacity: 1;
            }
        }
    }

    .short-description {
        padding: var(--spacing-extra-small) var(--spacing-medium);
        text-align: justify;
        white-space: pre-wrap;
        color: var(--color-text-light);
        font-size: var(--font-size-small-alt);
    }

    .content {
        .actions {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--spacing-extra-small);

            .info-button {
                font-size: var(--font-size-large);
            }

            .show-data-button {
                font-size: var(--font-size-large);
            }

            button {
                margin: var(--spacing-extra-small-alt) calc(var(--spacing-medium) - var(--spacing-extra-small-alt));
                padding: 0;
                padding: var(--spacing-extra-small-alt);
            }
        }

        .title {
            font-size: var(--font-size-medium);
        }
    }

    &:not(:last-child) {
        border-bottom: var(--width-separator-thin) solid var(--color-separator-light);
    }


    .layer-group {
        margin: var(--spacing-medium-alt);
        // background-color: rgba(0, 0, 0, .03);
        padding: calc(var(--spacing-medium) - var(--spacing-small));
    }
}
