@import '~base-scss/base';

$width-non-tabular-container: var(--width-left-panel);

.left-pane {
    .show-detials-button-container {
        transform-origin: 0 0;

        .show-detials-button {
            padding: $spacing-extra-small $spacing-small;
            color: $color-danger;
            font-size: $font-size-extra-large;
        }
    }

    .visualizations-container {
        display: flex;
        position: relative;
        flex-direction: column;
        transform-origin: 0 0;
        border: $width-separator-thin solid $color-separator-light;
        border-radius: 5px;
        background-color: $color-foreground;
        width: $width-non-tabular-container;
        height: calc(100vh - calc(#{$height-navbar} + #{$spacing-medium} * 2) - 116px);
        overflow: auto;

        .visualizations {
            display: flex;
            flex-direction: column;
            height: 100%;

            > .header {
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .heading {
                    flex-grow: 1;
                    padding: 0 $spacing-medium;
                    color: $color-primary;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: $spacing-small;

                %container {
                    display: flex;
                    flex-direction: column;
                    padding: $spacing-small 0;

                    .header {
                        flex-shrink: 0;

                        .heading {
                            padding: $spacing-small;
                            color: $color-accent;
                        }
                    }

                    .chart {
                        flex-grow: 1;
                    }
                }

                .bar-container {
                    @extend %container;
                    height: 120px;
                }

                .donut-container {
                    @extend %container;
                }

                .parallel-container {
                    @extend %container;
                    height: 120px;
                }

                .legend {
                    display: flex;
                    flex-wrap: wrap;

                    .legend-item {
                        padding: $spacing-small;
                        color: $color-text-label;
                        font-size: $font-size-small;
                        font-weight: $font-weight-bold;
                    }
                }
            }

            .summary-list {
                display: flex;
                flex-grow: 1;
                overflow: auto;

                .district-summary {
                    display: flex;
                    flex-direction: column;
                    overflow: auto;
                    // width: $width-non-tabular-container;

                    &:not(:last-child) {
                        border-right: $width-separator-thin solid $color-separator;
                    }

                    > .header {
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;

                        .heading {
                            flex-grow: 1;
                            padding: 0 $spacing-medium;
                            color: $color-primary;
                        }
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        padding: $spacing-small;
                        overflow: auto;

                        .visualization-container {
                            display: flex;
                            flex-direction: column;
                            flex-grow: 1;
                            overflow: auto;

                            %container {
                                display: flex;
                                flex-direction: column;
                                padding: $spacing-small 0;

                                .header {
                                    flex-shrink: 0;

                                    .heading {
                                        padding: $spacing-small;
                                        color: $color-accent;
                                    }
                                }

                                .chart {
                                    flex-grow: 1;
                                }
                            }

                            .bar-container {
                                @extend %container;
                                flex-basis: 160px;
                                flex-grow: 2;
                                min-height: 200px;
                            }

                            .donut-container {
                                @extend %container;
                                flex-basis: 160px;
                                flex-grow: 2;
                                min-height: 200px;
                            }

                            .parallel-container {
                                @extend %container;
                                flex-basis: 256px;
                                flex-grow: 3;
                                min-height: 256px;
                            }
                        }

                        .legend-container {
                            flex-shrink: 0;

                            .legend {
                                display: flex;
                                flex-wrap: wrap;

                                .legend-item {
                                    padding: $spacing-extra-small $spacing-small;
                                    color: $color-text-label;
                                    font-size: $font-size-small;
                                    font-weight: $font-weight-bold;

                                    >div:first-child {
                                        margin-right: var(--spacing-extra-small-alt);
                                        width: var(--font-size-small);
                                        height: var(--font-size-small);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
