.mainDiv {
  width: calc(100vw - 60px);
  height: 100%;
  .container_tech_support {
    background: gray;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid red;

    .wrapper_tech_support {
      width: 52%;
      height: 54%;
      margin-left: 3%;
      margin-top: 4.5%;
      display: flex;

      .feedback_container_first {
        background: linear-gradient(#1769d4, #003a8d);
        width: 42%;
        height: 100%;
        border-radius: 2.5% 0px 0px 2.5%;

        .feedback_wrapper {
          width: 60%;
          height: 100%;
          margin-left: 19.5%;
          padding-top: 18.4%;
          display: flex;
          flex-direction: column;
          align-items: center;
         

          .feed_head_container {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-left: 2%;

            .feed_head_wrapper {
              margin-left: 1%;
              font-weight: 600;
              font-size: 1rem;
              font-style: normal;
              color: #ffffff;
              display: flex;
              text-align: center;
              justify-content: flex-end;
            }
          }

          .feedback_intro {
            width: 100%;
            padding-left: 4%;
            font-size: 12px;
            letter-spacing: 0em;
            font-style: normal;
            font-weight: 600;
            line-height: 135%;
            color: #ffffff;
            display: flex;
            text-align: center;
            margin-top: 4.5%;
          }

          .feedback_button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 1%;

            .feed_btn {
              margin-left: 3.5%;
              background: transparent;
              border: 1px solid #ffffff;
              text-transform: uppercase;
              border-radius: 50px;
              font-size: 10px;
              font-style: normal;
              font-weight: 600;
              color: #ffffff;
              padding: 2% 3.8%;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      .feedback_container_second {
        height: 100%;
        width: 58%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        background: #ffffff;
        border-radius: 0px 2.5% 2.5% 0px;

        .cross_button {
          display: flex;
          width: 5%;
          justify-content: center;
          margin-left: auto;
          margin-right: 3%;
          height: 5%;

          .cross_btn {
            background: transparent;
            border: none;

            &:hover {
              cursor: pointer;
            }

            .fas.fa-times {
              color: #7c6f6d;
            }
          }
        }

        .feedback_input_wrapper {
          display: flex;
          flex-direction: column;
          width: 75%;
          height: 80%;
          margin-left: 14.7%;
          padding-top: 6%;
          background: #ffffff;

          .feedback_input_head {
            color: #4c4c4c;
            font-weight: 600;
            font-size: 15.5px;
            font-style: normal;
            line-height: 16.8px;
            width: 100%;
            display: flex;
            align-items: flex-start;
          }

          .feedback_institution {
            width: 100%;          
            display: flex;
            flex-direction: column;
            padding-top: 2.8%;

            .institution_head {
              font-size: 10.5px;
              letter-spacing: 0em;
              font-style: normal;
              font-weight: 600;
              line-height: 30px;
              color: #666666;
            }

            .institution_select_wrapper {
                margin-top: -1%;
              .institution_select {
                background: #e8e8e8;
                color: #8b8b8b;
                font-size: 12px;
                font-weight: 400;
                padding: 3.3%;
                padding-left: 4%;
                width: 100%;
                border: none;
                outline: none;
                margin: 0;      
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-appearance: none;
                -moz-appearance: none;

                
                  background-image:
                    linear-gradient(45deg, transparent 50%,black 50%),
                    linear-gradient(135deg, black 50%, transparent 50%);
                    
                  background-position:
                    calc(100% - 22px) calc(1em + 6px),
                    calc(100% - 17px) calc(1em + 6px);
                  background-size:
                    5px 5px,
                    5px 5px;
                  background-repeat: no-repeat;

                &:hover{
                cursor: pointer;
                }
              }
            }
          }
          .feedback_support_category {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin-top: 5%;
            // border: 1px solid blue;

            .tech_support_head {
              font-size: 10.5px;
              font-weight: 600;
              color: #666666;
              text-transform: uppercase;
            }

            .checkbox_tech_support {
              margin-top: 0.5%;

              .checkbox_wrapper_top {
                display: flex;
                align-items: center;
                margin-top: 0.5%;
                
                .class_checkbox {
                  height: 10px;
                  width: 10px;
                  &:hover{
                    cursor: pointer;
                  }
                }

                .label_technical {
                  padding-left: 1%;
                  font-size: 10px;
                  color: #8b8b8b;
                  font-weight: 400;
                }
              }

              .checkbox_wrapper {
                display: flex;
                align-items: center;
                margin-top: 0.4%;
                .class_checkbox {
                  height: 10px;
                  width: 10px;
                  &:hover{
                    cursor: pointer;
                  }
                }

                .label_technical {
                  padding-top: 1%;
                  padding-left: 1%;
                  font-size: 10px;
                  color: #8b8b8b;
                  font-weight: 400;
                }
              }
            }
          }
          .specify_input {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 2.5%;
            .please_specify {
              background: #e8e8e8;
              font-size: 12px;
              font-weight: 500;
              padding: 3.5%;
              padding-left: 4%;
              width: 100%;
              border: none;
              outline: none;
            }
          }

          .priority_level {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin-top: 4.5%;

            .priority_level_head {
              font-size: 10.5px;
              font-weight: 600;
              text-transform: uppercase;
            }

            .priority_level_select {
              margin-top: 1%;

              .priority_select {
                background: #e8e8e8;
                color: #8b8b8b;
                font-size: 12px;
                font-weight: 400;
                padding: 3.3%;
                padding-left: 4%;
                width: 100%;
                border: none;
                outline: none;
                margin: 0;      
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-appearance: none;
                -moz-appearance: none;

                
                  background-image:
                    linear-gradient(45deg, transparent 50%,black 50%),
                    linear-gradient(135deg, black 50%, transparent 50%);
                    
                  background-position:
                  calc(100% - 22px) calc(1em + 6px),
                  calc(100% - 17px) calc(1em + 6px);
                  background-size:
                    5px 5px,
                    5px 5px;
                  background-repeat: no-repeat;
                





                &:hover{
                  cursor: pointer;
                }
              }
            }
          }
        }

        .next_button {
          display: flex;
          width: 90%;
          justify-content: flex-end;
          margin-bottom: 1%;
          .nxt_btn {
            background: #0069de;
            border: 2px solid #ffffff;
            border-radius: 50px;
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: 12px;
            padding: 1.7% 6.5%;
            color: #ffffff;
            filter: saturate(100%);
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
