.mainPageDetailsContainer{
    .errMsg{
        font-size: 9px;
        color: red;
        position: relative;
        bottom: 10px;
        padding-right: 15px;
    }
    display: flex;
    .welcomeBack{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(to top left, rgb(0,68,138), rgb(39,124,217));
    padding-top: 30px;
    flex: 1;
        h1{
            color: white;
            font-size: 16px;
            padding-top: 10%;
            text-align: center;
        }
        p{
            color: white;
            padding: 0 20%;
            text-align: center;
            font-size: 11px;
        }
        .loginBtn{
            .newsignIn{
                background-color: transparent !important;
                color: white !important;
                font-size: 10px;
                border: 2px solid white !important;
                filter:saturate(100%) !important;
                border-radius: 20px;
                opacity: 0.87 !important;
                padding: 7px 20px;
                margin-top: 20px;
                box-shadow: 0 3px rgba(23,23,23, 0.1);
            }
        }
    }
    .detailsFormContainer{
        flex: 1.4;

        .closeBtn{
            display: flex;
            justify-content: flex-end;
            margin: 5px 10px;
            .dangerbtn{
            border: none;
                .closeIcon{
                    font-size: 16px;
                }
            }
        }
        .formContainer{
            display: flex;
            flex-direction: column;
            margin: 20px 40px 60px 60px;
            h2{
                font-size: 12px;
            }
            .newSignupForm{
                .errMsg{
                    font-size: 10px;
                    color: red;
                }
                .multinputContainer{
                    display: flex;
                    border-radius: 4px;
                    background-color: rgb(232,232,232);
                    justify-content: flex-start;
                    align-items: center;
                    margin: 10px 0 10px 0;
                input::-webkit-input-placeholder{
                    font-size: 10px;
                    vertical-align:middle !important;
                    line-height: 25px !important;
                }
                input{
                    border: none;
                    padding: 12px 7px;
                    margin-left: 0;
                    background: transparent;

                }
                input:focus{
                    outline: none;
                }
                input::placeholder{
                    font-size: 12px;
                }
                    .smallElements{
                        border-right: 10px solid white;
                        flex:1;
                        width:20px;
                        input{
                            // border: 1px solid gray;
                            width: 80%;
                        }
                    }
                    .biggerElements{
                        // border: 1px solid blue;
                        flex:4;
                        input{
                            // border: 1px solid gray;
                            width: 80%;
                        }
                    }
                }
                display:flex;
                flex-direction: column;
                .inputContainer{
                display: flex;
                border-radius: 4px;
                background-color: rgb(232,232,232);
                justify-content: flex-start;
                align-items: center;
                margin: 10px 0 10px 0;
                input::-webkit-input-placeholder{
                    font-size: 10px;
                    vertical-align:middle !important;
                    line-height: 25px !important;
                }
                .snstepwiseRegionSelectInput{
                    border: none !important;
                }
              
                .snprovinceinput{
                    // outline: 1px solid red !important;
                    // padding: 5px 0 !important;
                    background: transparent;
                    display: flex;
                    flex-direction: column;
                    height: fit-content;
                }
                // // .sndistinput{
                // //     margin:20px !important;
                // // }
                // .snmunipinput{
                //     width: 200px;
                //     background-color: red;
                    
                // }

                input{
                    border: none !important;
                    outline: none !important;
                    padding: 12px 7px;
                    margin-left: 0;
                    background: transparent;
                    width: 100% !important;
                    background-color: rgb(232,232,232);
                    border-radius: 4px !important;
                    // outline: 1px solid white !important;
                }
                input:focus{
                    outline: none;
                }
                input::placeholder{
                    font-size: 12px;
                }
                .inputIcon{
                    color: rgb(152,152,152);
                }
                }
            .moreInfo{
                font-size: 10px;
                color: #777;
            }
            }
        }
        
        .cancelAgreeBtns{
            display: flex;
            justify-content: flex-end;
            position: relative;
            bottom: 10%;
            padding-right: 40px;
        }
    }
}

.active-view {
    flex-grow: 1;
    background-color: white;
    overflow: auto;
    border: none !important;
}

.stepwise-region-select-input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none !important;
    
}