.vzMainContainer{
    position: relative;
    background-color: #182539;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-right: 75px;
    .legendContainer{
        display: flex;
        justify-content: flex-start;
        padding: 4px 0 4px 5px;
        h1{
            color: white;
        }
        .legendItemContainer{
            display: flex;
            width: 80px;
            // border: 1px solid red;
            .legendBtn{
                background-color: transparent;
                border: none;
                color: white;

                .yearsIcon{
                    padding-right: 5px;
                    color: white;
                }
            }
        
                .yearsIconClicked{
                    padding-right: 5px;
                    color: yellow;
                }
        }
    }
}







