@import '~base-scss/base';


// .numeral {
//     display: block;
//     padding: $spacing-small;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

.header{
    display: flex;
    // border: 1px solid green;
    width: 50vw;
    height: 12vh;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;

        .headerItem {
            padding: 1.25rem 0.625rem 1.25rem 0px;
            margin: 0px 0.625rem 0px 0px;
            display: flex;
            font-size: 0.875rem;
            text-align: center;
            color: #85888a;
            font-weight: 600;
            width: auto;
            text-transform: uppercase;
            overflow: hidden;
            &:hover{
                cursor: pointer;
                 }
        }
   
        .headerItemActive{
            @extend .headerItem;
            padding: 1.25rem 0.625rem 0.8125rem 0px;
            border-bottom: 7px solid #2470ab
        }

   
}

.bodyheader {
    display: flex;
    align-items: center;
    height: 5vh;
    gap: 15px;

    .headerContent{
        display: flex;
        align-items: center;
        cursor: pointer;
        max-width: 10%;
        min-width: 10%;
    .bodyHeaderItem {
        font-size: 0.75rem;
        font-weight: 600;
        padding-right: 3px;
        text-transform: capitalize;
        color: #7599b9;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
    overflow: visible;
   white-space: normal;
   height: auto;
   width: max-content;
            }     

    }

    .sort{
        font-size: 12px;
        color: #7599b9;
        
    }
}

}

.bodyContainer {
    display: flex;
    flex-direction: column;
    .bodyWrapper {
        display: flex;
        align-items: center;
        gap: 15px;

        .bodyItem {
            font-size: 0.75rem;
            text-transform: capitalize;
            font-weight: 500;
            padding-right: 3px;
            max-width: 10%;
            min-width: 10%;
            text-align: justify;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

        }
    }

    .totalValues{
        @extend .bodyWrapper;
        background: #e5e5e5;
    }

}

.loss-and-damage-table-modal {
    width: 80vw;
    height: 80vh;

    .body {
        display: flex;
        flex-direction: column;
        overflow-anchor: none;
        scroll-behavior: smooth;
        width: auto;


        .table {
            flex-grow: 1;
        }
    }
}