@import '~base-scss/base';

.project {
    cursor: pointer;
    padding: var(--spacing-medium);

    .heading {
        padding: 0 var(--spacing-small);
        text-transform: capitalize;
    }

    .budget {
        align-items: baseline;
        padding: 0 var(--spacing-small);
        font-size: var(--font-size-large);
    }

    .date-container {
        display: flex;

        .end-date,
        .start-date {
            padding: 0 var(--spacing-small);
        }
    }

    &:hover {
        background-color: $color-background-hover;
    }
}

.modal {
    .modal-header {
        >h2 {
            text-transform: capitalize;
            font-weight: $font-weight-bold;
        }

        >button {
            cursor: pointer;
        }
    }

    .modal-body {
        height: 540px;
        overflow-y: auto;

        .table {
            display: table;
        }


        .capitalize-value {
            text-transform: capitalize;
        }

        .outputs {
            .output {
                margin-top: $spacing-large;

                h3 {
                    text-transform: capitalize;
                }
            }
        }
    }
}
