.filter-form {
    padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

    .heading {
        padding: var(--spacing-small) var(--spacing-medium);
    }

    .input {
        margin: var(--spacing-medium);
    }

    .actions {
        padding: var(--spacing-small) var(--spacing-medium);
    }
}
