.streamFlowContainer{
    position: relative;
    min-width: 70px;
    background-color: white;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    .legendHeader{
        margin: 5px 10px;
    }
    .rangeWrapper{
        max-height: 180px;
        overflow-y: scroll;
        margin-bottom: 50px;
    .legendElements{
       display: flex;
       margin: 5px 10px;
       padding: 0;
       align-items: center;
       max-height: 25px;
        .colorElement{
            border: 1px solid black;
            height: 9px;
            width: 9px;
            border-radius: 50%;
        }
        .scoreStream {
            margin: 0;
            padding: 1px 5px;
            font-size: 11px;
        }
    }
}
.streamSource {
    position: absolute;
    bottom: 5px;
    padding: 3px 10px;
    font-size: 11px;

    
}
.streamLink{
    color: #e35163;
    font-size: 10px;
}
}