.inputContainer{
    display: flex;
    border-radius: 3px;
    background-color: rgb(232,232,232);
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
    padding-left: 10px;
    // border: 1px solid blue;
    .labelDate{
    padding-left: 10px;
    color: #777;
    width: 100%;
    // margin-top: 15px;
    }
    select{
    border: none !important;
    padding: 0px 10px;
    background: transparent;
    width: 100%;
    padding: 15px 10px !important;
    color: #777;
    }
    .label{
    padding: 12px 18px 0 15px;
    width: 100%;
    font-size: 10px;
    color: #111;
    }
    .datepicker{
    width: 100%;
    }
    .addEditBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    filter: saturate(100%);
    
    .addEditIcon{
    font-size: 18px;
    padding-right: 10px;
    color: rgb(49,158,255);
    }
    }
    .inputElement{
    padding: 0;
    }
    
    input::-webkit-input-placeholder{
    font-size: 10px;
    vertical-align:middle !important;
    line-height: 25px !important;
    }
    
    input{
    border: none;
    padding: 15px 10px !important;
    background: transparent;
    width: 100%;
    }
    input:focus{
    outline: none;
    }
    input::placeholder{
    font-size: 12px;
    }
    .inputIcon{
    color: rgb(152,152,152);
    }
    }
  .buttonDiv{
    display: flex;
  }
.tabsPageContainer{
   
    //     tr:nth-child(even) {
    //     background-color:#f5f5f5
    // }
        
}

.damageContainer{
    display: flex;
    justify-content: space-between;
    // border: 1px solid gray;
    margin-bottom: 30px;
    margin-top: 30px;
    .damageItemContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // margin-right: 40px;
        padding-left: 25px;
        .bulletPoint{
            width: 50px;
            height: 50px;
        }
        .damageTitle{
            color: #666;
        }
    }

}

.savebtn{
    position: relative;
    margin-top: 15px;
    width: fit-content;
    background-color: rgb(0,105,222) !important;
    border-radius: 15px;
    color: white; 
    padding: 8px 18px;
    cursor: pointer;
    // border: none;
    filter: saturate(80%);
    margin-left:85%; 
    
}