.documents {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    padding: calc(var(--spacing-large) - var(--spacing-medium));

    >.header {
        flex-shrink: 0;

        .heading {
            padding: var(--spacing-medium);
        }
    }

    .filters {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: var(--spacing-medium);
    }

    .content {
        flex-grow: 1;
    }
}

.document-details {
    padding: calc(var(--spacing-medium) - var(--spacing-extra-small)) 0;

    .header {
        display: flex;
        align-items: center;

        .heading {
            flex-grow: 1;
            padding: var(--spacing-extra-small) var(--spacing-medium);
        }

        .actions {
            flex-shrink: 0;
            padding: 0 calc(var(--spacing-medium) - var(--spacing-extra-small));

            .download-link {
                display: flex;
                align-items: center;
                color: var(--color-accent);

                .icon {
                    margin: var(--spacing-extra-small) var(--spacing-extra-small-alt);
                }

                .text {
                    padding: var(--spacing-extra-small) var(--spacing-extra-small-alt);
                    text-transform: uppercase;
                    font-weight: var(--font-weight-bold);
                }
            }
        }
    }

    &:hover {
        background-color: var(--color-background-hover);
    }
}

.detail-item {
    display: flex;
    align-items: center;
    padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

    .label {
        padding: 0 var(--spacing-small);
        color: var(--color-text-label);
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-bold);

        &:after {
            content: ':',
        }
    }

    .value {
        padding: 0 var(--spacing-small);
    }
}
