.left {
    display: flex;
    flex-direction: column;
    width: var(--width-left-panel);
    overflow: auto;

    >.header {
        display: flex;
        flex-shrink: 0;
        background-color: var(--color-background);

        .tabs {
            display: flex;
            flex-grow: 1;

            .tab {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;
                padding: var(--spacing-medium);

                .value {
                    color: var(--color-accent);
                    font-size: var(--font-size-ultra-large);
                }

                .title {
                    display: flex;
                    align-items: center;

                    .rainwatch-icon {
                        margin: var(--spacing-extra-small) var(--spacing-small);
                        border-radius: 50%;
                        background-color: var(--color-text-light);
                        width: var(--font-size-small);
                        height: var(--font-size-small);
                    }

                    .riverwatch-icon {
                        margin: var(--spacing-extra-small) var(--spacing-small);
                        background-color: var(--color-text-light);
                        width: var(--font-size-small);
                        height: var(--font-size-small);
                    }
                }

                .text {
                    padding: var(--spacing-extra-small) var(--spacing-small);
                    font-weight: var(--font-weight-bold);
                }

                &:hover {
                    background-color: var(--color-background-hover);
                }

                &.active {
                    background-color: var(--color-foreground);
                }
            }
        }

        .actions {
            align-self: center;
            flex-shrink: 0;
            padding: var(--spacing-medium) var(--spacing-large);

            .show-table-button {
                font-size: var(--font-size-large);
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: var(--color-foreground);
        overflow: auto;

        .message {
            flex-grow: 1;
        }

        .riverwatch-list,
        .rainwatch-list {
            flex-grow: 1;

            .header {
                flex-shrink: 0;
                padding: var(--spacing-large);
            }

            .content {
                flex-grow: 1;
                overflow: auto;
            }
        }
    }
}

.main {
    display: flex;
    left: calc(var(--width-left-panel) + var(--spacing-medium));
    transform: none;

    .legend-container {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        border: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding: var(--spacing-medium);
        overflow: auto;

        .heading {
            flex-shrink: 0;
            padding: var(--spacing-medium);
            text-transform: uppercase;
            color: var(--color-text);
            font-size: var(--font-size-small);
        }

        .legend-icon { margin: 0 var(--spacing-medium) }

        .legend {
            flex-grow: 1;

            .legend-item {
                display: flex;
                align-items: center;
                padding-left: var(--spacing-medium);
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-bold);

                >div:first-child {
                    width: 16px;
                    text-align: center;
                }

                >div:last-child {
                    padding: var(--spacing-extra-small-alt) var(--spacing-small);
                }

                &:hover {
                    background-color: var(--color-background-hover);
                }
            }
        }

        .content {
            display: flex;
            flex-grow: 1;
            padding: var(--spacing-small);

            .legend {
                display: flex;
                flex-direction: column;
                padding: var(--spacing-small);
            }
        }

        .color-legend {
            .item {
                padding: var(--spacing-extra-small) var(--spacing-small);
                text-transform: uppercase;
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-bold);

                &.below-warning {
                    background-color: var(--color-success);
                    color: var(--color-text-on-success);
                }

                &.above-warning {
                    background-color: var(--color-warning);
                    color: var(--color-text-on-warning);
                }

                &.above-danger {
                    background-color: var(--color-danger);
                    color: var(--color-text-on-danger);
                }
            }

        }
    }
}

