.right {
    width: var(--width-realtime-filter);
}

.left {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: var(--width-left-panel);
    overflow: auto;

    .mini-river-watch {
        flex-basis: 50%;
    }

    .mini-rain-watch {
        flex-basis: 50%;
        border-top: var(--width-separator-thin) solid var(--color-separator);
    }
}

.main {
    display: flex;
    left: calc(var(--width-left-panel) + var(--spacing-medium));
    transform: none;

    .legend-container {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        border: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding: var(--spacing-medium);
        overflow: auto;

        .heading {
            flex-shrink: 0;
            padding: var(--spacing-medium);
            text-transform: uppercase;
            color: var(--color-text);
            font-size: var(--font-size-small);
        }

        .legend-icon { margin: 0 var(--spacing-medium) }

        .legend {
            flex-grow: 1;

            .legend-item {
                display: flex;
                align-items: center;
                padding-left: var(--spacing-medium);
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-bold);

                >div:first-child {
                    width: 16px;
                    text-align: center;
                }

                >div:last-child {
                    padding: var(--spacing-extra-small-alt) var(--spacing-small);
                }

                &:hover {
                    background-color: var(--color-background-hover);
                }
            }
        }

        .content {
            display: flex;
            flex-grow: 1;
            padding: var(--spacing-small);

            .legend {
                display: flex;
                flex-direction: column;
                padding: var(--spacing-small);
            }
        }

        .color-legend {
            .item {
                padding: var(--spacing-extra-small) var(--spacing-small);
                text-transform: uppercase;
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-bold);

                &.below-warning {
                    background-color: var(--color-success);
                    color: var(--color-text-on-success);
                }

                &.above-warning {
                    background-color: var(--color-warning);
                    color: var(--color-text-on-warning);
                }

                &.above-danger {
                    background-color: var(--color-danger);
                    color: var(--color-text-on-danger);
                }
            }

        }
    }
}

