
    .vrSideBar{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #193341;
        color:#b6d6e4;
        padding: 70px 30px;
        width: calc(30% - 60px);
        height: 100vh;
        right: 0;
        padding-right: 20px;
        overflow-y: scroll;
        margin-right: 60px;
        // visibility: hidden;
        .referencesTitle{
            margin-top: 50px;
        }
        .profileList{
         list-style: none;
         color: white;
         padding-left: 0;
        }
        .bottomInfo{
            font-size: 12px;
            color: white;
            opacity: 0.87;
            padding-right: 10px;
            max-height: 0;
            transform: scaleY(1);   
            transition: transform 0.26s ease-out;
            margin-top: 2px;
        }
        .bottomInfoHide{
            transform: scaleY(0);
            transition: transform 0.26s ease-in;
            font-size: 12px;
            color: white;
            opacity: 0.87;
            padding-right: 10px;
            max-height: 0;
            margin-top: 2px;


        }
        .iconContainer{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            position: relative;
            margin-top: 15px;
            margin-bottom: 25px;
            // bottom: 20px;
      
            .infoContainerBtn{
                background-color: transparent;
                border: none;
                color: white;
                .closeIcon{
                    color: white;
                    opacity: 0.87;
                padding-right: 5px;

                }
            }
        }
        .chartsContainer{
            height: 250px;
            margin-top: 20px;
            // width:100%;
            .respContainer{
                height: 250px;
            }
        }

        h1{
        font-family: 'Playfair Display';
        font-size: 22px;
        color: white;
        opacity: 0.87;
        margin-bottom: 10px;
        // margin-top: 25px;
        }

        p{
            color:white;
            font-size: 14px;
            font-family: 'Source Sans Pro';
            opacity: 0.87;
            line-height: 1.4em;
        }
    }






