@import '~base-scss/base';

.stats-container {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding: $spacing-extra-small $spacing-medium;

    .stat {
        flex-basis: 50%;
        padding: $spacing-small 0;
    }
}
