.tooltipContainer{
    // background-color: rgb(232,82,74);
    background-color: white;
    border-radius: 10px;
    // opacity: 0.87;
    padding: 10px;
    h1{
        .field{
            padding-right: 4px;
        }
        color: rgb(232,82,74);

    }
    p{
        font-size: 13px;
    }
}