.previewContainer{
    background: white;
    border: 1px solid £#f5f5f5;
    .row{
        display: flex;
        padding: 0 10px;
        .columntwo, .columnOne{
        display: flex;
            flex-direction: column;
            // border: 1px solid red;
            justify-content: center;
            align-self: flex-start;
        }
    }
}