.login-modal {
    display: flex;
    background-color: var(--color-foreground);
    height: 80vh;

    .header {
    }

    .content {
        display: flex;
        flex-direction: column;

        .tabs {
            flex-shrink: 0;
        }

        .view {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;
        }
    }
}
