.mainContainer {
    // width: calc(100vw - 60px);
    height: 100%;
    color: black;
    display: flex;
    background-color: white;
    width: 100vw;

    .sidebar {
        flex: 2;
        border-right: 2px solid gray;
        opacity: 0.67;

        .sideNavHeading {
            height: 10vh;
        }

        .mainSideBarBody {
            margin-top: 100px;


            h3 {
                margin-left: 30px !important;
                margin: 20px 0px;
                font-size: 18px;
                color: #000000;
                opacity: 0.67;
                font-weight: 500;
            }

            .sidebarCategories {
                display: flex;
                flex-direction: column;

                .active {
                    font-weight: 500;
                    color: #396CD0;
                    border-right: 3px solid #396CD0;
                }

                span {
                    margin-left: 50px !important;
                    display: flex;
                    height: 30px;
                    align-items: center;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 400;
                    color: #687376;
                }
            }
        }
    }

    .mainBody {
        flex: 6;
        overflow: scroll;

        .content {
            margin-top: 100px;
            margin-left: 100px;
            margin-right: 400px;
            margin-bottom: 100px;

            .questionList {
                min-height: 40px;
                background-color: #E7E7E7;
                padding: 20px;
                margin: 20px 0px;

                .question {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        font-weight: 500;
                        font-size: 16px;
                        color: #0C0C0C;
                        opacity: 0.87;
                    }

                    img {
                        color: #000000;
                    }
                }

                .answers {
                    width: 80%;
                    margin: 20px 0px;

                    span {
                        font-weight: 500;
                        font-size: 16px;
                        color: #0C0C0C;
                        opacity: 0.87;
                    }
                }

            }

            p {
                text-align: justify;
                font-weight: 400;
                color: #0C0C0C;
                opacity: 0.67;
                font-size: 16px;
            }

            h1 {
                font-weight: 500;
                color: #0C0C0C;
                opacity: 0.87;
            }
        }
    }

    .footerButtonPreview {
        justify-content: space-between !important;
    }

    .footerButton {
        margin-left: 100px;
        margin-right: 400px;
        display: flex;
        justify-content: flex-end;

        .headingNext {
            font-size: 16px;
            font-weight: 600;
            color: #000000;
            opacity: 0.87;

        }

        button {
            border: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-left: auto;
            cursor: pointer;

            img {
                margin-left: 5px;
                margin-right: 5px;
            }

            .nextButtonText {
                font-weight: 500;
                color: #000000;
                opacity: 0.38;
            }
        }
    }

}