@font-face {
    font-family: "Kalimati Regular";
    src:url("../../../../resources/fonts/Kalimati\ Regular.ttf") format("truetype");
    unicode-range: U+30-39;
    }
    
  .languageFont{
    font-family: "Kalimati Regular","Fira Sans", sans-serif !important;
   }
.add-incident-form-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
    height: 80vh;
    overflow-y: auto;

    .tabs {
        flex-shrink: 0;
    }

    .general-inputs {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        overflow-y: auto;

        .body {
            flex-grow: 1;
            overflow-y: auto;
        }

        .footer {
            flex-shrink: 0;
        }
    }

    .people-loss-list {
        display: flex;
        position: relative;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        overflow-y: auto;
    }
}


