.add-incident-form-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
    height: 80vh;

    .header {
        border-bottom: none;
    }

    .add-incident-form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 0;

            .tabs {
                flex-shrink: 0;
            }

            .general-inputs {
                flex-grow: 1;
                width: 100%;
                overflow: auto;
            }

            .people-loss-list {
                flex-grow: 1;
                width: 100%;
                overflow: auto;
            }
        }
    }
}


