@import '~base-scss/base';

$width-right-panel: var(--width-right-panel);

.filter {
    .show-filters-button-container {
        top: 0;
        right: 0;
        transform-origin: 100% 0;
    }

    .filters-container {
        transform-origin: 100% 0;
        border: $width-separator-thin solid $color-separator-light;
        border-radius: $radius-border-large;
        background-color: rgba(255, 255, 255, .9);
        width: $width-right-panel;

        .form {
            display: flex;
            flex-direction: column;
            max-height: calc(100vh - calc(#{$height-navbar} + #{$spacing-medium} * 2));
            overflow-y: auto;
        }

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .heading {
                flex-grow: 1;
                padding: $spacing-medium;
                color: $color-primary;
            }

            button {
                flex-shrink: 0;
                margin-right: $spacing-small;
            }
        }

        .content {
            flex-grow: 1;
            padding: 0 $spacing-medium;
            overflow-y: auto;

            .location-select-input,
            .event-select-input,
            .past-data-select-input,
            .list-selection-input {
                margin-bottom: $spacing-medium;
            }
        }
    }

    :global {
        .expanded-container-ghost,
        .collapsed-container-ghost {
            top: 0;
            right: 0;
        }

        .expanded-container-expanding {
            top: 0;
            right: 0;
        }
    }
}
