@import '~base-scss/base';

$width-right-panel: var(--width-right-panel);

.filter {
    .show-filters-button-container {
        top: 0;
        right: 0;
        transform-origin: 100% 0;
    }

    .filters-container {
        transform-origin: 100% 0;
        border: $width-separator-thin solid $color-separator-light;
        border-radius: $radius-border-large;
        background-color: rgba(255, 255, 255, .9);
        padding: 0 $spacing-small;
        width: $width-right-panel;

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .heading {
                flex-grow: 1;
                padding: $spacing-medium $spacing-small;
                color: $color-primary;
            }

            button {
                flex-shrink: 0;
            }
        }

        .content {
            flex-grow: 1;
            overflow: auto;

            .list-selection-input {
                margin: $spacing-medium $spacing-small;
            }

            .past-data-select-input {
                margin: $spacing-medium $spacing-small;
            }
            .event-select-input {
                margin: $spacing-medium $spacing-small;
            }
        }
    }

    :global {
        .expanded-container-ghost,
        .collapsed-container-ghost {
            top: 0;
            right: 0;
        }

        .expanded-container-expanding {
            top: 0;
            right: 0;
        }
    }
}
