.toBarContainer{
    width: 100%;
    display: flex;
    border: 1px solid #f5f5f5;
    justify-content: flex-end;
    margin: 0;
    position: absolute;
    margin-right: 80px;
    top: 0;
    .langBtn{
        background: transparent;
        border: 1px solid #f5f5f5;
        cursor: pointer;
        &:hover{
            background-color: #f5f5f5;
        }
        .langText{
            font-size: 16px;
            color: #777;
        }
        .langIcon{
            font-size: 16px;
            color: #777;
        }
    }
}