@import '~base-scss/base';

.incident-item {
    display: block;
    text-decoration: none;
    color: inherit;

    .header {
        .heading {
            padding-bottom: $spacing-extra-small;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: $font-weight-bold;
        }
    }

    .geo-output {
        padding-bottom: $spacing-extra-small;
    }
    
    .date-output {

    }
}

