@import '~base-scss/base';

.visualization-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--spacing-medium);

    %visualization-container {
        flex-basis: calc(100% / 2);
        padding: $spacing-large;

        .header {
            .heading {
                padding: $spacing-small $spacing-medium;
            }
        }

        .chart {
            height: 320px;
        }
    }

    .bar-chart-container {
        @extend %visualization-container;

        .chart {
            height: 480px;
        }
    }

    .donut-container {
        flex-grow: 1;
        @extend %visualization-container;

        .content {
            .chart {
                height: 320px;
            }

            .legend {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;

                .legend-item {
                    flex-basis: calc(100% / 3);
                    padding: $spacing-small;
                    color: $color-text-label;
                    font-size: $font-size-small;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}
