.fire-tooltip {
    width: 250px;
    font-size: var(--font-size-medium-alt);
    .header {
      background-color: var(--color-primary);
      padding: var(--spacing-medium) var(--spacing-medium-alt);
      color: var(--color-text-on-primary);
      .title {
        color: white;
        font-weight: bold;
        font-size: 16px;
      }
      
      .date {
        color: white;
        margin-top: 5px
      }
    }
    
    .content {
      background-color: white;
      max-height:20vh;
      overflow: auto;
      .land-cover {
        padding: var(--spacing-medium) var(--spacing-medium-alt);
        border-bottom: 1px solid #ececec;

      .title {
        font-weight: bold;
        }
    }

    .brightness {
      padding: var(--spacing-medium) var(--spacing-medium-alt);
      border-bottom: 1px solid #ececec;

    .title {
      font-weight: bold;
      }

  }   
      .source {
        padding: var(--spacing-small) var(--spacing-medium-alt);
      
      .disclaimer {
        font-size: 10px;
        color: #716465;
        .infoIcon{
          color:red;
          font-size: 13px;
          padding-right: 3px;
        }
      }

      .title {
        font-weight: bold;
      }
      .value {
        color: red;
      }
    }
    }

    
  }