@import '~base-scss/base';

.filter {
    flex-grow: 1;
    overflow: auto;

    .past-data-select-input {
        padding: $spacing-small;
    }

    .list-selection-input {
        padding: $spacing-small;
    }
}
