@import '~base-scss/base';

$width-table-container: 260px;

.filter {
    .header {
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .heading {
            flex-grow: 1;
            padding: $spacing-medium $spacing-small;
            color: $color-primary;
        }

        button {
            flex-shrink: 0;
        }
    }

    .show-filter-button-container {
        top: 0;
        right: 0;
        transform-origin: 100% 0;
    }

    .filters-container {
        transform-origin: 100% 0;
        border: $width-separator-thin solid $color-separator-light;
        background-color: $color-foreground;
        padding: 0 $spacing-small;
        width: $width-table-container;
    }

    :global {
        .expanded-container-ghost,
        .collapsed-container-ghost {
            top: 0;
            right: 0;
        }

        .expanded-container-expanding {
            top: 0;
            right: 0;
        }
    }
    
    .filter-form {
        flex-grow: 1;
        overflow: auto;

        .past-data-select-input {
            padding: $spacing-small;
        }

        .list-selection-input {
            padding: $spacing-small;
        }
    }
}
