.previewContainer{
    display:flex;
    flex-direction: column;
    width: 190mm;
    height: 270mm;
    padding: 10mm 10mm 0 10mm;
    // background-color: #f0f0f0;
    table{
        border-collapse: collapse;
        width: 100%;
    }
    th{
        padding: 0.1rem;
        text-align: left;
        color: #777;
        font-weight: 400;
        font-size: 11px;
    }
    td{
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        padding: 0.1rem;
        text-align: left;
    }
        tr:nth-child(odd) {
        background-color:#f5f5f5
    }
.header{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    border-bottom: 1px solid #e5e5e5;
    // border: 1px solid red;
    .bulletPoint{
        width: 20.8mm;
        height: 10.4;
    }

    .title{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        text-align: right;
        // border: 1px solid #f5f5f5;
    }
    .address{
        // border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        .desc{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            // margin-left: 15px;
            line-height: 1.5em;
            .pageOneTitle{
                font-weight: 600;
                font-size: 16px;
            }
            ul{
                list-style: none;
                right: 30px;
                position: relative;
            }
        }
        
    }
    .location{
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        border-left: 1px solid gray;
        height: 50px;
        justify-content: center;
        align-items: center;
        top: 30px;
        position: relative;
        .pageOneTitle{
            font-size: 28px;
            font-weight: 600;
        }
        ul{
            list-style: none;
            position: relative;
            right: 50px;
            // top: 10px;
        }
        h1{
            font-size: 18px;

        }

    }
}



.rowOne{
    display: flex;
    // border: 1px solid #f5f5f5;
    align-items: space-between;
    height: 50mm;
    padding-top: 10px;
    // border: 1px solid red;
    .columnOneOne{
        // flex:3;
        // border: 1px solid #f5f5f5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // height: 90%;
        // display: flex;
        width: 105mm;
        padding: 5px;
        .rolesDesc{
            list-style: none;
            margin: 0;
            padding: 0 0 20px 0;
            h2{
                font-size: 16px;
            }
        }
        .subTitle{
            display: flex;
            .dates{
                display: flex;

            }
        .members{
            position: relative;
            right: 30px;
        }
        }
        
        // justify-content: center;
        // align-items: center;

    }
    .columnOneTwo{
        // flex:2;
        // height: 100%;
        display: flex;
        flex-direction: column;
        width: 105mm;
        padding: 5px;
        // border: 1px solid red;
        align-items: flex-end;
        h2{
            position: relative;
            left: 50px;
        }
    }
}



.rowTwo{
    display: flex;
    // border: 1px solid #f5f5f5;
    align-items: space-between;
    height: 40mm;
    // border: 1px solid red;
    padding-top: 10px;
    .columnTwoOne{
        width: 105mm;
    //   border: 1px solid #f5f5f5;
        height: 90%;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        padding: 5px 0;

    }
    .columnTwoTwo{
        display: flex;
        flex-direction: column;
        width: 105mm;
        padding: 5px;
        // border: 1px solid red;
        align-items: flex-end;
        padding: 5px 0;
        table{
            // border: 1px solid blue;
            display: block;
            width: 90%;
        }

    }
}

.rowCI{
    margin-top: 5px;
    margin-bottom: 15px;
  .mainTitle{
        margin-bottom: 10px;
    }
}
.rowOrg{
    margin-top: 5px;
    margin-bottom: 15px;

    .tabsPageContainer{
        h1,h2{
            font-size: 10px;
        }
    }
    // border: 1px solid red;
    .mainTitle{
        margin-bottom: 10px;
    }
}

.rowInventory{
    .mainTitle{
        margin-bottom: 15px;
    }
}
.rowThree{
    display: flex;
    // border: 1px solid #f5f5f5;
    align-items: space-between;
    height: 40mm;
    // border: 1px solid red;

    .columnThreeOne{
        display: flex;
        flex-direction: column;
        width: 105mm;
        padding: 5px;
        align-items: center;
        justify-content: center;

    }
    .columnThreeTwo{
        display: flex;
        flex-direction: column;
        width: 105mm;
        padding: 5px;
        align-items: center;
        justify-content: center;

    }
}

.rowFour{
    display: flex;
    // border: 1px solid #f5f5f5;
    align-items: space-between;
    .columnFourOne{
    // border: 1px solid #f5f5f5;
        height: 90%;
        flex: 1;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        padding: 5px 0;

    }
    .columnFourTwo{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 105mm;
        // padding: 5px;
        // border: 1px solid red;
        align-items: flex-start;
        position: relative;
        left: 50px;
        padding-top: 10px;
        .simulations{
            text-align: left;
        }
    }
}

}




