
.vzMainContainer{
    position: relative;
    background-color: #262834;
    justify-content: center;
    display: flex;
    flex-direction: row;
    // border: 1px solid white;
    padding-right: 75px;
    .map2{
        margin: 0 var(--spacing-small);
        height: 100vh;
        width: 100vw;
        position: relative;
        flex:3;
    }
}






