.pdfContainer{
    // border: 1px solid red;
    width: 210mm;
    padding: 0;
    background-color: #f8f8f8;
    margin: 50px auto;
   .downloadBtn{
       display: flex;
       align-items: center;
       justify-content: space-around;
    //    margin-left: 10px;
      background: #003572;
      border: none;
      padding: 8px 12px;
      border-radius: 3px;
      color: rgba(255,255,255,0.95);
      cursor: pointer;
        filter: saturate(100%);
        margin-bottom: 30px;
        margin-top: 10px;
       .loaderContainer{
           width:5px;
           height: 5px;
        //    border: 1px solid red;
        //    position: absolute;
           left:0;
       }
   }
   .downloadBtnDisabled{
    @extend .downloadBtn;
    background-color: gray;
    cursor:not-allowed;
   }

    .btnContainer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        padding-top: 20px;
        // padding-right: 16mm;
        .prevBtn{
            margin-right: 10px;
            margin-bottom: 16px;
            color: #003572;
            background-color: transparent;
            border: none;
            padding: 0 12px;
            cursor: pointer;
            filter: saturate(100%);
        }
    }
}