.layer-selection-item {
    padding: calc(var(--spacing-small) - var(--spacing-extra-small)) calc(var(--spacing-medium-alt) - var(--spacing-medium));

    .switch-input {
        display: flex;
        align-items: center;
        padding: 0 calc(var(--spacing-medium) - var(--spacing-small));

        .switch {
            flex-shrink: 0;
            margin: var(--spacing-extra-small) var(--spacing-small);
        }

        .title {
            flex-grow: 1;
            padding: var(--spacing-extra-small) var(--spacing-small);
            font-weight: var(--font-weight-bold);
        }

        .actions {
            display: flex;
            flex-shrink: 0;
            transition: .2s opacity ease-in-out;
            opacity: 0;

            .info-button {
                flex-shrink: 0;
                margin: var(--spacing-extra-small) var(--spacing-small);
                color: var(--color-primary);
            }
        }

        &:hover {
            .actions {
                opacity: 1;
            }
        }
    }

    .short-description {
        padding: var(--spacing-extra-small) var(--spacing-medium);
        text-align: justify;
        white-space: pre-wrap;
        color: var(--color-text-light);
        font-size: var(--font-size-small-alt);
    }
}
