.river-watch-modal {
    width: 90vw;
    height: 90vh;
    overflow: auto;

    .body {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .river-watch-table {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;

            .below {
                background-color: #78e08f;
            }

            .above {
                background-color: #fa983a;
            }

            .danger {
                background-color: #eb2f06;
            }
        }
    }
}
