.resource-profile {
    padding: 0 calc(var(--spacing-large) - var(--spacing-medium));

    .header {
        .heading {
            padding: var(--spacing-medium);
            color: var(--color-primary);
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        padding: var(--spacing-medium) 0;

        .attribute {
            display: flex;
            align-items: center;
            flex-basis: 50%;
            padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

            .icon-container {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                justify-content: center;
                margin: var(--spacing-small) var(--spacing-medium);
                border: var(--width-separator-medium) solid var(--color-accent-light);
                border-radius: 50%;
                padding: var(--spacing-medium-alt);

                .icon {
                    width: 32px;
                    height: 32px;
                    fill: var(--color-text-light);

                    path {
                        fill: var(--color-text-light);
                    }
                }
            }

            .details {
                flex-grow: 1;
                padding: calc(var(--spacing-small) - var(--spacing-extra-small)) 0;

                .value {
                    padding: var(--spacing-extra-small) var(--spacing-medium);
                    color: var(--color-text);
                    font-size: var(--font-size-super-large);
                    font-weight: var(--font-weight-medium);
                }

                .label {
                    padding: var(--spacing-extra-small) var(--spacing-medium);
                    text-transform: uppercase;
                    color: var(--color-text-light);
                    font-size: var(--font-size-small);
                }
            }

            &:hover {
                background-color: var(--color-background-hover);
            }
        }
    }
}
