.resource-profile {
    padding: 0 calc(var(--spacing-large) - var(--spacing-medium));

    .header {
        .heading {
            padding: var(--spacing-medium);
            color: var(--color-primary);
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        padding: var(--spacing-medium) 0;

        .attribute {
            display: flex;
            align-items: center;
            flex-basis: 50%;
            padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;
            filter: brightness(160%) saturate(70%);

            .icon {
                margin: var(--spacing-small) var(--spacing-medium);
                width: 36px;
                height: 36px;
                fill: var(--color-accent);

                path {
                    fill: var(--color-accent);
                }
            }

            .details {
                padding: calc(var(--spacing-small) - var(--spacing-extra-small)) 0;

                .value {
                    padding: var(--spacing-extra-small) var(--spacing-medium);
                    color: var(--color-accent);
                    font-size: var(--font-size-super-large);
                    font-weight: var(--font-weight-medium);
                }

                .label {
                    padding: var(--spacing-extra-small) var(--spacing-medium);
                    text-transform: uppercase;
                    color: var(--color-text-light);
                    font-size: var(--font-size-small);
                }
            }

            &:hover {
                filter: brightness(100%) saturate(100%);
                background-color: var(--color-accent-light);
            }
        }
    }
}
