.footer{
    display: flex;
 
    padding: 10px 50px;
    // margin-top: 10px;
    align-items: center;
    // justify-content: center;
    width: 100%;
    background-color: rgb(30,37,76);
    .leftContainer{
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: flex-start;
        width: 70%;
        h2{
            font-size: 16px;
            color: white;
            display: none;
        }
        .horizontalLine{
            color: white;
            opacity: 0.37;
            // border: 1px solid white;
            background: white;
            height: 1px;
            width: 70%;
            margin-left: 0;
            display: none;
        }
        .address{
            ul{
                list-style: none;
                padding-left: 0;
                color: white;
                font-size: 14px;
                line-height: 1.2em;
            }
        }
    }
}