.mapboxgl-ctrl button .mapboxgl-ctrl-icon {
    background-color: black;
    fill: white;
    stroke: white;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 25px -10px 0px 0px;
}

.mapboxgl-ctrl-group button {
    border: 1px solid white !important
}