@import '~base-scss/base';

$height-menu: 160px;

.navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    padding: 0 $spacing-medium;
    width: 100%;
    height: $height-navbar;

    .logo {
        display: flex;

        .left {
            background-color: #f04656;
            width: 12px;
        }

        .right {
            background-color: #1080ff;
            padding: $spacing-small;
            color: #ffffff;
            font-size: $font-size-extra-large;
            font-weight: $font-weight-bold;
        }
    }

    .menu-button {
        padding: $spacing-extra-small $spacing-medium;
        font-size: $font-size-extra-large;
    }

    .menu {
        @include transition-medium();
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        z-index: 10;
        border-left: $width-separator-thin solid $color-separator-light;
        background-color: $color-foreground;
        width: $width-navbar;
        height: 100vh;
        overflow-y: auto;

        &.shown {
            right: 0;
        }

        header {
            display: flex;
            justify-content: space-between;
            margin-bottom: $spacing-large;
            padding: $spacing-medium;

            .menu-close-button {
                font-size: $font-size-extra-large;
            }
        }

        .menu-items {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .menu-item {
                @include transition-medium;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                border-bottom: $width-separator-thin solid $color-separator-light;
                background-color: $color-foreground;
                cursor: pointer;
                padding: $spacing-medium $spacing-small;
                text-decoration: none;
                color: $color-text-label;

                .icon {
                    @include transition-medium;
                    opacity: .6;
                    margin-bottom: $spacing-small;
                    font-size: $font-size-super-large;
                }

                .menu-title {
                    @include transition-medium;
                    text-align: center;
                    font-size: $font-size-extra-small;
                    font-weight: $font-weight-bold;
                }

                &:hover {
                    color: $color-text;

                    .icon {
                        opacity: 1;
                    }
                }

                // TODO: should be active
                &.selected {
                    background-color: $color-background-selected;
                    color: $color-accent;

                    .icon {
                        opacity: 1;
                    }
                }

                &.disabled {
                    opacity: .5;
                    color: $color-text-disabled;
                }
            }
        }
    }
}
