.navbar {
    display: flex;
    background-color: var(--color-foreground);

    .left {
        display: flex;
        flex-shrink: 0;
    }

    .middle {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }

    .right {
        display: flex;
        flex-shrink: 0;

        .username {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 var(--spacing-medium);
        }
    }
}
