.left-content-container {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .header {
        display: flex;
        flex-shrink: 0;
        background-color: var(--color-background);

        .tabs {
            display: flex;
            flex-grow: 1;

            .tab {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;
                padding: var(--spacing-medium);

                .visualization-icon {
                    color: var(--color-accent);
                    font-size: var(--font-size-ultra-large);
                }

                .title {
                    display: flex;
                    align-items: center;
                }

                .text {
                    padding: var(--spacing-extra-small) var(--spacing-small);
                    font-weight: var(--font-weight-bold);
                }

                &:hover {
                    background-color: var(--color-background-hover);
                }

                &.active {
                    background-color: var(--color-foreground);
                }
            }
        }

        .actions {
            align-self: center;
            flex-shrink: 0;
            padding: var(--spacing-medium) var(--spacing-large);
        }
    }

    .view {
        flex-grow: 1;
        overflow: auto;
    }
}
