.tempButtons{
    position: absolute;
    top: 100px;
    left: 50px;
    color: white;
    background: black;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.narrativesContainer{
    background-color: white;
    position: absolute;
    right: 0;
    top: 20%;
    display: flex;
    flex-direction: column;
}