.overview {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .header {
        flex-shrink: 0;
        padding: var(--spacing-medium-alt);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
    }

    .content {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        overflow: auto;

        .attribute {
            flex-basis: 50%;
            border: var(--width-separator-thin) solid var(--color-separator);
        }
    }
}
