.overview {
    display: flex;
    flex-direction: column;
    border-right: var(--width-separator-thin) solid var(--color-separator);
    overflow: auto;

    .attribute {
        border-bottom: var(--width-separator-thin) solid var(--color-separator-light);
    }
}
