
.popup div .mapboxgl-popup-content{
    border: 1px solid red;
    padding: 10px;
    h2{
        padding: 5px 10px;
        font-family: 'Source Sans Pro';
    }
    
    p{
        color: red;
        padding: 0 10px;
        font-family: 'Source Sans Pro';
    }
}

div {
    h2{
    padding: 5px;
    // font-family: 'Source Sans Pro';
}
}
p{
    color: red;
    padding: 0 10px;
    // font-family: 'Source Sans Pro';
}


.incidentsSlider{
    position: fixed;
    width: 30%;
    // border: 1px solid red;
    z-index: 2;
    left: calc(30% - 60px + 17.5%);
    bottom: 10%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.loaderInfo{
    position: fixed;
top: 54%;
left: 55%;
    .loader{
        background-color: white;
    }
}


