// .container {
//     margin-top: 8px;
//     width: 100%;
//     display: flex;
//     justify-content: center;

    .wrapper {
        width: 95%;
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;

    }

    .alertText {
        font-size: 14px;
        font-weight: 600;
    }


    .alertValue {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 15px;
        color: rgb(112, 140, 237);
        border: 1px solid rgb(112, 140, 237);
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
    }
// }