.point {
    display: flex;
    padding: var(--spacing-medium) 0;

    .coordinate-input {
        display: flex;
        flex-shrink: 0;

        .lat-input {
            margin-right: var(--spacing-medium);
        }

        .lng-input {
            margin-right: var(--spacing-medium);
        }
    }

    .region-input {
        flex-grow: 1;
    }
}
