@import '~base-scss/base';

.resource {
    display: flex;
    align-items: flex-start;
    padding: $spacing-small 0;

    .left-container {
        flex-grow: 1;

        .title {
            color: $color-accent;
            font-weight: $font-weight-bold;
        }

        .content {
            display: flex;
            flex-wrap: wrap;

            >* {
                padding-right: $spacing-medium;
            }
        }
    }

    .hr {
        margin: $spacing-small 0;
        border-bottom: $width-separator-thin solid $color-separator-light;
    }

    .right-container {
        flex-shrink: 0;

        .link {
            border-radius: 2px;
            background-color: $color-primary;
            padding: $spacing-extra-small $spacing-small;
            text-transform: uppercase;
            text-decoration: none;
            color: $color-text-on-primary;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
        }
    }
}
