@import '~base-scss/base';

.resource {
    display: flex;
    align-items: flex-start;
    padding: $spacing-small 0;

    .left-container {
        flex-grow: 1;

        .title {
            color: $color-accent;
            font-weight: $font-weight-bold;
        }

        .content {
            display: flex;
            flex-wrap: wrap;

            >* {
                padding-right: $spacing-medium;
            }
        }
    }

    .right-container {
        flex-shrink: 0;

        .link {
            outline: none;
            padding: $spacing-small;
            text-transform: uppercase;
            text-decoration: none;
            color: inherit;

            >span {
                color: $color-primary;
            }
        }
    }
}
