.contacts {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td,
    th {
        border: 1px solid #ddd;
      padding: 8px;
      font-weight: bold;
     
    }
    // td {
    //   word-break: break-word;
    // }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    // tr:hover {
    //   background-color: #ddd;
    // }

    th {
      // border: 1px solid #ddd;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      // background-color: #dddddd;
      // color: black;
      font-size: 14px;
      white-space: nowrap;
    }
}