.resource {
    padding: calc(var(--spacing-small) - var(--spacing-extra-small))  0;

    .heading {
        padding: var(--spacing-extra-small) var(--spacing-medium);
    }

    .basic-information {
        display: flex;

        .distance {
            flex-basis: 50%;
            padding: var(--spacing-extra-small) var(--spacing-medium);
        }

        .contact-number {
            flex-basis: 50%;
            padding: var(--spacing-extra-small) var(--spacing-medium);
        }
    }

    .google-link-container {
        padding: var(--spacing-extra-small) var(--spacing-medium);
        
        .link {
            text-transform: uppercase;
            color: var(--color-accent);
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-bold);
        }
    }

    .additional-details {
        padding: var(--spacing-small) var(--spacing-medium);
    }
}
