@import '~base-scss/base';

.loading {
    display: flex;
    position: absolute;
    top: $spacing-medium;
    left: 50%;
    align-items: center;
    z-index: 1;
    border: $width-separator-thin solid $color-separator-light;
    border-radius: 5px;
    background-color: $color-foreground;
    padding: $spacing-medium;
    text-align: center;
    font-size: $font-size-large;

    .spinner {
        margin-right: 6px;
    }
}
