.loading {
    display: flex;
    position: absolute;
    top: var(--spacing-medium);
    left: 50%;
    align-items: center;
    transform: translateX(-50%);
    z-index: 1111;
    border-radius: 3px;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, .3);
    background-color: var(--color-foreground);
    padding: calc(var(--spacing-large) - var(--spacing-medium));
    text-align: center;
    font-size: var(--font-size-large);

    .spinner {
        margin: var(--spacing-medium)
    }

    .text {
        padding: var(--spacing-medium);
    }
}
