.mainDivLand{
	position: fixed;
	bottom: 100px;
	right: 81px;
	z-index: 15;
	background-color: rgb(19, 32, 55);
	padding: 7px;
	border-radius: 10px;
	width: 190px;
	box-shadow: rgb(31, 38, 135 );
	.landcoverIconContainer{
		padding: 0;
		margin: 4px;
		color: white;
		// opacity: 0.87;
		display: flex;
		align-items: center;
		font-size: 12px;
		opacity: 0.67;
		.buildingIcon{
			// color:#d5d3d3;
			color:#f3f2f2;
		   width: 10px;
		   margin-right: 10px;
		}
		.agricultureIcon{
			width: 10px;
		   margin-right: 10px;
		//    margin-bottom: 5px;
		}
		.forestIcon{
			color:#00a811;
			width: 10px;
		   margin-right: 10px;
		}
		.otherIcon{
			color:#b4b4b4;
			width: 10px;
		   margin-right: 10px;
		}
		.canalIcon{
			color:#0670bc;
			border-bottom: 2px solid #0670bc;
			padding-right: 12px;
			position: relative;
			width: 22px;
			margin-right: 12px;
		}
		.roadIcon{
			border-bottom: 2px solid #6e6e6e;
			padding-right: 12px;
			font-size: 8px;
			position: relative;
			// bottom: 7px;
			width: 10px;
		   margin-right: 12px;
		}
		.bridgeLine{
			width: 10px;
			height: 6px;
		   border: 1px solid white;
		   margin-right: 12px;
			background: transparent;
			border-right-color: rgba(0,0,0,0);
			border-left-color: rgba(0,0,0,0);
			// font-size: 1px;
		}
		.riverIcon{
			color: #0670bc;
			opacity: 0.87;
			width: 10px;
			margin-right: 10px;
		}
		
	}

}

.mainDivLandClicked{
	position: fixed;
	bottom: 46px;
	left: 27.3%;
	z-index: 15;
	background-color: rgb(19, 32, 55);
	padding: 7px;
	border-radius: 10px;
	width: 190px;
	box-shadow: rgb(31, 38, 135 );
	.landcoverIconContainer{
		padding: 0;
		margin: 4px;
		color: white;
		// opacity: 0.87;
		display: flex;
		align-items: center;
		font-size: 12px;
		opacity: 0.67;
		.buildingIcon{
			// color:#d5d3d3;
			color:#f3f2f2;
		   width: 10px;
		   margin-right: 10px;
		}
		.agricultureIcon{
			width: 10px;
		   margin-right: 10px;
		//    margin-bottom: 5px;
		}
		.forestIcon{
			color:#00a811;
			width: 10px;
		   margin-right: 10px;
		}
		.otherIcon{
			color:#b4b4b4;
			width: 10px;
		   margin-right: 10px;
		}
		.canalIcon{
			color:#0670bc;
			border-bottom: 2px solid #0670bc;
			padding-right: 12px;
			position: relative;
			width: 22px;
			margin-right: 12px;
		}
		.roadIcon{
			border-bottom: 2px solid #947233;
			padding-right: 12px;
			font-size: 8px;
			position: relative;
			// bottom: 7px;
			width: 10px;
		   margin-right: 12px;
		}
		.bridgeLine{
			width: 10px;
			height: 6px;
		   border: 1px solid white;
		   margin-right: 12px;
			background: transparent;
			border-right-color: rgba(0,0,0,0);
			border-left-color: rgba(0,0,0,0);
			// font-size: 1px;
		}
		.riverIcon{
			color: #0670bc;
			opacity: 0.87;
			width: 10px;
			margin-right: 10px;
		}
		
	}
}






