.multiplexer {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    button {
        outline: none;
    }

    .navbar {
        flex-shrink: 0;
        z-index: 1;
        box-shadow: -3px 0 5px -3px rgba(0, 0, 0, 0.3);
    }

    .content {
        display: flex;
        position: relative;
        flex-grow: 1;
        overflow: auto;

        .left {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            z-index: 11;
            box-shadow: 3px 0 4px -3px rgba(0, 0, 0, 0.3);
            width: var(--width-left-panel);
            overflow: auto;

            .brand {
                flex-shrink: 0;
                z-index: 1;
                box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
            }

            .left-content-container {
                flex-grow: 1;
                overflow: auto;
            }
        }

        .main {
            display: flex;
            position: relative;
            flex-direction: column;
            flex-grow: 1;

            .map-actions {
                display: flex;
                position: absolute;
                top: var(--spacing-medium);
                left: var(--spacing-medium);
                z-index: 11;
                border: var(--width-separator-thin) solid var(--color-separator);
                background-color: var(--color-foreground);

                &.with-left-pane {
                    left: calc(var(--width-left-panel) + var(--spacing-medium));
                }
            }


            .map {
                flex-grow: 1;
                background-color: transparent;

                &.hidden {
                    visibility: hidden;
                    z-index: -1;
                }
            }
        }

        .right {
            display: flex;
            position: absolute;
            top: var(--spacing-medium);
            right: var(--spacing-medium);
            flex-direction: column;
            z-index: 11;
            border-radius: 5px;
            box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .3);
            background-color: var(--color-foreground);
            width: 240px;
            max-height: calc(100vh - 140px - 2 * var(--spacing-medium));

            .right-content-container {
                flex-basis: 50%;
                overflow: auto;
            }

            .filters {
                flex-grow: 1;
            }
        }

    }
}

.error-in-page,
.retryable-error-in-page {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: baseline;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 1111;
    border: 1px solid rgba(255, 0, 0, 0.2);
    border-radius: 3px;
    background-color: #ffffff;
    padding: 10;
    text-align: center;
    font-size: 18px;
}

:global {
    .mapboxgl-ctrl-bottom-right {
        .mapboxgl-ctrl-attrib {
            margin-right: var(--spacing-medium)!important;
            padding: 0!important;
        }
    }

    .mapboxgl-popup {
        .mapboxgl-popup-content {
            padding: 0;

            .mapboxgl-popup-close-button {
                padding: var(--spacing-extra-small) var(--spacing-medium);
                font-size: var(--font-size-super-large);
            }
        }
    }

    .mapboxgl-ctrl-logo {
        display: none!important;
    }

    .modal {
        border-radius: 5px;
        padding: var(--spacing-small);

        .modal-header {
            border-bottom: none;
        }

        .modal-footer {
            border-top: none;
        }
    }
}
