h1{
    padding: 0 50px;

}
.previewContainer{
    display:block;
    margin-top: 80px;
    border: 1px solid #f5f5f5;
    background-color: white;
    width: 297mm;
.rowOne{
    height: 12%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    h1{
        margin-bottom: 50px ;
        position: relative;
    padding: 0 50px;

    }
    padding: 0 50px;
}

.rowTwo{
   height: 12%;
   display: flex;
}


.rowThree{
    height: 12%;
    display: flex;
}

.rowFour{
   height: 12%;
    display: flex;
    justify-content: space-between;
}

}




