.streamflow-modal {
    display: flex;
    width: 90vw;
    height: 90vh;

    .body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .streamflow {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .header {
                display: flex;
                flex-shrink: 0;
                .heading {
                    flex-grow: 1;
                    padding: var(--spacing-small) var(--spacing-large);
                }

                .chart-download {
                    padding: var(--spacing-small) var(--spacing-large);
                }
            }

            .return-period {
                display: flex;
                flex-shrink: 0;
                padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;
                border: 2px solid rgb(161, 161, 161);
                width: min-content;     
                padding: 0px;
                margin: 15px 0px;

                        .mainTAble {
                    margin-top: 20px;
                }
                margin-left: 15px;
                th,td{
                    padding: 5px;
                    border:  1.2px solid rgb(90, 90, 90);
                }
                .template {
                    margin-top: 20px;
                }
                .returnPeriodTable{
                    &:nth-child() {
                        border-bottom: 1px solid black;

                    }
                }
                
                
                    .headerTitle {
                        // border-right: 1px solid black;
                        padding: 7px 15px;
                        font-size: 14px;
                        margin: 0;
                        // border-bottom: 1px solid black;
                        text-align: start;
                    }
                
                    .headerTitleGroup{
                        // border-bottom: 1px solid black;
                        text-align: start;
                    }
                
                    .endItem{
                        border-bottom: 1px solid black;
                    }
                
                
                .justifiedContent {
                    text-align: start;
                }
            }

            .chart {
                display: flex;
                flex-grow: 1;
                overflow: hidden;
            }

        }
    }

}
