.menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: var(--color-text);

    .icon {
        padding: var(--spacing-medium);
        font-size: var(--font-size-extra-large);
    }

    .title {
        padding: var(--spacing-extra-small);
        font-size: var(--font-size-extra-small);
        font-weight: bold;
    }

    &:hover {
        color: var(--color-accent);
    }

    &.active {
        background-color: var(--color-accent);
        color: var(--color-text-on-accent);
    }

    &.disabled {
        color: var(--color-text-disabled);
        pointer-events: none;
    }
}
