@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@200&display=swap');
.container {
    padding-left: 162px;
    font-family: 'Fira Sans', sans-serif;
    .title {
        font-size: 38px;
        font-weight: 600;
        margin-top: 20vh;
        line-height: 1.5em;
        width:70%;
        color: #3E3E3E;
    }
    .subtitle {
        margin-top: 10px;
        font-size: 20px;    
        line-height: 1.2em;
        width:60%;
        color: #676767;
    }
}