    .mainDiv
    {
        background: rgba( 19, 32, 55, 1 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 12.0px );
        -webkit-backdrop-filter: blur( 12.0px );
        border-radius: 5px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 10px;
        h2{
            color: white;
            opacity: 0.85;
            font-size: 12px;
        }
        .populationContainer{
            display: flex;
            margin-bottom: 20px;
            margin-top: 10px;
            margin-right: 10px;
            margin-left: 10px;
            
            p{
                line-height: 0;
                position: relative;
                bottom: 20px;
            }
    
            .populationTextContainer{
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                .populationText{
                    // width:10px;
                    color: white;
                    opacity:0.67;
                    font-family: 'Source Sans Pro';
                    position: relative;
                    bottom: 0;
                    // margin-bottom: 5px;
                    font-size: 11px;
                    padding-left: 3px;
                }
            }
        }
    
        .hazardItemContainer{
            display: flex;
            padding: 0;
            margin: 0;
           .legendBtnSelected{
            font-size: 14px;
            display: flex;
            background-color: transparent;
            border: none;
            color: #036ef0; 
            // opacity: 0.87;
            margin-bottom: 5px;
            align-items: center;
            font-family: 'Source Sans Pro';
            filter: saturate(100%);
            cursor: pointer;
            .educationHexagon{
                width: 14px;
                margin: 0 7px 0 0;
            }
           }
            .legendBtn{
                font-size: 14px;
                display: flex;
                background-color: transparent;
                border: none;
                color: white; 
                opacity: 0.67;
                margin-bottom: 5px;
                align-items: center;
                font-family: 'Source Sans Pro';
                filter: saturate(100%);
                cursor: pointer;
                .educationHexagon{
                    width: 14px;
                    margin: 0 7px 0 0;
                }
            }
        }
    }
    



