.tabs {
    position: absolute;
    top: var(--spacing-medium);
    right: var(--spacing-medium);
    transition: .2s all ease-in;
    z-index: 1;
    background-color: var(--color-foreground);
    padding: 0 var(--spacing-small);

    a {
        text-decoration: none;
    }
}
