.vizrisknmenupagecontainer{
    position: relative;
    width: 100vw;
    background: rgba(0,68,107,1);
    height:100vh;
    margin-top: -12px;

    .hamburgerBtnContainer{
        display: flex;
        position: absolute;
        width: 150px;
        justify-content: flex-start;
        top: 50px;
        left: 100px;
        .cropper{
            position: relative;
            width: 15px;
            height:10px;
            top: 30px;
            left: -20px;
            background-color: rgba(0,68,107,1);
        }
    }

    .vizrisknmenupage{
        position: absolute;
        padding: 150px 0 50px 200px;


        .menuTitle{
            color: rgb(175, 220, 241);
        }

        .menuItems{
            color: rgb(175, 220, 241);

        }
    }

    .hamburgerBtn{
        position: relative;
        // top: 30px;
        // left: 60px;
        // width: 50px;
        // height: 40px;
        color: rgb(175, 220, 241);
        font-size: 50px;    
    }
}
