.mainVzContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;

    .backdrop {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: aqua;
    }

    .hamburgerBtnContainer {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 100%;
        z-index: 9999;

        .hamburgerBtn {
            color: white;
            display: flex;
            align-items: center;
            padding: 0;

            filter: saturate(100%);

            .hamburgerBtnIcon {
                font-size: 30px;
                color: rgb(175, 220, 241);
            }

            .strong {
                color: rgb(175, 220, 241);
                display: none;
            }

        }


    }

}

.mainVzContainerClicked {
    @extend .mainVzContainer;
    background-color: #0c2432;
}