.top {
    border-bottom: 1px solid  var(--color-separator-alt);
    padding: var(--spacing-small);

    .left {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &:focus {
            outline: none;
        }

        .title {
            font-size: var(--font-size-medium);
        }
    }
}
.bottom {
    margin: var(--spacing-small-alt)
        var(--spacing-large-alt)
        var(--spacing-small-alt)
        var(--spacing-large-alt);

    .desc {
        font-size: var(--font-size-medium);
    }

    .layers {
        margin-top: var(--spacing-medium);
        display: flex;
        flex-direction: column;

    }
}
