.flood-list {
    border-bottom:var(--spacing-super-small)
                    solid
                    var(--color-separator-alt);
    margin-left: var(--spacing-medium);
    margin-right: var(--spacing-small);

    &:last-child {
        border: none;
    }

    .top {
        display: flex;
        padding: var(--spacing-small) 0;

        .left {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;

            &:focus {
                outline: none;
            }

            .title {
                font-size: var(--font-size-medium);
            }
        }
    }
    .bottom {
        margin: var(--spacing-small-alt)
                var(--spacing-large-alt)
                var(--spacing-small-alt)
                var(--spacing-large-alt);

        .desc {
            font-size: var(--font-size-medium);
        }

        .layers {
            display: flex;
            flex-direction: column;
            margin-top: var(--spacing-medium);

            label {
                padding-bottom: var(--spacing-small);
            }
        }
    }
}
