.relief-modal {
    width: 600px;
    height: 660px;

    .modal-body {
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow-y: auto;

        .tabs {
            flex-shrink: 0;
        }

        .flow {
            flex-grow: 1;
            width: 100%;
            overflow: auto;
        }

        .release {
            flex-grow: 1;
            width: 100%;
            overflow: auto;
        }
    }
}
