@import '~base-scss/base';

.main {
    left: 0;
    transform: none;
    width: calc(100vw - (var(--width-navbar)));
    height: 100vh;

    iframe {
        border: 0;
        background-color: $color-foreground;
        width: 100%;
        height: 100%;
    }
}

