
    .populationContainer{
        display: flex;
        // flex-direction: column;
        // height: 60px;
        margin-bottom: 20px;
        margin-left: 10px;
        .populationIndContainer{
            display: flex;
            // width:60px;
            flex-direction: column;
            // border: 1px solid gray;
            padding-right: 4px;
            .populationIndicator1{
                width: 12px;
                height: 20px;
                // 
                background-color: #9a3404;
                border-radius: 6px 6px 0 0;

            }
            .populationIndicator2{
                width: 12px;
                height: 20px;
                // 
                background-color: #d95f0e; 
                // margin-right: 10px;
            }
            .populationIndicator3{
                width: 12px;
                height: 20px;
                // 
                background-color:#fe9b2a;

            }
            .populationIndicator4{
                width: 12px;
                height: 20px;
                // 
                background-color:#fed990;

            }
            .populationIndicator5{
                width: 12px;
                height: 20px;
                // 
                background-color:#ffffd6;
                border-radius: 0 0 6px 6px;

            }
  
        }
        .populationTextContainer{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            .populationText{
                // width:10px;
                color: white;
                opacity:0.87;
                font-family: 'Source Sans Pro';
            }
        }
    }


    .hazardItemContainer{
        display: flex;
        padding: 0;
        margin: 0;
       
        .legendBtn{
            display: flex;
            background-color: transparent;
            border: none;
            color: white; 
            opacity: 0.87;
            margin-bottom: 15px;
            align-items: center;
            font-family: 'Source Sans Pro';
            filter: saturate(100%);
            cursor: pointer;
            .educationHexagon{
                width: 15px;
                margin: 0 7px 0 0;
            }
        }
    }



