.location-input {
    display: flex;
    flex-direction: column;

    .point {
        flex-shrink: 0;
        padding-top: var(--spacing-medium);
    }

    .map-container {
        flex-grow: 1;
    }
}
