.containerToggle {
    display: flex;
    align-items: center;
    position: absolute;
    top: 35px;
    left: 4%;

    .toggleDiv {
        display: flex;
        justify-content: center;
        height: 35px;
        width: 15px;
        background-color: #03212e;
        border-radius: 10px;
        cursor: pointer;
        outline: none;
        border: 1px solid white;

        .circle {
            position: relative;
            top: 0;
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 50%;
            margin: 2px 0px;
            transition: all 0.15s ease-in
        }

        .circleMove {
            @extend .circle;
            top: 21px;
            margin: 1px 0px;
            transition: all 0.15s ease-in;
        }
    }

    .textSection {
        .textLabel {
            margin: 0 5px;
            color: white;

            &:first-child {
                padding-bottom: 4px;
            }
        }


    }
}