.legendContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    background: rgb(24,37,57);

    background: rgba( 19, 32, 55, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    .subHeading{
        color: white;
        opacity: 0.87;
        line-height: 0;
        padding-left: 5px;
        font-size: 10px;
    }
    .floodMainContainer{
        display:flex;
        padding: 7px 0 15px 0;
        .floodSubGroup{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-right: 20px;
            .hazardItemContainer{
                display: flex;
                .legendBtn{
                    background-color: transparent;
                    border: none;
                    color: white;
                    .yearsIcon{
                        margin-right: 10px;
                        color: rgb(70, 70, 70);
                        font-size: 12px;
                    }
                    .yearsIconClicked{
                        margin-right: 10px;
                        color: rgb(196, 193, 193);
                        font-size: 12px;
                    }
                    .exposedIcons{
                        margin-right: 10px;
                        color: rgb(70, 70, 70);
                        font-size: 12px;
                    }
                    .exposedIconsClicked{
                        margin-right: 10px;
                        color: rgb(255, 72, 17);
                        font-size: 12px;
                    }
                }
           
            }
        }
    }
    .floodDepthContainer{
        display: flex;
        flex-direction: column;
        // 
        margin-bottom: 20px;
        .floodDepth{
            display: flex;
            // width:60px;
            .floodIndicator1{
                width: 16.6%;
                height: 10px;
                // 
                background-color: rgb(220, 235, 249);
                border-radius: 5px 0 0 5px;

            }
            .floodIndicator2{
                width: 16.6%;
                height: 10px;
                // 
                background-color:rgb(149,202,228); 
                // margin-right: 10px;
            }
            .floodIndicator3{
                width: 16.6%;
                height: 10px;
                // 
                background-color:rgb(39,144,203);
            }
            .floodIndicator4{
                width: 16.6%;
                height: 10px;
                // 
                background-color:rgb(0,108,187); 
            }
            .floodIndicator5{
                width: 16.6%;
                height: 10px;
                // 
                background-color:rgb(0,74,162);
            }
            .floodIndicator6{
                width: 16.6%;
                height: 10px;
                // 
                background-color:rgb(6,41,111); 
                border-radius: 0 5px 5px 0;
            }
        }
        .floodDepthText{
            display:flex;
            // width:60px;
            justify-content: space-between;
            // 
            .floodText{
                width:10px;
                color: white;
                opacity:0.87;
            }
        }
    }
    h1{
        color: white;
    }
    width: 200px;
    h2{
        margin-top: 20px;
    }
    .hazardItemContainer{
        display: flex;
        padding: 0;
        margin: 0;
        .safeshelter{
            color: rgb(236,254,0);
        }
        .chisapaniText{
            color: white;
            opacity: 0.87;
            padding-left: 8px;
        }
        .yearsIcon{
            padding-right: 10px;
            color: rgb(70, 70, 70);
            font-size: 14px;
        }
        .yearsIconClicked{
            padding-right: 10px;
            color: rgb(196, 193, 193);
            font-size: 14px;
        }
        .exposedIcons{
            padding-right: 10px;
            color: rgb(70, 70, 70);
            font-size: 14px;
        }
        .exposedIconsClicked{
            padding-right: 10px;
            color: rgb(196, 193, 193);
            font-size: 14px;
        }
       
        .legendBtn{
            background-color: transparent;
            border: none;
            color: white;
            opacity: 0.87;
        }
    }
        .hazardIndicator1 {
            height: 15px;
            width: 15px;
            background-color: rgb(220, 235, 249);
            margin-left: 10px; 
        }
        .hazardIndicator2 {
            // border: 1px solid gray;
            height: 15px;
            width: 15px;
            background-color: rgb(149,202,228);   
            margin-left: 10px; 
        }
        .hazardIndicator3 {
            // border: 1px solid gray;
            height: 15px;
            width: 15px;
            background-color: rgb(39,144,203);   
            margin-left: 10px; 
        }
        .hazardIndicator4 {
            // border: 1px solid gray;
            height: 15px;
            width: 15px;
            background-color: rgb(0,108,187);         
            margin-left: 10px; 
        }
        .hazardIndicator5 {
            // border: 1px solid gray;
            height: 15px;
            width: 15px;
            background-color: rgb(0,74,162); 
            margin-left: 10px; 
        }
        .hazardIndicator6 {
            // border: 1px solid gray;
            height: 15px;
            width: 15px;
            background-color: rgb(6,41,111);  
            margin-left: 10px; 
            margin-bottom: 20px;
        }
        .hazardIndicatorText{
            color: white;
            opacity: 0.87;
            padding-left:7px;
        }
    .legendItemContainer{
        display: flex;
        width: 150px;
        .legendBtn{
            background-color: transparent;
            border: none;
            color: white;
            .yearsIcon{
                padding-right: 10px;
                color: rgb(70, 70, 70);
                font-size: 14px;
            }
            .yearsIconClicked{
                padding-right: 10px;
                color: rgb(196, 193, 193);
                font-size: 14px;
            }
            .exposedIcons{
                padding-right: 10px;
                color: rgb(70, 70, 70);
                font-size: 14px;
            }
            .exposedIconsClicked{
                padding-right: 10px;
                color: rgb(255, 72, 17);
                font-size: 14px;
            }
        }
   
      
    }
}



