    .legendContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 4px 0 4px 5px;
        h1{
            color: white;
        }
        width: 200px;
        .legendItemContainer{
            display: flex;
            width: 150px;
            .legendBtn{
                background-color: transparent;
                border: none;
                color: white;
                .yearsIcon{
                    padding-right: 10px;
                    color: rgb(70, 70, 70);
                    font-size: 14px;
                }
                .yearsIconClicked{
                    padding-right: 10px;
                    color: rgb(196, 193, 193);
                    font-size: 14px;
                }
                .exposedIcons{
                    padding-right: 10px;
                    color: rgb(70, 70, 70);
                    font-size: 14px;
                }
                .exposedIconsClicked{
                    padding-right: 10px;
                    color: rgb(255, 72, 17);
                    font-size: 14px;
                }
            }
        
                
        }
}



