.lists {
    display: flex;
    flex-direction: column;

    .list-item {
        display: flex;
        align-items: center;
        .switch {
            margin: var(--spacing-small-alt) var(--spacing-small-alt);
        }
    }

    .list-title {
        font-weight: var(--font-weight-bold);
    }
}