@import '~base-scss/base';

.tooltip {
    border: $width-separator-thin solid $color-separator-light;
    background-color: $color-foreground;
    padding: $spacing-large;

    .heading {
        padding-bottom: $spacing-small;
        font-weight: $font-weight-bold;
    }

    .geoarea-name,
    .incident-date {
        padding: $spacing-extra-small 0;
    }

    .hr {
        margin: $spacing-small 0;
        border: $width-separator-thin solid $color-separator-light;
    }

    .inducer,
    .cause {
        line-height: 1.8;
    }
}
