.expandable-view {
    >.header {
        display: flex;

        .expand-button {
            display: flex;
            align-items: center;
            flex-grow: 1;
            outline: none;
            padding: 0;
            text-align: left;
            text-transform: none;
            color: var(--color-text);
            font-size: var(--font-size-medium);

            .header-content {
                flex-grow: 1;
                padding: var(--spacing-medium);
            }

            .info-icon {
                flex-shrink: 0;
                opacity: 0;
                margin: var(--spacing-small) var(--spacing-medium);
                color: var(--color-accent);
                font-size: var(--font-size-extra-large);
            }

            .expand-icon {
                flex-shrink: 0;
                margin: var(--spacing-small) var(--spacing-medium);
            }

            &:hover {
                .info-icon {
                    opacity: 1;
                }
            }
        }
    }

    &.expanded {
        >.header {
            .expand-button {
                color: var(--color-primary);
            }
        }
    }
}
