.container{
background-color: white;
position: relative;
top: -45px;
padding: 45px 0;
    .tableContainer{
        background-color: white;
        margin: 0 auto;
        width: 90vw;
    }
    .heading{
        margin:3vw;
    }
}