@import '~base-scss/base';

.multi-list-selection {
    .label {
        margin-bottom: $spacing-extra-small;
    }

    .options {
        display: flex;
        flex-wrap: wrap;

        .option {
            flex-basis: calc(100% / 4 - calc(var(--width-separator-thin) * 2));
            flex-grow: 0;
            margin: $width-separator-thin;
            padding: $spacing-extra-small;

            .icon {
                transition: $duration-transition-medium all ease-in-out;
                opacity: .5;
                filter: grayscale(77%);

                .svg {
                    width: 16px;
                    height: 16px;

                    path {
                        fill: $color-text;
                    }
                }
            }

            .title {
                transition: $duration-transition-medium all ease-in-out;
                text-transform: none;
                color: $color-text-disabled;
                font-size: $font-size-extra-small;
            }

            &:hover {
                .icon {
                    opacity: 1;
                }

                .title {
                    color: $color-text;
                }
            }

            &.active {
                background-color: $color-accent;

                .icon {
                    opacity: 1;
                    filter: none;

                    .svg {
                        path {
                            fill: $color-text-on-accent;
                        }
                    }
                }

                .title {
                    color: $color-text-on-accent;
                }
            }
        }
    }
}
