@import '~base-scss/base';

.multi-list-selection {
    padding: 0;

    .options {
        display: flex;
        flex-wrap: wrap;

        .option {
            flex-basis: calc(100% / 3);

            .icon {
                transition: $duration-transition-medium all ease-in-out;
                opacity: .5;
                padding: $spacing-small;
                filter: grayscale(77%);

                .svg {
                    width: 24px;
                    height: 24px;

                    path {
                        fill: $color-text;
                    }
                }
            }

            .title {
                transition: $duration-transition-medium all ease-in-out;
                text-transform: none;
                color: $color-text-disabled;
            }

            &:hover {
                .icon {
                    opacity: 1;
                }

                .title {
                    color: $color-text;
                }
            }

            &.active {
                .icon {
                    opacity: 1;
                    filter: none;

                    .svg {
                        path {
                            fill: $color-accent;
                        }
                    }
                }

                .title {
                    color: $color-text;
                }
            }
        }
    }
}
