.left-pane {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    overflow: auto;

    .visualizations {
        display: flex;
        flex-shrink: 0;
        padding: var(--spacing-small) var(--spacing-medium);

        .chart {
            width: 50%!important;
            height: 240px;
            overflow: hidden;
        }

        :global {
            .recharts-legend-item-text {
                font-size: var(--font-size-small);
            }
        }
    }

    .stat {
        flex-basis: unset;
        flex-grow: 0;
        flex-shrink: 0;
        padding: var(--spacing-small) var(--spacing-large);
    }

    .projects-list {
        flex-grow: 1;
        overflow: auto;
    }
}
