.left-pane {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    width: var(--width-left-pane);
    overflow-y: auto;

    .stats-container {
        flex-shrink: 0;
        padding: var(--spacing-small) var(--spacing-medium);
    }

    .projects-list {
        flex-grow: 1;
        margin-top: var(--spacing-medium);
        overflow-y: auto;

        .heading {
            border-bottom: var(--width-separator-thin) solid var(--color-separator);
            padding: var(--spacing-small) var(--spacing-medium);
            color: var(--color-accent);
        }
    }
}
