@import '~base-scss/base';

.subtype {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: $spacing-small;
    border: $width-separator-thin solid $color-separator;
    border-style: dashed;
    background-color: $color-foreground-alt;
    padding: $spacing-small;
    width: calc(25% - 2 * #{$spacing-small});
    height: 160px;

    &:hover {
        background-color: $color-foreground;
    }
}

.splash-screen-modal {
    display: flex;
    flex-direction: column;
    border: $width-separator-thin solid $color-primary;
    padding: 0;
    width: 80vw;
    height: 60vh;
    overflow: auto;

    .top {
        flex-shrink: 0;
        padding: 0 $spacing-medium;

        h1, h2 {
            margin: $spacing-medium 0;
            color: $color-primary;
        }

    }

    .wizard {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .first-page {
            padding: 0 $spacing-medium;

            .area-select {
                display: flex;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }
}

.map {
    width: 100vw;
    height: 100vh;
    font-family: inherit;

    :global {

        .mapboxgl-ctrl-bottom-right {
            right: $width-navbar;
        }

        .mapboxgl-ctrl-attrib {
            display: none;
        }

        .mapboxgl-ctrl-logo {
            display: none;
        }
    }
}

.selection-page {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .selection-page-header {
        flex-shrink: 0;
        padding: 0 $spacing-medium;

        .bottom-container {
            display: flex;
            align-items: center;

            .search-input {
                flex-grow: 1;
            }

            .button {
                flex-shrink: 0;
                margin-left: $spacing-small;
            }
        }
    }

    .selection-page-list {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        overflow-y: auto;
    }
}
