@import '~base-scss/base';

.block {
    display: flex;
    align-items: center;
    flex-basis: calc(25% - var(--spacing-large) * 2);
    flex-direction: column;
    justify-content: center;
    margin: $spacing-large;
    border: $width-separator-thin solid $color-separator;
    border-radius: 5px;
    background-color: $color-foreground;
    cursor: pointer;
    padding: $spacing-medium;
    min-width: 320px;
    min-height: 240px;
    font-size: var(--font-size-extra-large);

    &:hover {
        background-color: $color-foreground-alt;
    }
}

.splash-screen-modal {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 0;
    width: 80vw;
    height: 90vh;
    overflow: auto;

    >.top {
        flex-shrink: 0;
        background-color: var(--color-primary);
        padding: $spacing-super-large;
        color: var(--color-text-on-primary);

        .heading {
            .welcome-text {
                margin-bottom: var(--spacing-medium);
                font-size: var(-font-size-large);
            }

            .platform-name {
                font-size: var(--font-size-ultra-large);
            }
        }
    }

    .wizard {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        .first-page {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: auto;

            .heading {
                flex-shrink: 0;
                margin-top: $spacing-large;
                padding: $spacing-medium $spacing-super-large;
            }

            .area-select {
                display: flex;
                align-items: center;
                flex-grow: 1;
                flex-wrap: wrap;
                justify-content: center;
                padding: $spacing-large;
                overflow: auto;
            }
        }
    }
}

.map {
    width: 100vw;
    height: 100vh;
    font-family: inherit;

    :global {
        .mapboxgl-ctrl-bottom-right {
            right: $width-navbar;
        }

        .mapbox-ctrl-bottom-left {
            margin: 0;
        }

        .mapboxgl-ctrl-attrib {
            opacity: .1;

            &:hover {
                opacity: .6;
            }
        }

        .mapboxgl-ctrl-logo {
            opacity: .1;

            &:hover {
                opacity: .6;
            }
        }
    }
}

.selection-page {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .selection-page-header {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        background-color: var(--color-foreground-alt);
        padding: var(--spacing-medium);

        .heading {
            flex-grow: 1;
            padding: var(--spacing-medium);
        }

        .search-input {
            flex-shrink: 0;
            margin: 0 var(--spacing-large);
        }

        .button {
            flex-shrink: 0;
            margin-right: var(--spacing-medium);
            margin-left: var(--spacing-large);
            font-size: var(--font-size-large);
        }
    }

    .selection-page-list {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: center;
        margin: var(--spacing-medium) 0;
        overflow-y: auto;

        .selection-page-block {
            flex-basis: 240px;
            margin: var(--spacing-medium);
            height: 108px;
            min-height: auto;
        }
    }
}
