.form {
    position: absolute;
    top: 50%;
    bottom: unset;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--color-foreground);
    padding: var(--spacing-extra-large);

    // FIXME: this
    min-width: 400px;
    height: auto;

    .heading {
        margin-bottom: var(--spacing-medium);
    }

    .input {
        margin: var(--spacing-medium) 0;
    }
}
