.itemContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: 1px solid red;
    margin-right: 15px;
    align-items: center;
    ul{
        color: #005185 !important;
        list-style: none;
        padding-left: 0;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .horLine{
        width: 100%;
    }
    img{
        width: 45px;
        height: 45px;
        color: #a56a2e;
        path{
            fill: #a56a2e !important;
        }
    }
    path{
        fill: #a56a2e !important;
    }
    .large{
        font-size: 22px;
    }
}
