.landslide-item {
    border-bottom: var(--width-separator-thin) solid var(--color-separator-light);
    padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;

    .header {
        display: flex;
        padding: var(--spacing-small) calc(var(--spacing-medium) - var(--spacing-small));

        .switch {
            flex-shrink: 0;
            margin: 0 var(--spacing-small);
        }

        .label {
            flex-grow: 1;
            padding: 0 var(--spacing-small);
            font-weight: var(--font-weight-bold);
            color: var(--color-text-label);
        }
    }

    .content {
        .label {
            text-transform: uppercase;
            color: var(--color-text-label);
            font-size: var(--font-size-small);
        }
        .opacity-input-container {
            padding: var(--spacing-small) var(--spacing-medium);
        }
    }

    &.active {
        .header {
            .label {
                color: var(--color-primary);
            }
        }
    }
}
