.archive-legend {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: var(--spacing-small) 0;
    .legend-item {
        display: flex;
        padding: var(--spacing-small) var(--spacing-medium);

        .text {
            font-weight: var(--font-weight-bold);
        }
        .icon {
            background-color: blue;
            border-radius: 5px;
            margin-left: 3px;
            width: 15px;
        }
    }
}