.assesment {
    padding: 0.45vh 10px;
    display: flex;
    flex-direction: row;
}

.icons {
    padding-bottom: 5px;
}

.noData {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.wrapper {
    padding-top: 10px;
}
