.left-container {
    background-color: var(--color-foreground-alt);
    overflow: auto;

    .aggregated-stat {
        display: flex;
        flex-wrap: wrap;
        border-bottom: var(--width-separator-thin) solid var(--color-separator-light);

        .stat-metric {
            flex-basis: 50%;
            padding: var(--spacing-medium);
        }

        .value {
            order: 1;
            font-size: var(--font-size-super-large);
        }

        .label {
            order: 2;
            text-transform: capitalize;
            font-size: var(--font-size-small);
        }
    }
}

.right-container {
    top: 54px;
    background-color: var(--color-foreground);
    padding: var(--spacing-medium);
}
