.mainTitleDiv > h1{
    position: fixed !important;
    background-color: #0c2432;
    width: calc(30% - 78px);
    z-index: 9999;
    top:60px;
    font-family:none;
    color:white;
    font-size:25px;
}