.loaderInfo {
    position: fixed;
    top: 50%;
    left: 46%;

    // border: 1px solid red;
    .loader {
        background-color: white;
    }

    .loaderText {
        color: white;
        position: relative;
        top: 40px !important;
        left: 3px;
    }
}
:global{
    .mainTitleDiv {
        h1{
        position: fixed !important;
        background-color: #0c2432;
        width: calc(30% - 78px);
        z-index: 9999;
        top:60px;
        font-family:none;
        color:white;
        font-size:25px;
    }
    }
}