@import '~base-scss/base';

.tooltip {
    border: $width-separator-thin solid $color-separator-light;
    background-color: $color-foreground;
    padding: $spacing-large;

    .heading {
        padding-bottom: $spacing-small;
        font-weight: $font-weight-bold;
    }

    .geoarea-name,
    .incident-date {
        padding: $spacing-extra-small 0;
    }

    .hr {
        margin: $spacing-small 0;
        border: $width-separator-thin solid $color-separator-light;
    }

    .inducer,
    .cause {
        line-height: 1.8;
    }

    .people-loss {
        margin-top: $spacing-small;
        border-top: $width-separator-thin solid $color-separator-light;
        padding-top: $spacing-small;
    }
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

.marker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border: $width-separator-thin solid $color-accent;
    border-radius: 50%;
    background-color: $color-foreground;
    width: $font-size-large-alt;
    height: $font-size-large-alt;
    animation: fade-in $duration-transition-slow 1s ease-in forwards;

    .icon {
        height: $font-size-super-small;
    }
}

.resource-detail-popup {
    margin-top: $spacing-medium;
}
