@import '~base-scss/base';

.tooltip {
    border: $width-separator-thin solid $color-separator-light;
    background-color: $color-foreground;
    padding: $spacing-large;

    .heading {
        padding-bottom: $spacing-small;
        font-weight: $font-weight-bold;
    }

    .geoarea-name,
    .incident-date {
        padding: $spacing-extra-small 0;
    }

    .hr {
        margin: $spacing-small 0;
        border: $width-separator-thin solid $color-separator-light;
    }

    .inducer,
    .cause {
        line-height: 1.8;
    }

    .people-loss {
        margin-top: $spacing-small;
        border-top: $width-separator-thin solid $color-separator-light;
        padding-top: $spacing-small;
    }
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
}

.icon {
    opacity: 0;
    height: $font-size-large;
    animation: fade-in $duration-transition-slow 1.2s ease-in forwards;
}

.resource-detail-popup {
    margin-top: $spacing-medium;
}
