.loss-form {
    position: relative;
    flex-grow: 1;

    .container {
        padding: var(--spacing-large);

        .footer {
            display: flex;
            justify-content: flex-end;
        }
    }
}
