.data-table-modal {
    width: 90vw;
    height: 90vh;

    .modal-body {
        display: flex;
        flex-direction: column;

        .table {
            flex-grow: 1;
            overflow: auto;
        }
    }

    :global {
        .row {
            &:nth-child(even) {
                background-color: var(--color-background);
            }

            .cell {
                padding: var(--spacing-medium-alt);
            }
        }
    }
}
