@import '~base-scss/base';

$width-filter-container: var(--width-right-panel);
$width-navbar-right: var(--width-navbar-right);
$width-left-pane: var(--width-left-panel);

.right {
    padding: 0;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: fade-in $duration-transition-slow ease-in forwards;
}

.main {
    left: var(--spacing-medium);
    transform: none;

    .hazard-legend {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        border: $width-separator-thin solid $color-separator-light;
        border-radius: 5px;
        background-color: $color-foreground;
        padding: $spacing-small;

        .legend-item {
            padding: $spacing-extra-small $spacing-small;
            color: $color-text-label;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;

            >div:first-child {
                border-radius: 50%;
            }
        }
    }

    .point-size-legend-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        border: $width-separator-thin solid $color-separator-light;
        border-radius: 5px;
        background-color: $color-foreground;
        padding: $spacing-small;
        max-width: calc(100vw - calc(var(--width-left-panel) + var(--width-right-panel) + var(--width-navbar-right) + calc(var(--spacing-medium) * 4)));

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: flex-end;

            .heading {
                align-self: flex-start;
                flex-grow: 1;
                padding: $spacing-medium;
                color: $color-primary;
            }
        }

        .point-size-legend {
            display: flex;
            align-items: center;
            justify-content: center;
            .legend-symbol {
                padding: $spacing-extra-small $spacing-small;
            }

            .minor {
                border-radius: 50%;
                background-color: $color-text-label;
                width: 10px;
                height: 10px;
            }

            .major {
                border-radius: 50%;
                background-color: $color-text-label;
                width: 14px;
                height: 14px;
            }

            .severe {
                border-radius: 50%;
                background-color: $color-text-label;
                width: 18px;
                height: 18px;
            }

            .catastrophic {
                border-radius: 50%;
                background-color: $color-text-label;
                width: 22px;
                height: 22px;
            }
        }
    }

    &.left-pane-expanded {
        left: calc(var(--width-left-panel) + var(--spacing-medium) * 2);

        .hazard-legend {
            max-width: calc(100vw - calc(var(--width-left-panel) + var(--width-navbar-right) + calc(var(--spacing-medium) * 3) + 100px));
        }

        .point-size-legend-container {
            max-width: calc(100vw - calc(var(--width-left-panel) + var(--width-navbar-right) + calc(var(--spacing-medium) * 3) + 100px));
        }

        &.right-pane-expanded {
            .hazard-legend {
                max-width: calc(100vw - calc(var(--width-left-panel) + var(--width-right-panel) + var(--width-navbar-right) + calc(var(--spacing-medium) * 4) + 100px));
            }

            .point-size-legend-container {
                max-width: calc(100vw - calc(var(--width-left-panel) + var(--width-right-panel) + var(--width-navbar-right) + calc(var(--spacing-medium) * 4) + 100px));
            }
        }
    }

    &:not(.left-pane-expanded) {
        &.right-pane-expanded {
            .hazard-legend {
                max-width: calc(100vw - calc(var(--width-right-panel) + var(--width-navbar-right) + calc(var(--spacing-medium) * 3) + 100px));
            }

            .point-size-legend-container {
                max-width: calc(100vw - calc(var(--width-right-panel) + var(--width-navbar-right) + calc(var(--spacing-medium) * 3) + 100px));
            }
        }
    }

}

.hover-detail-box {
    display: flex;
    position: absolute;
    top: $spacing-medium;
    right: calc(var(--width-navbar-right) + calc(var(--spacing-medium) * 2) +
    calc(var(--font-size-small) * 10));
    flex-direction: column;
    z-index: 1;
    border: $width-separator-thin solid $color-separator-light;
    border-radius: 3px;
    background-color: $color-foreground;
    padding: $spacing-small $spacing-large;

    &.right-pane-expanded {
        right: calc(var(--width-right-panel) + var(--width-navbar-right) + calc(var(--spacing-medium) * 2));
    }
}
