.left-pane-container {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .left-pane {
        flex-grow: 1;
    }
}

.legend-container {
    display: flex;
    bottom: var(--spacing-medium);
    left: calc(var(--width-left-panel) + var(--spacing-medium));
    transform: none;
    border: var(--width-separator-thin) solid var(--color-separator);
    height: 117px;

    .hazard-legend {
        border-left: var(--width-separator-thin) solid var(--color-separator);
        background-color: var(--color-foreground);
        padding: var(--spacing-medium);
        overflow: auto;

        .legend-item {
            padding: var(--spacing-extra-small) 0;

            >:first-child {
                border-radius: 50%;
                width: var(--font-size-small);
                height: var(--font-size-small);
            }

            >:nth-child(2) {
                font-size: var(--font-size-small);
            }
        }
    }

    .point-size-legend-container {
        background-color: var(--color-foreground);
        padding: var(--spacing-medium);

        .header {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: flex-end;
            margin-bottom: var(--spacing-medium);

            .heading {
                align-self: flex-start;
                flex-grow: 1;
                color: var(--color-primary);
            }
        }

        .point-size-legend {
            .legend-item {
                margin: var(--spacing-small) 0;
                height: var(--font-size-medium);
                overflow: hidden;

                >:nth-child(2) {
                    padding: 0 var(--spacing-medium);
                    font-size: var(--font-size-small);
                }
            }

            .symbol {
                border-radius: 50%;
            }
        }
    }
}

.map-download-button {
    position: absolute;
    top: var(--spacing-medium);
    left: calc(var(--width-left-panel) + var(--spacing-medium) * 2);
    z-index: 11;
}
