@import '~base-scss/base';

.right {
    padding: 0;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .incidents {
        display: flex;
        position: relative;
        flex-direction: column;
        border: $width-separator-thin solid $color-separator-light;
        background-color: $color-foreground;
        width: 280px;

        >.header {
            flex-shrink: 0;

            .heading {
                padding: $spacing-large;
                color: $color-primary;
            }
        }

        .incident-list {
            flex-grow: 1;
            overflow: auto;

            .incident {
                cursor: pointer;
                padding: $spacing-large;

                &:hover {
                    background-color: rgba(0, 0, 0, .05);
                }
            }
        }
    }
}
