.mainDiv{
    background: rgba( 19, 32, 55, 1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
    .toggleCritical{
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        color: white;
        opacity: 0.87;
        text-transform: uppercase;
        cursor: pointer;
        .chevrontoggle{
            font-size: 10px;
        padding-left: 5px;
        padding-bottom: 4px;
            display: none;
        }
        h2{
            font-size:12px;
        }
    }
    .criticalIcons{
        // border: 1px solid red;
        .toggleContainer{
            .infraIconContainer{
                text-transform: capitalize;
                margin: 3px 0;
                .allIconSelected{
                    font-size: 16px;
                    color: #036ef0;
                    padding-right: 5px;
                    padding-left: 5px;
    
                }
                .allIcon{
                    font-size: 16px;
                    color: white;
                    opacity: 0.87;
                    padding-right: 5px;
                    padding-left: 2px;
    
                }
                .canalIcon{
                    border-bottom:2px solid #0670bc;
                    width: 25px;
                    margin-right: 12px;
                    font-size: 15px;
                    position: relative;
                    // bottom: 7px;
                }
                .roadIcon{
                    border-bottom:2px solid #a7a5a5;
                    width: 25px;
                    margin-right: 12px;
                    font-size: 15px;
                    position: relative;
                    // bottom: 7px;
                }
                .criticalButtonSelected{
                    font-family: 'Source Sans Pro';
                    background: transparent;
                    // color: #1664c1;
                    color: #036ef0;
                    display: flex;
                    align-items: center;
                    border: none;
                    font-size: 11px;
                    // opacity: 0.87;
                    // width: 100%;
                    cursor: pointer;
                    filter: saturate(100%);
                    // border: 1px solid red;
                    margin: 0;
                    padding: 0;
                    height: 20px;
                    // padding-top: 10px;
                    
                    .svgIcon{
                        width: 25px;
                    }
                      path{
                        fill: #1664c1;
                        // fill: white;
                    }
                    polygon{
                        fill: #1664c1;
                        // fill: white;
                    }
                }
                .criticalButton{
                    font-family: 'Source Sans Pro';
                    background: transparent;
                    color: white;
                    display: flex;
                    align-items: center;
                    border: none;
                    font-size: 11px;
                    opacity: 0.67;
                    // width: 100%;
                    cursor: pointer;
                    filter: saturate(100%);
                    // border: 1px solid blue;
                    margin: 0;
                    padding: 0;
                    height: 20px;
                    // padding-top: 10px;
                    white-space: nowrap;
                    path{
                        fill: white;
                        opacity: 0.87;
                    }
                    polygon{
                        fill: white;
                        opacity: 0.87;
    
                    }
                    .svgIcon{
                        width: 25px;
                    }
                }
            }
        }
    }
}


