.left {
    display: flex;
    flex-direction: column;
    overflow: auto;

    .left-pane {
        flex-grow: 1;
        overflow: auto;
    }
}

.right {
    top: 54px;
}

.main {
    display: flex;
    right: var(--spacing-medium);
    bottom: var(--spacing-medium);
    left: calc(var(--width-left-panel) + var(--spacing-medium));
    flex-direction: column;
    transform: none;
    border: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);

    .top {
        display: flex;
        flex-shrink: 0;
        padding: var(--spacing-medium) 0;

        .info {
            display: flex;
            align-items: center;
            flex-grow: 1;

            .now-showing-label {
                padding: 0 var(--spacing-medium);
                text-transform: uppercase;
                font-size: var(--font-size-small);
            }

            .start {
                padding: 0 var(--spacing-small);
                font-weight: var(--font-weight-bold);
            }

            .separator {
                padding: 0 var(--spacing-extra-small);
            }

            .end {
                padding: 0 var(--spacing-small);
                font-weight: var(--font-weight-bold);
            }
        }

        .bucket-input-container {
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .label {
                padding: 0 var(--spacing-medium);
                text-transform: uppercase;
                font-size: var(--font-size-small);
            }

            .time-bucket-input {
                margin: 0 var(--spacing-medium);
            }
        }
    }

    .seekbar-container {
        display: flex;

        .left {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: center;
            margin: var(--spacing-medium);

            .playback-button {
                font-size: var(--font-size-extra-large);
            }
        }

        .right {
            flex-grow: 1;
            margin: var(--spacing-medium);

            .seekbar {
                height: 48px;
            }
        }
    }
}
