@import '~base-scss/base';

.filter {
    border: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-foreground);
    padding: 0 var(--spacing-extra-small-alt);

    .region-select-input {
        margin: calc(var(--spacing-medium) + var(--spacing-extra-small-alt)) var(--spacing-medium);
    }

    .real-time-sources-input {
        margin: var(--spacing-medium);
    }

    .other-sources-input {
        margin: var(--spacing-medium);
    }

    :global {
        .list-selection {
            .list-selection-options {
                .checkbox {
                    .checkmark {
                        margin-right: var(--spacing-extra-small-alt);
                    }

                    .label {
                        margin-right: var(--spacing-small-alt);
                    }
                }
            }
        }
    }
}
