.filter {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing-extra-small-alt);

    .region-select-input {
        display: flex;
        flex-direction: column;
        margin: calc(var(--spacing-medium) + var(--spacing-extra-small-alt)) var(--spacing-medium);
    }

    .real-time-sources-input {
        display: flex;
        flex-direction: column;
        margin: var(--spacing-medium);
    }

    .other-sources-input {
        display: flex;
        flex-direction: column;
        margin: var(--spacing-medium);

        .list {
            display: flex;
            flex-wrap: wrap;
        }
    }

    :global {
        .list-selection {
            .list-selection-options {
                .checkbox {
                    .checkmark {
                        margin-right: var(--spacing-extra-small-alt);
                    }

                    .label {
                        margin-right: var(--spacing-small-alt);
                    }
                }
            }
        }
    }
}
