.incident-item {
    display: flex;
    padding: calc(var(--spacing-large) - var(--spacing-medium));
    overflow: auto;

    &.hovered,
    &:hover {
        background-color: var(--color-background-hover);
    }

    &.new {
        background-color: var(--color-background-new-item);

        &.hovered,
        &:hover {
            background-color: var(--color-background-new-item-hover);
        }
    }

    .left {
        flex-shrink: 0;
        padding: var(--spacing-medium);

        .icon {
            width: 32px;
            height: 32px;

            path {
                fill: currentColor;
            }
        }
    }

    .right {
        flex-grow: 1;
        // border-bottom: var(--width-separator-thin) solid var(--color-separator-light);
        padding: var(--spacing-medium) 0;
        overflow: hidden;

        .header {
            display: flex;
            align-items: center;

            .heading {
                flex-grow: 1;
                padding: var(--spacing-extra-small) var(--spacing-medium);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: var(--font-weight-bold);
            }

            .date {
                flex-shrink: 0;
            }
        }

        .content {
            display: flex;
            flex-direction: column;

            .location-output {
                display: flex;
                padding: 0 calc(var(--spacing-medium) - var(--spacing-extra-small-alt));

                .province-name,
                .district-name,
                .municipality-name {
                    padding: var(--spacing-extra-small) var(--spacing-extra-small-alt);

                    &:after {
                        content: ',';
                    }
                }

                .street-address {
                    padding: var(--spacing-extra-small) var(--spacing-extra-small-alt);
                }
            }

            .output-group {
                display: flex;
                flex-wrap: wrap;

                .source,
                .status,
                {
                    padding: var(--spacing-extra-small) var(--spacing-medium);
                }
            }
        }

        .admin-actions,
        .public-actions {
            .button {
                padding: var(--spacing-small) var(--spacing-medium);
                font-size: var(--font-size-medium);
            }

            .link {
                padding: var(--spacing-small) var(--spacing-medium);
                text-transform: uppercase;
                color: var(--color-accent);
                font-weight: var(--font-weight-bold);
            }
        }

        .public-actions {
            padding: calc(var(--spacing-medium) - var(--spacing-small)) 0;
        }
    }
}

