.incident-item {
    display: flex;
    height: 100px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;

    &:hover {
        background-color: var(--color-background-hover);
    }

    &.new {
        background-color: var(--color-background-new-item);

        &:hover {
            background-color: var(--color-background-new-item-hover);
        }
    }

    .left {
        flex-shrink: 0;
        padding: var(--spacing-medium);

        .icon {
            width: 20px;
            height: 20px;

            path {
                fill: currentColor;
            }
        }

        .default-icon {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            color: var(--color-danger);
            font-size: var(--font-size-extra-large);
        }
    }

    .right {
        flex-grow: 1;
        border-bottom: var(--width-separator-thin) solid var(--color-separator-light);
        padding: var(--spacing-medium) 0;
        overflow: hidden;

        .header {
            display: flex;
            align-items: center;

            .heading {
                flex-grow: 1;
                padding: 0 var(--spacing-medium);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: var(--font-weight-bold);
            }

            .icon {
                flex-shrink: 0;
                padding: 0 var(--spacing-medium);

                &.verified {
                    color: var(--color-success);
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            padding: var(--spacing-extra-small) var(--spacing-medium);

            >* {
                padding-right: var(--spacing-medium);
            }
        }
    }
}

