@import '~base-scss/base';

$width-filter-container: 260px;
$width-vertical-nav: 64px;

$width-non-tabular-container: 360px;
$width-tabular-container: calc(100vw - #{$width-filter-container + $width-vertical-nav + $spacing-medium * 3});

.left-pane {
    .show-alerts-button-container {
        transform-origin: 0 0;

        .show-alerts-button {
            padding: $spacing-extra-small $spacing-small;
            color: $color-danger;
            font-size: $font-size-extra-large;
        }
    }

    .alerts-container {
        transform-origin: 0 0;
        border: $width-separator-thin solid $color-separator-light;

        .non-tabular-container {
            transform-origin: 0 0;
            background-color: $color-foreground;
            width: $width-non-tabular-container;
            height: calc(100vh - #{$height-navbar + $spacing-medium * 2});

            .alerts {
                display: flex;
                position: relative;
                flex-direction: column;
                height: 50%;

                .header {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .heading {
                        flex-grow: 1;
                        padding: $spacing-medium;
                        color: $color-primary;
                    }

                    .hide-alerts-button {
                        flex-shrink: 0;
                    }
                }

                .alert-list {
                    flex-grow: 1;
                    overflow: auto;

                    .alert {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        padding: $spacing-medium;

                        .icon {
                            flex-shrink: 0;
                            margin-right: $spacing-medium;
                            width: 20px;
                            height: 20px;
                            color: $color-danger;
                            font-size: $font-size-extra-large;
                            object-fit: contain;
                        }

                        .title {
                            flex-grow: 1;
                        }

                        &:hover {
                            background-color: rgba(0, 0, 0, .05);
                        }
                    }
                }
            }

            .key-statistics {
                display: flex;
                flex-direction: column;
                height: 50%;
                overflow-y: auto;

                .header {
                    flex-shrink: 0;

                    .heading {
                        padding: $spacing-medium;
                        color: $color-primary;
                    }
                }

                .content {
                    padding: $spacing-medium;

                    .donut-charts {
                        display: flex;

                        .donut-chart-1 {
                            flex-basis: 50%;
                            width: 100px;
                            height: 100px;
                        }

                        .donut-chart-2 {
                            flex-basis: 50%;
                            width: 100px;
                            height: 100px;
                        }
                    }

                    .pie-chart {
                        height: 200px;
                    }

                    .bar-chart {
                        margin-top: $spacing-medium;
                        height: 160px;
                    }
                }
            }
        }

        .tabular-container {
            display: flex;
            flex-direction: column;
            transform-origin: 0 0;
            background-color: $color-foreground;
            width: $width-tabular-container;
            height: calc(100vh - #{$height-navbar + $spacing-medium * 2});

            .header {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                justify-content: flex-end;
            }

            .tabular-view {
                flex-grow: 1;
                overflow: auto;
            }
        }
    }
}
