@import '~base-scss/base';

$width-filter-container: var(--width-right-panel);
$width-vertical-nav: var(--width-navbar-right);

$width-non-tabular-container: var(--width-left-panel);
$width-tabular-container: calc(100vw - #{$width-filter-container} - #{$width-vertical-nav} - calc(#{$spacing-medium} * 3));

$color-background: rgba(255, 255, 255, .9);

.left-pane {
    .show-alerts-button-container {
        align-items: center;
        transform-origin: 0 0;

        .show-alerts-button {
            padding: $spacing-extra-small $spacing-small;
            color: $color-danger;
            font-size: $font-size-extra-large;
        }
    }

    .overview-container {
        transform-origin: 0 0;
        border: $width-separator-thin solid $color-separator;
        border-radius: $radius-border-large;

        .tabular-container {
            display: flex;
            flex-direction: column;
            transform-origin: 0 0;
            background-color: $color-foreground;
            width: $width-tabular-container;
            height: calc(100vh - calc(#{$height-navbar} + #{$spacing-medium} * 2));

            .header {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                justify-content: flex-end;

                .heading {
                    align-self: flex-start;
                    flex-grow: 1;
                    padding: $spacing-medium;
                    color: $color-primary;
                }
            }

            .tabular-view {
                flex-grow: 1;
                overflow: auto;
            }
        }

        .non-tabular-container {
            display: flex;
            flex-direction: column;
            transform-origin: 0 0;
            border-radius: $radius-border-large;
            background-color: $color-background;
            width: $width-non-tabular-container;
            height: calc(100vh - calc(#{$height-navbar} + #{$spacing-medium} * 2));
            overflow: auto;

            >.header {
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .heading {
                    flex-grow: 1;
                    padding: $spacing-medium;
                    color: $color-primary;
                }

                .hide-alerts-button {
                    flex-shrink: 0;
                    margin-right: $spacing-small;
                }
            }

            .alerts-and-events {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                overflow: auto;

                .alerts-container {
                    display: flex;
                    flex-basis: 50%;
                    flex-direction: column;
                    border-top: $width-separator-thin solid $color-separator-light;
                    overflow: auto;

                    .heading {
                        flex-shrink: 0;
                        padding: $spacing-medium;
                    }

                    .alert-list {
                        flex-grow: 1;
                        overflow: auto;
                    }
                }

                .events-container {
                    display: flex;
                    flex-basis: 50%;
                    flex-direction: column;
                    border-top: $width-separator-thin solid $color-separator-light;
                    overflow: auto;

                    .heading {
                        flex-shrink: 0;
                        padding: $spacing-medium;
                    }

                    .event-list {
                        flex-grow: 1;
                        overflow: auto;
                    }
                }
            }
        }
    }
}
