.left-pane {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    width: var(--width-left-panel);
    overflow: auto;

    .stats {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        justify-content: space-around;
        border-bottom: var(--width-separator-thin) solid var(--color-separator-light);
        padding: var(--spacing-small);

        .stat {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: var(--spacing-medium);

            .value {
                order: 1;
                font-size: var(--font-size-super-large);
            }

            .label {
                order: 2;
            }
        }
    }

    .bottom-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        %container {
            display: flex;
            flex-direction: column;
            padding: var(--spacing-small);
            overflow: auto;

            .header {
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .icon {
                    flex-shrink: 0;
                    margin: 0 var(--spacing-medium);
                    background-color: var(--color-text-label);
                    width: var(--font-size-small);
                    height: var(--font-size-small);
                }

                .heading {
                    flex-grow: 1;
                    padding: var(--spacing-medium);
                    color: var(--color-primary);
                }
            }

            .content {
                flex-grow: 1;
                overflow: auto;
            }
        }

        .alert-list {
            @extend %container;
            flex-basis: 60%;
            border-bottom: var(--width-separator-thin) solid var(--color-separator-light);

            .alert-icon {
                border-radius: 50%;
            }

            .add-alert-button {
                flex-shrink: 0;
                margin: 0 var(--spacing-small);
                padding: var(--spacing-small) var(--var(--spacing-medium) - var(--spacing-small));
            }
        }

        .event-list {
            flex-basis: 40%;
            @extend %container;
        }

        .alert-empty,
        .event-empty {
            padding: var(--spacing-medium);
            text-align: center;
            color: var(--color-text-disabled);
            font-size: var(--font-size-large);
        }
    }
}
