.vrSideBar::-webkit-scrollbar {
    display: none;
  }
  .heading-style{
    font-family: 'Playfair Display';
    font-size: 28px;
    color: white;
    line-height: 1.4em;
}
.para-style{
    color:white;
    font-size: 15px;
    font-family: 'Source Sans Pro';
    padding: 0 10px 0 0;
    opacity: 0.87;
    line-height: 1.4em;

}
    .vrSideBar{
        scrollbar-width: none;
        // position: fixed;
        background-color:rgb(12,36,50);
        color:#b6d6e4;
        padding: 40px 20px 20px 30px;
        overflow-y: scroll;
        min-height: 90vh;
        p{
            font-size: 14px;
            color: white;
            opacity: 0.85;
        }
        h1{
            color: white;
            opacity: 0.85;
        }
    }


    .customTooltip{
        background-color: rgb(190, 190, 190) !important;
        color: #444;
        padding-bottom: 5px;
        border-radius: 4px;
        h2{
            color: rgb(41, 40, 40) !important;
            font-size: 12px !important;
            line-height: 1em;
            padding: 10px 0 0 10px;
            display: flex;
            justify-content: center;

        }
        p{
            color: rgb(41, 40, 40) !important;
            line-height: 0.7em !important;
            font-size:12px !important;
            display: flex;
            justify-content: center;
        }
    }
    .recharts-tooltip-wrapper{
        background-color: white !important;
        border: 1px solid gray;
        z-index: 100;
        color: blue;
        padding: 0px !important;

    }




    .loaderInfo{
        position: fixed;
    top: 54%;
    left: 55%;
        .loader{
            background-color: white;
        }
    }